Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

derive mcap scene sources from topic inventory
  app/packages/multimodal/src/adapters/mcap/scene-sources.test.ts
  app/packages/multimodal/src/adapters/mcap/scene-sources.ts
Due: none

pair camera annotations from the scene inventory
  app/packages/multimodal/src/adapters/mcap/react/McapCameraTile.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapLidarTile.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-tiles.ts
Due: none

let the point-cloud panel compose layers
  app/packages/multimodal/src/adapters/mcap/react/GridRenderer.tsx
  app/packages/multimodal/src/visualization/panels/point-cloud.test.tsx
  app/packages/multimodal/src/visualization/panels/point-cloud.tsx
Due: none

swap the nuscenes mock for file-driven scene inventory
  app/packages/multimodal/src/adapters/mcap/react/McapModalRenderer.module.css
  app/packages/multimodal/src/adapters/mcap/react/McapModalRenderer.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapStreams.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-modal-layout.test.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-modal-layout.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-sample-topics.ts
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-scene-inventory.ts
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-scene-inventory.tsx
  app/packages/multimodal/src/components/MultiModalPlayback/MultiModalPlayback.test.tsx
Due: none

recast tiles as image and multi-source 3d
  app/packages/multimodal/src/adapters/mcap/react/Mcap3dTile.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapImageAnnotationOverlay.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapImageTile.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapLidarTile.tsx
  app/packages/multimodal/src/adapters/mcap/react/mcap-layout-persistence.ts
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-modal-layout.test.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-modal-layout.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-tiles.ts
  app/packages/multimodal/src/adapters/mcap/scene-sources.test.ts
  app/packages/multimodal/src/adapters/mcap/scene-sources.ts
Due: none

select playback frames as latest at or before the playhead
  app/packages/multimodal/src/adapters/mcap/grid-preview.test.ts
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-frame-transforms.test.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-topics.test.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-register-mcap-data-stream.test.tsx
  app/packages/multimodal/src/adapters/mcap/resources/inline.test.ts
  app/packages/multimodal/src/adapters/mcap/resources/inline.ts
  app/packages/multimodal/src/adapters/mcap/resources/predecessor-store.ts
  app/packages/multimodal/src/adapters/mcap/resources/read-synchronized-message-batch.ts
  app/packages/multimodal/src/adapters/mcap/resources/read-topic-time-bounds.ts
  app/packages/multimodal/src/adapters/mcap/scene-sources.test.ts
  app/packages/multimodal/src/adapters/mcap/scene-sources.ts
  app/packages/multimodal/src/adapters/mcap/sync.test.ts
  app/packages/multimodal/src/adapters/mcap/sync.ts
  app/packages/multimodal/src/adapters/mcap/types.ts
  app/packages/multimodal/src/adapters/mcap/worker/playback-worker-rpc.ts
  app/packages/multimodal/src/adapters/mcap/worker/playback-worker-types.ts
  app/packages/multimodal/src/adapters/mcap/worker/worker-client.ts
Due: none

add predecessor and topic-bounds walks to the mcap reader
  app/packages/multimodal/src/adapters/mcap/reader/default-reader.ts
  app/packages/multimodal/src/adapters/mcap/reader/index.ts
  app/packages/multimodal/src/adapters/mcap/reader/latest-before.test.ts
  app/packages/multimodal/src/adapters/mcap/reader/latest-before.ts
  app/packages/multimodal/src/adapters/mcap/reader/message-index.ts
  app/packages/multimodal/src/adapters/mcap/reader/topic-time-bounds.test.ts
  app/packages/multimodal/src/adapters/mcap/reader/topic-time-bounds.ts
  app/packages/multimodal/src/adapters/mcap/reader/types.ts
Due: none

let tile chrome summarize many streams
  app/packages/multimodal/src/adapters/mcap/react/McapTileStreamState.test.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapTileStreamState.tsx
  app/packages/multimodal/src/adapters/mcap/react/mcap-stream-status.ts
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-topic-stream.ts
  app/packages/playback/src/lib/playback/use-stream.ts
Due: none

hoist mcap tile kinds into shared constants
  app/packages/multimodal/src/adapters/mcap/react/mcap-tile-types.ts
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-tiles.ts
Due: none

surface stream starts and stale frames in tile chrome
  app/packages/multimodal/src/adapters/mcap/react/McapTileStreamState.tsx
  app/packages/multimodal/src/adapters/mcap/react/mcap-stream-status.ts
  app/packages/multimodal/src/adapters/mcap/react/use-register-mcap-data-stream.ts
Due: none

resolve playback layouts from device and source heuristics
  app/packages/multimodal/src/adapters/mcap/react/McapImageTile.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapModalRenderer.tsx
  app/packages/multimodal/src/adapters/mcap/react/playback-layout.test.ts
  app/packages/multimodal/src/adapters/mcap/react/playback-layout.ts
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-modal-layout.test.tsx
  app/packages/multimodal/src/adapters/mcap/react/use-mcap-modal-layout.tsx
Due: none

keep batch test comments dataset-agnostic
  app/packages/multimodal/src/adapters/mcap/resources/inline.test.ts
Due: none

carry record counts through scene sources
  app/packages/multimodal/src/adapters/mcap/scene-sources.test.ts
  app/packages/multimodal/src/adapters/mcap/scene-sources.ts
  app/packages/multimodal/src/scene-inventory/SceneInventoryProvider.tsx
Due: none

add missing files
  app/packages/core/src/components/Common/AggregationGuard.tsx
  app/packages/core/src/components/Common/TimedOutCounts.tsx
Due: none

address comments
  app/packages/core/src/components/Common/CountSubcount.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/RangeSlider.tsx
Due: none

revert unnecessary moves
  app/packages/annotation/src/deltas.ts
  app/packages/annotation/src/persistence/index.ts
  app/packages/annotation/src/persistence/useGetLabelDelta.ts
  app/packages/annotation/src/persistence/useRecordLabelEdits.ts
  app/packages/annotation/src/persistence/useSidebarDeltaSupplier.ts
  app/packages/annotation/src/util/labelPersistence.test.ts
  app/packages/annotation/src/util/labelPersistence.ts
  app/packages/core/src/client/annotationClient.test.ts
  app/packages/core/src/client/annotationClient.ts
  app/packages/core/src/components/Actions/Tag/Tag.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useAnnotationStatus.tsx
  e2e-pw/src/oss/specs/MISSING-annotate-persistence.spec.ts
  fiftyone/server/routes/sample.py
  tests/unittests/server/routes/test_sample.py
Due: pylint

cleanup backend
  app/packages/annotation/src/persistence/useLighterDeltaSupplier.ts
  app/packages/annotation/src/persistence/useRecordLabelEdits.ts
  app/packages/annotation/src/util/labelPersistence.test.ts
  app/packages/annotation/src/util/labelPersistence.ts
  app/packages/core/src/client/annotationClient.test.ts
  app/packages/core/src/client/annotationClient.ts
  fiftyone/server/routes/sample.py
  tests/unittests/server/routes/test_sample.py
Due: pylint

memoize fallback component
  app/packages/core/src/components/Common/AggregationGuard.tsx
Due: none

rabbit comments and add test coverage
  app/packages/annotation/src/deltas.test.ts
  app/packages/annotation/src/deltas.ts
  app/packages/annotation/src/events.ts
  app/packages/annotation/src/hooks/useRegisterAnnotationCommandHandlers.test.ts
  app/packages/annotation/src/hooks/useRegisterAnnotationCommandHandlers.ts
  app/packages/annotation/src/util/labelPersistence.test.ts
  app/packages/core/src/client/annotationClient.ts
  app/packages/state/src/hooks/useUpdateSamples.test.ts
  app/packages/state/src/hooks/useUpdateSamples.ts
  app/packages/state/src/recoil/modal.ts
  e2e-pw/src/oss/specs/MISSING-annotate-persistence.spec.ts
  tests/unittests/server/routes/test_sample.py
Due: pylint

log error
  app/packages/commands/src/actions/ActionManager.ts
Due: none

don't warn on transient
  app/packages/annotation/src/hooks/useRegisterAnnotationEventHandlers.ts
Due: none

fix quick edit
  app/packages/annotation/src/persistence/useLighterDeltaSupplier.ts
Due: none

fix _cls
  app/packages/annotation/src/deltas.ts
Due: none

Persist source path during developer installs
  install.sh
Due: none

fix comments
  app/packages/annotation/src/deltas.test.ts
  app/packages/annotation/src/persistence/applyDelta.ts
  app/packages/annotation/src/persistence/pendingEdits.ts
  app/packages/annotation/src/persistence/use3dDeltaSupplier.ts
  app/packages/annotation/src/persistence/useSidebarDeltaSupplier.ts
  app/packages/state/src/hooks/useLookerStore.ts
  e2e-pw/src/oss/specs/MISSING-annotate-persistence.spec.ts
  fiftyone/server/routes/sample.py
  tests/unittests/server/routes/test_sample.py
Due: pylint

remove dead code and reorganize
  fiftyone/server/annotations.py
  fiftyone/server/routes/sample.py
  fiftyone/server/utils/datasets.py
  fiftyone/server/utils/json/__init__.py
  fiftyone/server/utils/json/serialization.py
  tests/unittests/server/routes/test_sample.py
  tests/unittests/server/test_annotations.py
  tests/unittests/server/utils/test_datasets.py
Due: pylint

[claude] consolidated model serving
  fiftyone/server/routes/runtime_assets.py
Due: pylint

[claude] sam2 video in browser
  app/packages/annotation/src/agents/SAM2PropagationBrowserAgent.ts
  app/packages/annotation/src/providers/BrowserAnnotationProvider.ts
  app/packages/annotation/src/providers/index.ts
  app/packages/annotation/src/providers/sam2VideoPropagation.ts
  app/packages/annotation/src/providers/sam2VideoPropagationBrowser.ts
  app/packages/annotation/src/providers/types.ts
  app/packages/annotation/src/providers/videoPropagation.ts
  app/packages/annotation/src/providers/worker.ts
  app/packages/utilities/src/videoLabels.ts
  app/packages/video-annotation/src/hooks/useRegisterVideoAnnotationCommandHandlers.ts
  fiftyone/server/routes/sam2_video.py
Due: pylint

register panel serverside
  app/packages/operators/src/Panel/register.tsx
  app/packages/operators/src/built-in-operators.ts
  app/packages/operators/src/loader.tsx
  app/packages/operators/src/operators.ts
  fiftyone/operators/operations.py
  fiftyone/operators/panel.py
  fiftyone/operators/server.py
  tests/unittests/panels/panel_tests.py
Due: pylint

perf(spaces): add Suspense boundary around panel component
  app/packages/spaces/src/components/Panel.tsx
Due: none

perf(state): defer html2canvas import to first screenshot
  app/packages/state/src/hooks/useScreenshot.ts
Due: none

perf(looker): lazily construct SVG icons instead of at import time
  app/packages/looker/src/elements/common/controls.ts
  app/packages/looker/src/elements/imavid/playback-rate.ts
  app/packages/looker/src/elements/video.ts
  app/packages/looker/src/icons/index.ts
Due: none

docs: update dependencies
  .github/workflows/build-docs.yml
  requirements/docs.txt
Due: none

perf(app): deterministic manualChunks for heavy lazy vendor libs
  app/packages/app/vite.config.ts
Due: frontend-check

perf(map): load mapbox-gl Map lazily via React.lazy
  app/packages/map/src/index.ts
Due: none

perf: load react-plotly.js lazily (off the critical path)
  app/packages/components/src/components/Plot/Plotly.tsx
  app/packages/core/src/plugins/SchemaIO/components/PlotlyView.tsx
  app/packages/embeddings/src/index.ts
Due: none

perf(core): split histograms panel into a lazily-loaded chunk
  app/packages/core/src/plugins/HistogramsPanel.tsx
  app/packages/core/src/plugins/histograms.tsx
Due: none

docs: update python version on README
  docs/README.md
Due: none

refactor(multimodal): Rename temporal tags collection to just 'tags'
  fiftyone/multimodal/tags/__init__.py
  fiftyone/multimodal/tags/_temporal_tags.py
  fiftyone/multimodal/tags/temporal_tags.py
  tests/unittests/import_export_tests.py
  tests/unittests/multimodal/temporal_tags_tests.py
  tests/unittests/server/routes/test_multimodal_temporal_tags.py
Due: pylint

feat(tags): Add 'kind' column to tags
  fiftyone/multimodal/server/routes.py
  fiftyone/multimodal/tags/__init__.py
  fiftyone/multimodal/tags/_temporal_tags.py
  fiftyone/multimodal/tags/temporal_tags.py
  tests/unittests/import_export_tests.py
  tests/unittests/multimodal/temporal_tags_tests.py
  tests/unittests/server/routes/test_multimodal_temporal_tags.py
Due: pylint
