Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

updates
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/worker/index.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  fiftyone/server/metadata.py
Due: pylint

fix issue with clearing sample selection
  app/packages/core/src/components/Actions/Selected.tsx
  app/packages/state/src/hooks/useToPatches.ts
Due: none

fix values search
  app/packages/core/src/components/Filters/categoricalFilter/CategoricalFilter.tsx
  fiftyone/core/aggregations.py
  fiftyone/server/routes/values.py
Due: pylint

dynamic operator input
  app/packages/core/src/Root/Root.tsx
  app/packages/core/src/index.ts
  app/packages/operators/src/OperatorBrowser.tsx
  app/packages/operators/src/OperatorPrompt.tsx
  app/packages/operators/src/operators.ts
  app/packages/operators/src/state.ts
  app/packages/operators/src/types.ts
  fiftyone/operators/definition.py
  fiftyone/operators/executor.py
  fiftyone/operators/operator.py
  fiftyone/operators/registry.py
  fiftyone/operators/server.py
  fiftyone/operators/types.py
Due: pylint

removing space
  docs/source/tutorials/pointe.ipynb
Due: ipynb-strip

adding pointe standalone example
  docs/source/tutorials/images/pointe_pointcloud_viewer_rubber_duck.png
  docs/source/tutorials/pointe.ipynb
Due: ipynb-strip

fix bounds issue
  app/packages/looker/src/worker/threed-label-processor.ts
Due: none

remove debugger
  app/packages/looker/src/worker/threed-label-processor.ts
Due: none

Metadata tweaks (#2816)
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/worker/index.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  fiftyone/server/metadata.py
Due: pylint

fix values search (#2817)
  app/packages/core/src/components/Filters/categoricalFilter/CategoricalFilter.tsx
  fiftyone/core/aggregations.py
  fiftyone/server/routes/values.py
Due: pylint

changed rubber duck to headphones
  docs/source/tutorials/images/pointe_headphones.png
  docs/source/tutorials/images/pointe_headphones_fo.gif
  docs/source/tutorials/images/pointe_pointcloud_viewer_rubber_duck.png
  docs/source/tutorials/images/pointe_rubber_duck.png
  docs/source/tutorials/pointe.ipynb
Due: ipynb-strip

fix tagging
  app/packages/core/src/components/Actions/utils.tsx
  app/packages/state/src/recoil/aggregations.ts
  fiftyone/server/aggregations.py
  fiftyone/server/routes/tag.py
  fiftyone/server/routes/tagging.py
  fiftyone/server/tags.py
Due: pylint

fix group mode
  fiftyone/server/tags.py
Due: pylint

check for reserved keywords on sample, raise ValueError on reserved keyword
  fiftyone/core/sample.py
  tests/unittests/sample_tests.py
Due: pylint

update lock
  app/yarn.lock
Due: none

Adds a Dockerfile for fiftyone-app plus torch (#206)
  deployment/docker/Dockerfile
  deployment/docker/Dockerfile-torch
Due: none

remove unused file
  docs/source/tutorials/images/pointe_tag_bad_samples.gif
  docs/source/tutorials/pointe.ipynb
Due: ipynb-strip

more explicit font declaration
  app/packages/looker-3d/src/action-bar/PointSize.tsx
  app/packages/looker-3d/src/action-bar/style.module.css
Due: none

starting release notes
  docs/source/release-notes.rst
Due: none

bumping fiftyone-brain and voxel51-eta versions
  setup.py
Due: pylint

bumping desktop version
  setup.py
Due: pylint

fix sorting
  app/packages/core/src/components/Actions/similar/utils.ts
  app/packages/state/src/hooks/hooks-utils.ts
  fiftyone/server/query.py
Due: pylint

fix sorting, update sample, frame masks
  app/packages/core/src/components/Actions/similar/utils.ts
  app/packages/looker/src/worker/index.ts
  app/packages/state/src/recoil/groups.ts
  fiftyone/server/routes/sort.py
Due: pylint

add comment for important
  app/packages/looker-3d/src/action-bar/style.module.css
Due: none

bake torch model into the torch container
  deployment/docker/Dockerfile-torch
Due: none

add details about where to get the `__models__` directory
  deployment/docker/Dockerfile-torch
Due: none

bug
  app/packages/core/src/components/Actions/similar/utils.ts
Due: none

Release fixes (#2823)
  app/packages/core/src/components/Actions/similar/utils.ts
  app/packages/looker/src/worker/index.ts
  app/packages/state/src/hooks/hooks-utils.ts
  app/packages/state/src/recoil/groups.ts
  fiftyone/server/query.py
  fiftyone/server/routes/sort.py
Due: pylint

updating version numbers
  fiftyone/constants.py
  setup.py
Due: pylint

set_view teams fix
  package/teams/fiftyone/teams/mutation.py
Due: pylint

don't raise errors if brain method can't be parsed
  fiftyone/server/query.py
Due: pylint

set view
  docs/source/recipes/custom_exporter.ipynb
  docs/source/recipes/custom_parser.ipynb
  docs/source/recipes/draw_labels.ipynb
  fiftyone/server/routes/sort.py
Due: pylint, ipynb-strip

commit
  docs/source/recipes/custom_exporter.ipynb
  docs/source/recipes/custom_parser.ipynb
  docs/source/recipes/draw_labels.ipynb
Due: ipynb-strip

added 0.20 release notes
  docs/source/release-notes.rst
Due: none

typo
  docs/source/release-notes.rst
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
