Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

resolve media field
  fiftyone/core/collections.py
Due: pylint

documenting new download parameters
  docs/source/teams/cloud_media.rst
Due: none

add back disabled paths check
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/Arrow.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/Icon.tsx
Due: none

linting
  fiftyone/core/threed/camera.py
  fiftyone/core/threed/lights.py
  fiftyone/core/threed/material_3d.py
  fiftyone/core/threed/mesh.py
  fiftyone/core/threed/pointcloud.py
  fiftyone/core/threed/scene_3d.py
  fiftyone/core/threed/shape_3d.py
  fiftyone/core/threed/utils.py
Due: pylint

minor lints
  docs/source/user_guide/using_datasets.rst
Due: none

linting
  app/packages/looker-3d/package.json
  app/packages/looker-3d/src/Looker3d.tsx
  app/packages/looker-3d/src/MediaTypePcd.tsx
  app/packages/looker-3d/src/fo3d/Background.tsx
  app/packages/looker-3d/src/fo3d/FoScene.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/yarn.lock
Due: none

linting
  app/packages/looker-3d/src/fo3d/AssetWrapper.tsx
  app/packages/looker-3d/src/fo3d/FoScene.tsx
  app/packages/looker-3d/src/fo3d/Gizmos.tsx
  docs/source/user_guide/using_datasets.rst
Due: none

update slider thumb css
  app/packages/core/src/components/Common/RangeSlider.tsx
Due: none

label tag count bug
  app/packages/state/src/recoil/pathData/labels.ts
Due: none

linting
  docs/source/user_guide/using_datasets.rst
Due: none

doc string pass
  docs/source/user_guide/using_datasets.rst
  fiftyone/core/threed/__init__.py
  fiftyone/core/threed/camera.py
  fiftyone/core/threed/lights.py
  fiftyone/core/threed/material_3d.py
  fiftyone/core/threed/mesh.py
  fiftyone/core/threed/object_3d.py
  fiftyone/core/threed/pointcloud.py
  fiftyone/core/threed/scene_3d.py
  fiftyone/core/threed/shape_3d.py
  fiftyone/core/threed/transformation.py
  fiftyone/core/threed/utils.py
Due: pylint

saving/loading workspaces via sdk
  docs/source/user_guide/app.rst
  docs/source/user_guide/using_views.rst
  fiftyone/__public__.py
  fiftyone/core/dataset.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/database.py
  fiftyone/core/odm/dataset.py
  fiftyone/core/odm/views.py
  fiftyone/core/odm/workspace.py
  fiftyone/core/session/events.py
  fiftyone/core/session/session.py
  fiftyone/core/spaces.py
  fiftyone/core/state.py
  fiftyone/server/mutation.py
  tests/unittests/dataset_tests.py
Due: pylint

update class
  fiftyone/__public__.py
Due: pylint

theme leva
  app/packages/app/src/index.css
  app/packages/components/src/components/ThemeProvider/index.tsx
  app/packages/components/src/components/index.ts
  app/packages/looker-3d/src/constants.ts
  app/packages/looker-3d/src/containers.ts
  app/packages/looker-3d/src/fo3d/Leva.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/hooks/use-light-controls.ts
Due: none

v1.6.0 docs
  docs/source/release-notes.rst
  docs/source/teams/index.rst
  docs/source/teams/pluggable_auth.md
Due: none

removing unused gifs
  docs/source/tutorials/images/bdd100k-mistakes.gif
  docs/source/tutorials/images/bdd100k-outliers.gif
Due: none

adds HF transformers integration breadcrumbs
  docs/source/tutorials/monocular_depth_estimation.ipynb
Due: ipynb-strip

adds breadcrumbs to ultralytics integration docs
  docs/source/tutorials/yolov8.ipynb
Due: ipynb-strip

YOLOv8 is not newest anymore
  docs/source/tutorials/yolov8.ipynb
Due: ipynb-strip

add feat/ to docs trigger
  .github/workflows/build-docs.yml
Due: none

update texts
  docs/source/teams/index.rst
  docs/source/teams/roles_groups_and_permissions.rst
Due: none

update images and fix wordwrap
  docs/source/images/teams/admin_add_users_to_team.png
  docs/source/images/teams/admin_team_groups_page.png
  docs/source/images/teams/admin_team_page.png
  docs/source/images/teams/admin_team_users_page.png
  docs/source/images/teams/dataset_specific_access.png
  docs/source/images/teams/share_dataset.png
  docs/source/images/teams/user_invitation.png
  docs/source/teams/index.rst
  docs/source/teams/roles_and_permissions.rst
  docs/source/teams/roles_groups_and_permissions.rst
Due: none

fix link name
  docs/source/teams/index.rst
Due: none

manual wrap
  docs/source/teams/roles_and_permissions.rst
Due: none

replace screenshots
  docs/source/images/teams/admin_add_users_to_team.png
  docs/source/images/teams/admin_create_group.png
  docs/source/images/teams/admin_team_groups_page.png
  docs/source/images/teams/admin_team_users_page.png
  docs/source/images/teams/dataset_specific_access.png
  docs/source/images/teams/share_dataset.png
  docs/source/images/teams/user_invitation.png
Due: none

tweak texts
  docs/source/teams/roles_and_permissions.rst
Due: none

tweaks
  docs/source/images/teams/admin_add_users_to_team.png
  docs/source/images/teams/admin_create_group.png
  docs/source/teams/roles_and_permissions.rst
Due: none

address review comments
  docs/source/teams/index.rst
  docs/source/teams/roles_and_permissions.rst
Due: none

Guest not GUEST
  docs/source/teams/roles_and_permissions.rst
Due: none

more CAS docs
  docs/source/teams/pluggable_auth.md
Due: none

lint tests
  tests/unittests/threed/object_3d_tests.py
  tests/unittests/threed/scene_3d_tests.py
Due: pylint

restrict SDK to one fo3d group slice
  fiftyone/core/dataset.py
  fiftyone/utils/utils3d.py
  tests/unittests/group_tests.py
Due: pylint

lint components
  app/packages/looker-3d/src/fo3d/node-info/NodeInfoCard.tsx
  app/packages/looker-3d/src/fo3d/node-info/PcdNodeInfo.tsx
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
