Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

say why Enter ran nothing in the view bar's search
  app/packages/view-bar/src/LanguageSearch.module.css
  app/packages/view-bar/src/LanguageSearch.test.tsx
  app/packages/view-bar/src/LanguageSearch.tsx
Due: none

run the view bar's text search as one strategy per search path, with the provider contract and field behavior in their final shape
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/similaritySearch/textSearchProviders.ts
  app/packages/state/src/hooks/useResetExtendedSelection.test.ts
  app/packages/state/src/hooks/useResetExtendedSelection.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/view-bar/src/HistorySuggestions.tsx
  app/packages/view-bar/src/LanguageSearch.module.css
  app/packages/view-bar/src/LanguageSearch.test.tsx
  app/packages/view-bar/src/LanguageSearch.tsx
  app/packages/view-bar/src/ViewBar.tsx
  app/packages/view-bar/src/searchStrategy.ts
  app/packages/view-bar/src/useOperatorSearch.test.ts
  app/packages/view-bar/src/useOperatorSearch.ts
  app/packages/view-bar/src/useProviderSearch.test.ts
  app/packages/view-bar/src/useProviderSearch.ts
  app/packages/view-bar/src/useSearchSources.test.ts
  app/packages/view-bar/src/useSearchSources.ts
  app/packages/view-bar/src/useTextSearch.test.ts
  app/packages/view-bar/src/useTextSearch.ts
Due: none

test that the view bar asks for index slices only once the settings open
  app/packages/view-bar/src/useTextSearch.test.ts
Due: none

report the frame the video presents to the tile lanes, and color the spinner by its VOODO token
  app/packages/looker/package.json
  app/packages/looker/src/elements/common/buffering.ts
  app/packages/looker/src/elements/common/looker.module.css
  app/packages/looker/src/elements/video.presented-frame.test.ts
  app/packages/looker/src/elements/video.ts
  app/packages/looker/src/lookers/video.transport.test.ts
  app/packages/looker/src/lookers/video.ts
  app/yarn.lock
Due: none

fix(app): fix JSON module imports and waveform label alignment
  app/packages/core/src/plugins/OperatorIO/examples/Panel.tsx
  app/packages/multimodal/src/views/episode/audio/WaveformViewer.module.css
Due: none

let hosts contribute details for the active subset
  app/packages/core/src/components/Grid/Selection/ScopeTab.test.tsx
  app/packages/core/src/components/Grid/Selection/ScopeTab.tsx
  app/packages/core/src/components/Grid/Selection/SubsetDetailsContext.ts
  app/packages/core/src/components/index.ts
  app/packages/state/src/selection/client.ts
Due: none

open saved subsets to python curation workflows
  fiftyone/core/dataset.py
  fiftyone/core/subsets.py
  fiftyone/server/routes/selection.py
  tests/unittests/selection_routes_tests.py
  tests/unittests/subset_sdk_tests.py
  tests/unittests/subsets_tests.py
Due: pylint

keep subset details on hover and center notice icons
  app/packages/core/src/components/Grid/Selection/ScopeTab.tsx
  app/packages/core/src/components/Grid/Selection/SelectionTray.module.css
  app/packages/core/src/components/Grid/Selection/SubsetDetailsContext.ts
Due: none

keep converted subsets readable without cache write access
  fiftyone/core/subsets.py
  tests/unittests/subset_sdk_tests.py
Due: pylint

confirm journal repair before continuing read-only subset loads
  fiftyone/core/subsets.py
  tests/unittests/subset_sdk_tests.py
Due: pylint

Read view-bar expressions from Monaco's model, not its partial textbox
  e2e-pw/src/oss/poms/viewbar/viewbar.ts
Due: none

cvat: 2D rectangle rotation is radians in FiftyOne, degrees at the CVAT boundary
  fiftyone/utils/cvat.py
Due: pylint

afterSave waits for the edit's save success and then the settled pass, both armed before the edit
  e2e-pw/src/oss/poms/modal/annotate-sidebar.ts
  e2e-pw/src/shared/event-utils/index.ts
Due: none

Clip spatial labels to the frame after a gesture
  app/packages/annotation/src/engine/surfaces/lighter/adapters.ts
  app/packages/annotation/src/engine/surfaces/lighter/useFrameClip.ts
  app/packages/annotation/src/engine/surfaces/lighter/useLighterEngineBridge.test.tsx
  app/packages/annotation/src/engine/surfaces/lighter/useLighterEngineBridge.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/ClipToFrameSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/EditFieldLabelSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLighterAnnotationBridge.test.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLighterAnnotationBridge.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useSchemaManager.ts
  app/packages/lighter/src/index.ts
  app/packages/lighter/src/overlay/DetectionOverlay.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
  app/packages/lighter/src/overlay/PolylineOverlay.ts
  app/packages/lighter/src/utils/clipToFrame.test.ts
  app/packages/lighter/src/utils/clipToFrame.ts
  app/packages/video-annotation/src/hooks/useVideoLighterEngineBridge.ts
  app/packages/video-annotation/src/state/accessors.ts
  fiftyone/core/annotation/constants.py
  fiftyone/core/annotation/generate_label_schemas.py
  fiftyone/core/annotation/validate_label_schemas.py
  tests/unittests/annotation/validate_label_schemas_tests.py
Due: pylint

report no presented frame from the playback loop while a seek is under way
  app/packages/looker/src/elements/video.presented-frame.test.ts
  app/packages/looker/src/elements/video.ts
Due: none

cvat: move convert_rotations_to_radians to the end of the module; trim docstring
  fiftyone/utils/cvat.py
Due: pylint

let only the newest operator form resolve settle the form
  app/packages/operators/src/state.ts
  app/packages/operators/src/useOperatorPrompt.resolve.test.ts
Due: none

show the buffering spinner while a LeRobot tile's native video waits on data
  app/packages/multimodal/src/views/episode/grid/GridRenderer.test.tsx
  app/packages/multimodal/src/views/episode/grid/GridRenderer.tsx
  app/packages/multimodal/src/views/episode/grid/LeRobotGridHoverVideo.test.tsx
  app/packages/multimodal/src/views/episode/grid/LeRobotGridHoverVideo.tsx
  app/packages/multimodal/src/views/episode/grid/use-grid-preview.test.tsx
  app/packages/multimodal/src/views/episode/grid/use-grid-preview.ts
Due: none

Hand off-frame drafts to the sidebar and skip 3D collections
  app/packages/annotation/src/engine/surfaces/lighter/useFrameClip.ts
  app/packages/annotation/src/engine/surfaces/lighter/useLighterEngineBridge.test.tsx
  app/packages/annotation/src/engine/surfaces/lighter/useLighterEngineBridge.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useDelete.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useDiscardDraft.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLighterAnnotationBridge.test.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLighterAnnotationBridge.ts
  app/packages/lighter/src/overlay/KeypointOverlay.test.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
  app/packages/lighter/src/overlay/PolylineOverlay.ts
  app/packages/state/src/accessors/dataset.ts
  app/packages/video-annotation/src/hooks/useVideoLighterEngineBridge.ts
  app/packages/video-annotation/src/state/accessors.ts
  fiftyone/core/annotation/generate_label_schemas.py
  fiftyone/core/annotation/validate_label_schemas.py
  tests/unittests/annotation/validate_label_schemas_tests.py
Due: pylint

close the stages row after the click, so the grid holds still under it
  app/packages/app/src/pages/index.module.css
  app/packages/view-bar/src/ViewBar.tsx
Due: frontend-check

docs: release notes for 1.22.1 / 2.25.1
  docs/source/release-notes.rst
Due: none

docs: set 1.22.1 / 2.25.1 release date
  docs/source/release-notes.rst
Due: none

docs: drop the credential-renewal entry from 2.25.1 notes
  docs/source/release-notes.rst
Due: none

docs: drop the service-pod entry from 2.25.1 notes
  docs/source/release-notes.rst
Due: none

docs: trim the Azure entry in 2.25.1 notes
  docs/source/release-notes.rst
Due: none

docs: drop the video Explore entry from 1.22.1 notes
  docs/source/release-notes.rst
Due: none

Shorten the clip toggle copy and even out its spacing
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/ClipToFrameSection.tsx
Due: none

docs: separate Back from the right-click cadence in the 1.22.1 notes
  docs/source/release-notes.rst
Due: none

Merge pull request #8585 from voxel51/release-notes-1.22.1
  docs/source/release-notes.rst
Due: none

deps: pin graphql-core <3.3 (strawberry 0.316 imports a symbol 3.3.0 removed)
  setup.py
Due: pylint

tests(cvat): unpack skeleton map in helpers; add rotated detection round trip
  tests/intensive/cvat_tests.py
Due: pylint

keep graphql core compatible with the supported strawberry releases
  setup.py
Due: pylint

pin graphql-core below 3.3
  setup.py
Due: pylint

Merge pull request #8587 from voxel51/fix/pin-graphql-core-3.2
  setup.py
Due: pylint

give main's seeded store tests their own store
  app/packages/core/src/components/Actions/Selected/hooks.test.ts
  app/packages/embeddings-v2/src/TabIndicator.test.tsx
  app/packages/state/src/hooks/useOnSelectLabel.test.ts
Due: none

Merge live previews over the committed label
  app/packages/annotation/src/engine/surfaces/lighter/useLighterPreviewSync.test.tsx
  app/packages/annotation/src/engine/surfaces/lighter/useLighterPreviewSync.ts
Due: none

Migrate post-fork main code onto voodo 1.4.0 token names
  app/packages/app/src/components/SharedSessionBanner.tsx
  app/packages/app/src/components/SharedSessionUpgrade.tsx
  app/packages/core/src/components/Grid/Selection/AgentShowcase.tsx
  app/packages/core/src/components/Grid/Selection/Notice.tsx
  app/packages/core/src/components/Grid/Selection/RemoveFromSubsetAction.tsx
  app/packages/core/src/components/Grid/Selection/ScopeTab.tsx
  app/packages/core/src/components/Grid/Selection/SelectionCard.tsx
  app/packages/core/src/components/Grid/Selection/SelectionSummary.tsx
  app/packages/core/src/components/Grid/Selection/SubsetAction.tsx
  app/packages/core/src/components/Grid/Selection/SubsetBrowser.tsx
  app/packages/core/src/components/Grid/Selection/SubsetJobs.tsx
  app/packages/core/src/components/Grid/Selection/TagAction.tsx
  app/packages/core/src/components/Grid/Selection/savedSegmentTileDecorator.tsx
  app/packages/core/src/components/Grid/Selection/theme.ts
  app/packages/core/src/components/Modal/VideoLookerSurface.tsx
Due: none

feat: read the default color pool from the Voodo design system
  .github/workflows/lint-app.yml
  app/packages/multimodal/src/visualization/media-2d/gpu-image-annotation-preparation.ts
  app/packages/utilities/package.json
  app/packages/utilities/src/color.ts
  docs/source/user_guide/config.rst
  fiftyone/_voodoo_palette.py
  fiftyone/constants.py
  tests/unittests/sync_voodoo_palette_tests.py
  tools/sync_voodoo_palette.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
