Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

show calendar icon in sidebar inputs
  app/packages/core/src/components/Filters/NumericFieldFilter/Input.tsx
Due: none

chore(db): Fiftyone DB 0.4.3
  package/db/setup.py
Due: pylint

chore: save SBOM directory for docs.fiftyone.ai
  .github/workflows/build-docs.yml
Due: none

fix
  fiftyone/utils/transformers.py
Due: pylint

fix correct/incorrect trophy and ratio color
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/evaluation/overview/Summary.tsx
Due: none

chore: save SBOM directory for docs.fiftyone.ai (#6123)
  .github/workflows/build-docs.yml
Due: none

handle different drives on Windows
  fiftyone/core/utils.py
  fiftyone/plugins/context.py
  fiftyone/plugins/definitions.py
  fiftyone/zoo/datasets/__init__.py
  fiftyone/zoo/models/__init__.py
  tests/unittests/utils_tests.py
Due: pylint

fix issue where renaming workspace create a new workspace with the new name
  app/packages/spaces/src/components/Workspaces/Workspace.tsx
  app/packages/spaces/src/components/Workspaces/WorkspaceEditor.tsx
  app/packages/spaces/src/state.ts
  plugins/operators/__init__.py
Due: pylint

allow evaluation without providing an eval_key
  fiftyone/utils/eval/classification.py
  fiftyone/utils/eval/detection.py
  fiftyone/utils/eval/regression.py
  fiftyone/utils/eval/segmentation.py
  tests/unittests/evaluation_tests.py
Due: pylint

handle empty subsets render to not throw and display empty charts
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/evaluation/scenario/Scenarios.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/utils.ts
  plugins/operators/model_evaluation/__init__.py
Due: pylint

wrap scenario inside errorboundary to prevent unexpected error to crash the panel and always allow user to toggle to a different scenario and modify the scenario
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/evaluation/scenario/Scenarios.tsx
Due: none

update custom code invalid prompt error message to disable submit
  plugins/utils/__init__.py
Due: pylint

cleanup
  plugins/operators/model_evaluation/__init__.py
Due: pylint

add invalid prop to checkbox controls based on selected_values not empty
  plugins/operators/model_evaluation/__init__.py
Due: pylint

fix merge conflict
  plugins/utils/__init__.py
  plugins/utils/model_evaluation/__init__.py
Due: pylint

make color_pool optional in ColorScheme gql type (#6098)
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/looker-3d/src/hooks/use-pcd-material-controls.tsx
  app/packages/relay/src/fragments/__generated__/colorSchemeFragment.graphql.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/schema.graphql
  fiftyone/server/color.py
Due: pylint, frontend-check

show calendar icon in sidebar inputs (#6120)
  app/packages/core/src/components/Filters/NumericFieldFilter/Input.tsx
Due: none

Fix search results for label tags (#6095)
  app/packages/core/src/components/Filters/StringFilter/state.ts
Due: none

chore(db): Bump fiftoyne-db
  package/db/setup.py
Due: pylint

chore(actions): Use ubuntu 22
  .github/workflows/build-db.yml
Due: none

chore(actions): Cherry pick publish fixes
  .github/workflows/build-db.yml
Due: none

has_embeddings should be a property
  fiftyone/utils/transformers.py
Due: pylint

add the message in scenario level
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/evaluation/scenario/Scenarios.tsx
Due: none

cleanup
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/evaluation/scenario/Scenarios.tsx
Due: none

support frame patch embeddings visualizations
  app/packages/embeddings/src/useColorByChoices.tsx
  fiftyone/server/routes/embeddings.py
Due: pylint

test(usePanelEvent): add tests for error behavior
  app/packages/operators/src/usePanelEvent.test.ts
  app/yarn.lock
Due: none

test(operators): add basic test suite for usePanelEvent hook
  app/packages/operators/package.json
  app/packages/operators/src/usePanelEvent.test.setup.ts
  app/packages/operators/src/usePanelEvent.test.ts
  app/packages/operators/vitest.config.ts
Due: none

feat(errors): make panel event errors consistent
  app/packages/components/src/components/ErrorBoundary/ErrorBoundary.tsx
  app/packages/operators/src/useCustomPanelHooks.ts
  app/packages/operators/src/usePanelEvent.test.ts
  app/packages/operators/src/usePanelEvent.ts
Due: none

feat(errors): add new operator error types
  app/packages/utilities/src/errors.ts
Due: none

refactor(CustomPanel): remove custom error handling for py panels
  app/packages/operators/src/CustomPanel.tsx
Due: none

revert yarn lock
  app/yarn.lock
Due: none

return empty labels, not None
  fiftyone/utils/ultralytics.py
Due: pylint

chore: deprecation notice for kubernetes 1.30
  docs/source/deprecation.rst
Due: none

chore: deprecation notice for kubernetes 1.30 (#6132)
  docs/source/deprecation.rst
Due: none

Update manifest-torch.json
  fiftyone/zoo/models/manifest-torch.json
Due: none

Fix transformers zero shot embeddings (#6122)
  fiftyone/utils/transformers.py
Due: pylint

Fix empty subset definition handling in ME panel (#6127)
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/evaluation/scenario/Scenarios.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/utils.ts
  plugins/operators/model_evaluation/__init__.py
  plugins/utils/model_evaluation/__init__.py
Due: pylint
