Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

Formalize TilingHeader + sidebar shells
  app/packages/playback/src/views/SidebarPanel/SidebarPanel.module.css
  app/packages/playback/src/views/SidebarPanel/SidebarPanel.tsx
  app/packages/playback/src/views/TileSettingsSidebar/TileSettingsSidebar.tsx
  app/packages/playback/src/views/TilingHeader/TilingHeader.module.css
  app/packages/playback/src/views/TilingHeader/TilingHeader.tsx
  app/packages/playback/src/views/TilingHeader/tiling-header-icons.tsx
  app/packages/playback/src/views/TilingInspectorSidebar/TilingInspectorSidebar.tsx
  app/packages/playback/src/views/stories/MultiModalDemo.stories.tsx
Due: none

Remove unnecessary NotImplementedError
  fiftyone/multimodal/odm/base.py
Due: pylint

Rename 'odm' package to 'db'
  fiftyone/multimodal/db/__init__.py
  fiftyone/multimodal/db/base.py
  fiftyone/multimodal/db/mongo.py
  tests/unittests/multimodal/db/mongo_tests.py
Due: pylint

add risk_level attr to built-in py ops
  app/packages/operators/src/operators.ts
  app/packages/operators/src/types-internal.ts
  e2e-pw/src/shared/assets/plugins/e2e/__init__.py
  fiftyone/operators/sse.py
  plugins/operators/__init__.py
  plugins/operators/annotation.py
  plugins/operators/group_by.py
  plugins/operators/model_evaluation/__init__.py
  plugins/panels/similarity_search/operators.py
Due: pylint

add risk_level config to operator configs
  fiftyone/operators/_types/config.py
  fiftyone/operators/operator.py
  fiftyone/operators/types.py
  tests/unittests/operators/operator_tests.py
Due: pylint

fixed device allocation for qwen3vl model such that it uses user-selected device
  fiftyone/utils/qwen3_vl.py
Due: pylint

Add floating status bar for AI-assisted annotation mode
  app/packages/annotation/src/agents/hooks/index.ts
  app/packages/annotation/src/agents/hooks/useInferenceStatus.ts
  app/packages/annotation/src/agents/hooks/useRegisterAnnotationToolEventHandlers.ts
  app/packages/core/src/components/Modal/AIAnnotationStatusBar.tsx
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useAIAnnotationMode.ts
Due: none

clean up idle status bug and use voodo components
  app/packages/annotation/src/agents/hooks/index.ts
  app/packages/annotation/src/agents/hooks/useRegisterAnnotationToolEventHandlers.ts
  app/packages/core/src/components/Modal/AIAnnotationStatusBar.tsx
Due: none

Feat/merge tool (#7501)
  app/packages/core/src/components/Modal/Lighter/useBridge.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/MaskPreview.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/bridgeSegmentationMode.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useManualSegmentationTools.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useMergeTool.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useMergeTool.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationActions.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationMode.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useFocus.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLabels.ts
  app/packages/core/src/utils/json.test.ts
  app/packages/lighter/src/commands/MergeDetectionsCommand.test.ts
  app/packages/lighter/src/commands/MergeDetectionsCommand.ts
  app/packages/lighter/src/core/Scene2D.ts
  app/packages/lighter/src/index.ts
  app/packages/lighter/src/interaction/InteractionManager.ts
  app/packages/lighter/src/overlay/DetectionOverlay.ts
  app/packages/lighter/src/overlay/MaskCanvas.test.ts
  app/packages/lighter/src/overlay/MaskCanvas.ts
Due: none

cleanup css styling
  app/packages/core/src/components/Modal/AIAnnotationStatusBar.tsx
Due: none

lighter: expose mask-keypoint mutations on DetectionOverlay
  app/packages/lighter/src/overlay/DetectionOverlay.ts
  app/packages/lighter/src/overlay/MaskKeypoints.ts
Due: none

lighter: add InteractivePenHandler and per-point undo command
  app/packages/lighter/src/commands/AddMaskKeypointCommand.ts
  app/packages/lighter/src/index.ts
  app/packages/lighter/src/interaction/InteractionManager.ts
  app/packages/lighter/src/interaction/InteractivePenHandler.ts
Due: none

core: wire pen handler into segmentation mode
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationMode.ts
Due: none

add usePentool and put logic from useSegmentationMode into usePentool
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePenTool.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationMode.ts
Due: none

Segmentation toolbar updates and keyboard shortcuts (#7510)
  app/packages/components/src/components/ActionToolbar/ActionToolbar.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/SegmentationToolbar.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useManualSegmentationTools.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationActions.tsx
Due: none

div -> button for a11y
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationActions.tsx
Due: none

it takes two (masks) to tango
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useMergeTool.ts
Due: none

refactor(spotlight): introduce iterator-based rendering architecture
  app/packages/spotlight/src/closest.ts
  app/packages/spotlight/src/constants.ts
  app/packages/spotlight/src/createScrollReader.ts
  app/packages/spotlight/src/events.ts
  app/packages/spotlight/src/index.ts
  app/packages/spotlight/src/iter.ts
  app/packages/spotlight/src/row.ts
  app/packages/spotlight/src/section.ts
  app/packages/spotlight/src/tile.ts
  app/packages/spotlight/src/types.ts
  app/packages/spotlight/src/utilities.ts
Due: frontend-check

extend to other control modes
  app/packages/core/src/components/Modal/AIAnnotationStatusBar.tsx
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/Modal/ModalStatusBar.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useAIAnnotationStatus.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useDetectionStatus.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineMode.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineStatus.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationStatus.tsx
Due: none

[FOEPD-3767] Save scene inventories as sample metadata (#7466)
  fiftyone/core/media.py
  fiftyone/core/metadata.py
  fiftyone/multimodal/adapters/mcap.py
  fiftyone/multimodal/db/__init__.py
  fiftyone/multimodal/db/base.py
  fiftyone/multimodal/db/mongo.py
  fiftyone/multimodal/ingest/__init__.py
  fiftyone/multimodal/metadata.py
  tests/unittests/multimodal/db/mongo_tests.py
  tests/unittests/multimodal/metadata_tests.py
Due: pylint

consolidate hooks into one and simplify the components
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/annotationStatusContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useAIAnnotationStatus.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useAnnotationStatus.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useDetectionStatus.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineStatus.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationStatus.tsx
Due: none

fix: improved code based on PR comments
  fiftyone/core/annotation/attributes.py
  tests/unittests/ontology_class_tests.py
  tests/unittests/ontology_validation_tests.py
Due: pylint

fix: updated useAttributeForm to render condition count given the new condition tree structure
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
Due: none

update docs for new do log process
  docs/source/enterprise/plugins.rst
  fiftyone/factory/repos/delegated_operation.py
  fiftyone/operators/delegated.py
Due: pylint

delete unused images
  docs/source/images/plugins/operators/runs/logs_configure_not_setup.png
  docs/source/images/plugins/operators/runs/logs_not_available_pre_completion.png
  docs/source/images/plugins/operators/runs/logs_now_available_post_completion.png
  docs/source/images/plugins/operators/runs/logs_too_large.png
Due: none

fix: coderabbit fixes
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  fiftyone/core/annotation/attributes.py
  tests/unittests/ontology_class_tests.py
Due: pylint

fix tests
  tests/unittests/operators/delegated_tests.py
Due: pylint

update docs for new do log process (#7517)
  docs/source/enterprise/plugins.rst
  docs/source/images/plugins/operators/runs/logs_configure_not_setup.png
  docs/source/images/plugins/operators/runs/logs_not_available_pre_completion.png
  docs/source/images/plugins/operators/runs/logs_now_available_post_completion.png
  docs/source/images/plugins/operators/runs/logs_too_large.png
  fiftyone/factory/repos/delegated_operation.py
  fiftyone/operators/delegated.py
  tests/unittests/operators/delegated_tests.py
Due: pylint

add interaction hints for polylines; clean up verbiage
  app/packages/core/src/components/Modal/ModalStatusBar.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/annotationStatusContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useAnnotationStatus.tsx
Due: none

Fix CVAT skeleton keypoint import (#6103)
  fiftyone/utils/cvat.py
Due: pylint

chore: Bump version from 1.16.0 to 1.17.0
  setup.py
Due: pylint

add support for header placement
  app/packages/app/src/components/Nav.tsx
  app/packages/operators/src/OperatorPlacements.tsx
  app/packages/operators/src/types.ts
  fiftyone/operators/_types/types.py
Due: pylint

Make panel area renderers map reactive
  app/packages/spaces/src/hooks.ts
  app/packages/spaces/src/state.ts
  app/packages/spaces/src/utils/SubscribableMap.ts
Due: none

add support for rendering custom plugin component for a placement
  app/packages/operators/src/OperatorPlacements.tsx
  app/packages/operators/src/types.ts
  fiftyone/operators/_types/types.py
Due: pylint

add resizing to grid right sidebar panel area
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/spaces/src/PanelArea.tsx
  app/packages/spaces/src/types.ts
Due: none

move selection colors to constants in fos
  app/packages/components/src/components/Selection/Selection.tsx
  app/packages/components/src/components/Selection/index.ts
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/spaces/src/components/Workspaces/WorkspaceEditor.tsx
  app/packages/spaces/src/state.ts
  app/packages/state/src/constants/index.ts
  app/packages/state/src/constants/selection-colors.ts
  app/packages/state/src/constants/spaces.ts
Due: none

fix workspace position to support right sidebar
  app/packages/components/src/components/Popout/index.tsx
  app/packages/spaces/src/components/Workspaces/index.tsx
Due: none

add ability to render a panel in arbitrarily defined panel area
  app/packages/core/src/components/Modal/modal-spaces-utils.ts
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/plugins/src/registry.ts
  app/packages/spaces/src/PanelArea.tsx
  app/packages/spaces/src/PanelRenderer.tsx
  app/packages/spaces/src/components/AddPanelButton.tsx
  app/packages/spaces/src/enums.ts
  app/packages/spaces/src/hooks.ts
  app/packages/spaces/src/index.ts
  app/packages/spaces/src/state.ts
  app/packages/spaces/src/types.ts
  app/packages/spaces/src/utils.ts
Due: none

address comments in PR#7452
  app/packages/operators/src/OperatorPlacements.tsx
  app/packages/operators/src/usePanelEvent.test.ts
  app/packages/spaces/src/PanelArea.tsx
  app/packages/spaces/src/PanelRenderer.tsx
  app/packages/spaces/src/components/Panel.tsx
  app/packages/spaces/src/types.ts
  app/packages/spaces/src/utils/SubscribableMap.ts
Due: none

fix height and width not working for ImageView
  app/packages/core/src/plugins/SchemaIO/components/ImageView.tsx
  app/packages/core/src/plugins/SchemaIO/utils/layout.ts
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
