Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

error message work
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/shared/colors.ts
Due: none

working parameter and stage errors
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/package.json
  electron/yarn.lock
Due: none

Remove some unused components
  electron/app/components/InfoItem.tsx
  electron/app/components/Labels.tsx
  electron/app/components/Rendering.tsx
  electron/app/components/Search.tsx
  electron/app/components/Sidebar.tsx
  electron/app/components/Tags.tsx
  electron/app/containers/App.tsx
  electron/app/containers/Dataset.tsx
Due: none

tree tweak, for consistent styles
  electron/app/components/ViewBar/ViewStage/SearchResults.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
Due: none

fix presentation for lazy case List[str] type
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Due: none

Lint
  electron/app/components/CheckboxGrid.stories.tsx
  electron/app/components/CodeBlock.tsx
  electron/app/components/DisplayOptionsSidebar.stories.tsx
  electron/app/components/Distributions.tsx
  electron/app/components/Header.tsx
  electron/app/components/ImageContainerHeader.stories.tsx
  electron/app/components/JSONView.tsx
  electron/app/components/Player51.tsx
  electron/app/components/PortForm.tsx
  electron/app/components/Sample.tsx
  electron/app/components/Samples.tsx
  electron/app/components/Tags/SelectionTag.tsx
  electron/app/components/utils.tsx
Due: none

placeholder fixes and cleanup
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
Due: none

renaming list_dataset_names() to list_datasets()
  docs/source/user_guide/using_datasets.rst
  fiftyone/__public__.py
  fiftyone/core/cli.py
  fiftyone/core/dataset.py
  tests/unittests.py
Due: pylint

allowing a single sample ID in Select() and Exclude() stages
  fiftyone/core/collections.py
  fiftyone/core/stages.py
Due: pylint

adding more string operations
  fiftyone/core/expressions.py
Due: pylint

fix tiling in last row, only adjust if threshold hasn't been reached
  electron/app/utils/tile.ts
Due: none

various tweaks
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Due: none

Move maximize button inside player section
  electron/app/components/SampleModal.tsx
Due: none

Cap maximum tag width in modal
  electron/app/components/SampleModal.tsx
  electron/app/components/Tags/Tag.tsx
Due: none

alternative quickstart
  docs/source/tutorials/open_images_evaluation.ipynb
Due: ipynb-strip

Error messages for JSON editor
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
Due: none

merge select-exclude
  fiftyone/core/stages.py
Due: pylint

outline for preds file download alternative
  docs/source/tutorials/open_images_evaluation.ipynb
Due: ipynb-strip

adding real link
  docs/source/tutorials/open_images_evaluation.ipynb
Due: ipynb-strip

validating object IDs
  fiftyone/core/stages.py
Due: pylint

matches_str method
  fiftyone/core/expressions.py
Due: pylint

lint
  fiftyone/core/stages.py
Due: pylint

adding missing regex tokens
  fiftyone/core/expressions.py
Due: pylint

id type, keeping it simple
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
  fiftyone/core/stages.py
Due: pylint

refactoring _get_label_fields, 20X faster\!
  fiftyone/core/state.py
  fiftyone/server/main.py
Due: pylint

field schemas are ordereddicts
  fiftyone/core/dataset.py
  fiftyone/core/view.py
Due: pylint

getting view stats
  fiftyone/core/state.py
Due: pylint

properly escape regex characters
  fiftyone/core/expressions.py
Due: pylint

moving all unit tests to unittests.py
  tests/stage_tests.py
  tests/unittests.py
Due: pylint

renaming more to view_stats
  electron/app/recoil/selectors.ts
  fiftyone/core/state.py
Due: pylint

linting
  tests/unittests.py
Due: pylint

updating tests README
  tests/README.md
Due: none

update selector
  electron/app/recoil/selectors.ts
Due: none

cleaning up tests
  tests/README.md
  tests/db_conn_test.py
  tests/isolated/README.txt
  tests/unittests.py
Due: pylint

one more update
  tests/README.md
Due: none

adding landing copy
  tests/README.md
Due: none

quickfix
  fiftyone/core/sample.py
Due: pylint

always load derivables on init
  fiftyone/core/state.py
Due: pylint

cleanup StateDescriptionWithDerivables
  fiftyone/core/state.py
Due: pylint

10X faster
  fiftyone/core/dataset.py
Due: pylint
