Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

updating to latest version of docs
  docs/user_guide/dataset_creation/disk_datasets_dir/README.md
  docs/user_guide/dataset_creation/disk_datasets_dir/disk_datasets.md
Due: none

updating to latest version of docs
  docs/user_guide/dataset_creation/disk_datasets.rst
Due: none

adding pytest dep
  requirements/dev.txt
Due: none

populate uniqueness tutorial outputs
  docs/tutorials/uniqueness.ipynb
Due: ipynb-strip

user guide cleanup
  docs/user_guide/dataset_creation/README.md
  docs/user_guide/dataset_creation/custom_datasets_dir/README.md
  docs/user_guide/dataset_creation/custom_datasets_dir/custom_datasets.md
  docs/user_guide/dataset_creation/disk_datasets_dir/README.md
  docs/user_guide/dataset_creation/disk_datasets_dir/disk_datasets.md
  docs/user_guide/dataset_creation/zoo_datasets_dir/README.md
  docs/user_guide/dataset_creation/zoo_datasets_dir/zoo_datasets.md
  docs/user_guide/index.rst
  docs/user_guide/making_dataset.rst
Due: none

more gesture handling
  electron/.storybook/preview-body.html
  electron/app/components/Player51/Player51.tsx
  electron/app/components/Scrubber/Indicator.tsx
  electron/app/components/Scrubber/IndicatorForm.tsx
  electron/app/components/Scrubber/Scrubber.stories.tsx
  electron/app/components/Scrubber/utils.tsx
  electron/app/state/hooks.ts
  electron/app/state/selectors.ts
  electron/package.json
Due: none

adding pytest dep for devs
  requirements/dev.txt
Due: none

using normpath
  fiftyone/constants.py
Due: pylint

adding check back, with comments
  fiftyone/constants.py
Due: pylint

lazy import util modules
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
Due: pylint

Add cli guide
  docs/user_guide/cli.rst
  docs/user_guide/index.rst
Due: none

jason revision to the brain user-guide
  docs/user_guide/brain.rst
Due: none

Add tutorials page, move model inference
  docs/common_recipes/index.rst
  docs/common_recipes/model_inference.ipynb
  docs/tutorials/index.rst
  docs/user_guide/dataset_creation/index.rst
Due: ipynb-strip

Add initial copy of website header
  docs/_static/css/custom.css
  docs/_templates/layout.html
Due: none

Add nb outputs, jason comments on brain, remove install todo
  docs/common_recipes/image_deduplication.ipynb
  docs/common_recipes/model_inference.ipynb
  docs/getting_started/install.md
  docs/tutorials/label_mistakes.ipynb
  docs/tutorials/uniqueness.ipynb
  docs/user_guide/brain.rst
Due: ipynb-strip

Make space that header leaves behind a bit more consistent with theme
  docs/_static/css/custom.css
Due: none

Reorganize css
  docs/_static/css/custom.css
  docs/_static/css/voxel51-website.css
  docs/conf.py
Due: pylint

Add footer, tweaked some
  docs/_static/css/custom.css
  docs/_static/css/voxel51-website.css
  docs/_templates/layout.html
Due: none

Fix links in footer
  docs/conf.py
Due: pylint

Add in some responsive header rules
  docs/_static/css/voxel51-website.css
Due: none

do commit ipynb outputs for docs
  .pre-commit-config.yaml
Due: none

updating install guide a bit
  docs/getting_started/install.md
Due: none

editing pass over main landing page
  docs/index.rst
Due: none

renaming page
  docs/user_guide/dataset_creation/common_datasets.rst
Due: none

editing pass over dataset landing page
  docs/user_guide/dataset_creation/index.rst
Due: none

using troubleshooting language
  docs/getting_started/install.md
Due: none

updating main page again
  docs/index.rst
Due: none

fixing typo
  docs/user_guide/brain.rst
Due: none

removing trailing whitespace and adding code blocks
  docs/user_guide/brain.rst
Due: none

adding notes to call out important links
  docs/user_guide/brain.rst
Due: none

adding tutorial placeholder
  docs/user_guide/brain.rst
Due: none

adding basic capability descriptions to landing page
  docs/index.rst
Due: none

player51 work
  electron/.storybook/preview-body.html
  electron/app/components/Player51/Player51.stories.tsx
  electron/app/components/Player51/Player51.tsx
  electron/app/components/Scrubber/Indicator.stories.tsx
  electron/app/components/Scrubber/Scrubber.stories.tsx
  electron/app/components/utils.tsx
  electron/app/state/hooks.ts
  electron/app/state/selectors.ts
Due: none

changing title
  docs/user_guide/index.rst
Due: none

linting?
  docs/tutorials/index.rst
Due: none

using italics
  docs/index.rst
Due: none

linting?
  docs/user_guide/index.rst
Due: none

removing empty cell
  docs/tutorials/uniqueness.ipynb
Due: ipynb-strip

Adjust header link alignment
  docs/_static/css/custom.css
Due: none

increasing retry limit
  fiftyone/core/client.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
