Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

fixing broken links
  docs/source/user_guide/dataset_zoo/datasets.rst
  fiftyone/core/odm/dataset.py
  fiftyone/zoo/datasets/base.py
Due: pylint

linting
  docs/source/integrations/pinecone.rst
  docs/source/integrations/qdrant.rst
  docs/source/user_guide/brain.rst
Due: none

documenting text similarity views
  docs/source/user_guide/using_views.rst
Due: none

better error messages
  fiftyone/core/stages.py
Due: pylint

first draft of text
  docs/source/tutorials/pointe.ipynb
Due: ipynb-strip

rough draft visuals - WIP - just for show
  docs/source/_static/images/tutorials/pointe.png
  docs/source/tutorials/images/pointe_road_scene.png
  docs/source/tutorials/images/pointe_road_scene_bev.png
  docs/source/tutorials/images/pointe_vehicle.png
  docs/source/tutorials/images/pointe_vehicle_ortho_projections.png
  docs/source/tutorials/index.rst
  docs/source/tutorials/pointe.ipynb
Due: ipynb-strip

updating versions
  package/desktop/setup.py
  setup.py
Due: pylint

adding control over importing/exporting runs and saved views
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
Due: pylint

update lock
  app/yarn.lock
Due: none

no cov
  .github/workflows/test.yml
Due: none

tweak
  requirements/test.txt
Due: none

unpin
  requirements/test.txt
Due: none

no dash
  .github/workflows/test.yml
Due: none

fix
  requirements/test.txt
Due: none

ignore dash plugin
  .github/workflows/test.yml
Due: none

fix inexplicable MUI input bug by using native input
  app/packages/looker-3d/src/action-bar/PointSize.tsx
  app/packages/looker-3d/src/action-bar/style.module.css
Due: none

more than one grid line for small pcds
  app/packages/looker-3d/src/Environment.tsx
Due: none

rm
  .github/workflows/test.yml
Due: none

use URLs instead of filepath in looker
  app/packages/core/src/components/Group/Group.tsx
  app/packages/core/src/components/Modal/Group.tsx
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/state/src/recoil/groups.ts
  app/packages/state/src/recoil/modal.ts
Due: none

more robust frames init
  fiftyone/core/dataset.py
Due: pylint

v1.2.0rc2
  app/yarn.lock
Due: none

allow pointcloud to be default slice
  app/packages/core/src/components/Modal/Group.tsx
Due: none

more robust
  fiftyone/core/dataset.py
Due: pylint

add frame collection name if missing
  fiftyone/migrations/revisions/v0_20_0.py
Due: pylint

running yarn install
  app/yarn.lock
Due: none

correct typo
  app/packages/looker-3d/src/Environment.tsx
Due: none

v1.2.0rc4
  app/yarn.lock
Due: none

calculate ortho metadata when cache miss, too
  fiftyone/server/metadata.py
Due: pylint

fix media_fields mutating bug in media url creation
  fiftyone/server/metadata.py
Due: pylint

fix browserstorage effect bug
  app/packages/looker-3d/src/state.ts
Due: none

fix regression
  fiftyone/server/metadata.py
Due: pylint

Create .github/workflows/docker-image.yml
  .github/workflows/docker-image.yml
Due: none

fix issue with clearing sample selection
  app/packages/core/src/components/Actions/Selected.tsx
  app/packages/state/src/hooks/useToPatches.ts
Due: none

added quotation mark and changed shading mode
  docs/source/tutorials/pointe.ipynb
Due: ipynb-strip

adding support for Azure clients
  fiftyone/core/config.py
  fiftyone/core/storage.py
  requirements/extras.txt
  setup.py
Due: pylint

documenting Azure credentials
  docs/source/teams/installation.rst
Due: none

typos
  docs/source/teams/installation.rst
Due: none

tweaks
  docs/source/teams/installation.rst
Due: none

metadata tweaks
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/worker/index.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  fiftyone/server/metadata.py
Due: pylint

rm log
  app/packages/looker/src/worker/index.ts
Due: none
