Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

Publish the episode time axis under the episode's own identity
  app/packages/multimodal/src/runtime/source-bootstrap-cache.test.ts
  app/packages/multimodal/src/runtime/source-bootstrap-cache.ts
  app/packages/multimodal/src/views/episode/grid/use-grid-preview.ts
  app/packages/multimodal/src/views/episode/shell/ModalRenderer.test.tsx
  app/packages/multimodal/src/views/episode/shell/ModalRenderer.tsx
Due: none

similarity search on voodo Combobox
  app/.yarnrc.yml
  app/packages/view-bar/src/LanguageSearch.module.css
  app/packages/view-bar/src/LanguageSearch.tsx
  app/yarn.lock
  e2e-pw/src/oss/poms/viewbar/viewbar.ts
Due: none

Say what the axis contract is, not how it was found
  app/packages/multimodal/src/runtime/source-bootstrap-cache.test.ts
  app/packages/multimodal/src/runtime/source-bootstrap-cache.ts
  app/packages/multimodal/src/views/episode/shell/ModalRenderer.test.tsx
Due: none

every bar popout on the design system; AnchoredListbox is gone
  app/.yarnrc.yml
  app/packages/app/src/components/DatasetSelector.module.css
  app/packages/app/src/components/DatasetSelector.tsx
  app/packages/components/src/components/AnchoredListbox/index.tsx
  app/packages/components/src/components/index.ts
  app/packages/components/src/components/useAnchorRect.ts
  app/packages/view-bar/src/InsertSlot.module.css
  app/packages/view-bar/src/InsertSlot.tsx
  app/packages/view-bar/src/SearchSettingsPopover.module.css
  app/packages/view-bar/src/SearchSettingsPopover.tsx
  app/packages/view-bar/src/StageCard.tsx
  app/packages/view-bar/src/panel.module.css
  app/yarn.lock
  e2e-pw/src/oss/poms/selector.ts
Due: frontend-check

fix(annotation): leaving polyline mode closes the open polyline edit
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineMode.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineMode.ts
Due: none

fix(annotation): an off-extent polyline selection still lets you draw a new one
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineMode.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineMode.ts
Due: none

fix(annotation): deleting any track drops back to Select, not just detections
  app/packages/video-annotation/src/sync/useSyncLighterAnnotation.test.ts
  app/packages/video-annotation/src/sync/useSyncLighterAnnotation.ts
Due: none

fix(annotation): the keyframe icon reads the selected track's own field
  app/packages/video-annotation/src/hooks/useFrameKeyframeState.test.ts
  app/packages/video-annotation/src/hooks/useFrameKeyframeState.ts
Due: none

fix(annotation): a write to a non-displayed frame must not block its projection
  app/packages/annotation/src/engine/bridge/bridgeLoop.ts
  app/packages/annotation/src/engine/store/frameStore.test.ts
Due: none

test(e2e): canvas-level spec for polyline interpolation on video
  app/packages/video-annotation/src/sync/useExposeSceneOverlayFieldsForTest.ts
  e2e-pw/src/oss/poms/modal/video-annotate.ts
  e2e-pw/src/oss/specs/annotate-video-polyline-interpolation.spec.ts
Due: none

fix(lighter): release the overlay's point-drag state when the gesture ends
  app/packages/lighter/src/interaction/InteractivePolylineHandler.test.ts
  app/packages/lighter/src/interaction/InteractivePolylineHandler.ts
Due: none

feat(annotation): linear interpolation for polyline keyframes on video
  app/packages/annotation/src/agents/PolylinePropagationBrowserAgent.test.ts
  app/packages/annotation/src/agents/PolylinePropagationBrowserAgent.ts
  app/packages/annotation/src/agents/hooks/useAgentRegistry.ts
  app/packages/annotation/src/agents/polylineInterp.test.ts
  app/packages/annotation/src/agents/polylineInterp.ts
  app/packages/annotation/src/agents/types.ts
  app/packages/annotation/src/index.ts
  app/packages/utilities/src/videoLabels.ts
  app/packages/video-annotation/src/hooks/useVideoAnnotationActions.tsx
  app/packages/video-annotation/src/hooks/useVideoPropagate.test.ts
  app/packages/video-annotation/src/hooks/useVideoPropagate.ts
  app/packages/video-annotation/src/propagation/useApplyPropagationResult.ts
  app/packages/video-annotation/src/state/useVideoInteraction.test.tsx
  app/packages/video-annotation/src/state/useVideoInteraction.ts
Due: none

drop setup.py: version lives in a VERSION file
  .github/workflows/build-ci-images.yml
  .github/workflows/build-docker-internal.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-graphql.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/version-guard.yml
  CONTRIBUTING.md
  VERSION
  docs/source/conf.py
  e2e-pw/ci/Dockerfile
  package/README.md
  pyproject.toml
  schemas/multimodal/README.md
  schemas/multimodal/build.py
  setup.py
  tests/ci/Dockerfile
Due: pylint

version guard: only fail when the VERSION value changes
  .github/workflows/version-guard.yml
Due: none

comma-free PEP 621 author name; legal name stays in constants
  fiftyone/constants.py
  pyproject.toml
Due: pylint

voodo 1.1.0-popover.6: typed prop bags, focusOnMount, LoadingDots as Text
  app/.yarnrc.yml
  app/packages/app/src/components/DatasetSelector.tsx
  app/packages/view-bar/src/InsertSlot.tsx
  app/packages/view-bar/src/LanguageSearch.tsx
  app/yarn.lock
Due: none

version guard: read the base version from setup.py when VERSION is new
  .github/workflows/version-guard.yml
Due: none

version guard: the setup.py fallback must run when VERSION is absent
  .github/workflows/version-guard.yml
Due: none

the header on the design system
  app/.yarnrc.yml
  app/packages/app/src/components/Nav.module.css
  app/packages/app/src/components/Nav.tsx
  app/packages/app/src/components/Teams.module.css
  app/packages/app/src/components/Teams.tsx
  app/packages/components/src/components/Header/Header.module.css
  app/packages/components/src/components/Header/Header.tsx
  app/packages/view-bar/src/LanguageSearch.tsx
  app/yarn.lock
Due: frontend-check

fiftyone-db: metadata moves to pyproject.toml; version in a VERSION file
  .github/workflows/build-db.yml
  .github/workflows/version-guard.yml
  package/README.md
  package/db/README.md
  package/db/VERSION
  package/db/pyproject.toml
  package/db/setup.py
Due: pylint

header keeps the shell's background until the shell moves to tokens
  app/packages/components/src/components/Header/Header.module.css
Due: none

wordmark at H1, the Enterprise sheen back, a borderless search field
  app/packages/app/src/components/Teams.module.css
  app/packages/app/src/components/Teams.tsx
  app/packages/components/src/components/Header/Header.tsx
  app/packages/view-bar/src/LanguageSearch.tsx
Due: frontend-check

the configure offer fills the list's width
  app/packages/view-bar/src/LanguageSearch.module.css
  app/packages/view-bar/src/LanguageSearch.tsx
Due: none

setup page and header links on the design system; controls and expression editor swept
  app/.yarnrc.yml
  app/packages/app/package.json
  app/packages/app/src/components/HeaderLinks.tsx
  app/packages/app/src/components/Nav.tsx
  app/packages/app/src/components/Setup.module.css
  app/packages/app/src/components/Setup.tsx
  app/packages/app/src/components/Teams.module.css
  app/packages/components/src/components/Header/Header.module.css
  app/packages/components/src/components/Header/Header.tsx
  app/packages/components/src/components/Icons/Icons.module.css
  app/packages/components/src/components/Icons/Icons.tsx
  app/packages/components/src/components/Icons/index.ts
  app/packages/view-bar/src/LanguageSearch.tsx
  app/packages/view-bar/src/builder/ExpressionEditor.module.css
  app/packages/view-bar/src/builder/ExpressionEditor.tsx
  app/packages/view-bar/src/controls.module.css
  app/packages/view-bar/src/controls.tsx
  app/yarn.lock
Due: frontend-check

fix(annotation): split / merge address the selected track's own frame field
  app/packages/video-annotation/src/hooks/useVideoSurfaceActions.test.ts
  app/packages/video-annotation/src/hooks/useVideoSurfaceActions.ts
Due: none

view bar: the last of the hand-rolled styling
  app/packages/view-bar/src/CurrentViewChip.module.css
  app/packages/view-bar/src/CurrentViewChip.tsx
  app/packages/view-bar/src/StageCard.module.css
  app/packages/view-bar/src/StageCard.tsx
  app/packages/view-bar/src/ViewBar.module.css
  app/packages/view-bar/src/ViewBar.tsx
  app/packages/view-bar/src/description.module.css
  app/packages/view-bar/src/description.tsx
Due: none

fix(annotation): a split pins both sides of the cut as keyframes
  app/packages/video-annotation/src/hooks/useVideoSurfaceActions.test.ts
  app/packages/video-annotation/src/hooks/useVideoSurfaceActions.ts
Due: none

bar surfaces and field affordances
  app/.yarnrc.yml
  app/packages/app/src/components/DatasetSelector.tsx
  app/packages/view-bar/src/InsertSlot.tsx
  app/packages/view-bar/src/LanguageSearch.tsx
  app/packages/view-bar/src/ViewBar.module.css
  app/yarn.lock
Due: none

logo spin: quicker, with a spring's overshoot
  app/packages/components/src/components/Header/Header.module.css
Due: none

fix tests
  tests/unittests/utils/test_qwen3_vl.py
  tests/unittests/zoo/models_manifest_tests.py
Due: pylint

dataset selector: no leading icon
  app/packages/app/src/components/DatasetSelector.tsx
Due: none

the gutter keeps the shell's surface, like the header
  app/packages/view-bar/src/ViewBar.module.css
Due: none

the stages divider uses the gutter's border color
  app/packages/view-bar/src/ViewBar.module.css
Due: none

header and gutter on design-system tokens, chosen by value
  app/packages/components/src/components/Header/Header.module.css
  app/packages/view-bar/src/ViewBar.module.css
Due: none

header and gutter back on the shell's palette
  app/packages/components/src/components/Header/Header.module.css
  app/packages/view-bar/src/ViewBar.module.css
Due: none

add-stage field: no leading icon
  app/packages/view-bar/src/InsertSlot.tsx
Due: none

splitting a track makes both sides of the cut keyframes
  app/packages/video-annotation/src/hooks/useVideoSurfaceActions.test.ts
  app/packages/video-annotation/src/hooks/useVideoSurfaceActions.ts
Due: none

the search field says natural language
  app/packages/view-bar/src/LanguageSearch.tsx
  e2e-pw/src/oss/poms/viewbar/viewbar.ts
Due: none

taking the configure offer closes the list and opens the panel
  app/.yarnrc.yml
  app/packages/view-bar/src/LanguageSearch.tsx
  app/yarn.lock
Due: none

dataset selector: drop the unused icon import
  app/packages/app/src/components/DatasetSelector.tsx
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
