Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

update pydantic
  setup.py
Due: pylint

initializing tutorial w/ indexing
  docs/source/tutorials/index.rst
  docs/source/tutorials/small_object_detection.ipynb
Due: ipynb-strip

add feat/ to pr checks
  .github/workflows/pr.yml
Due: none

[skip ci] automated bump `fiftyone` to 0.16.0rc6 and `fiftyone-app` to 1.6.0rc6
  package/teams/setup.py
  setup.py
Due: pylint

Update fiftyone/core/odm/database.py
  fiftyone/core/odm/database.py
Due: pylint

coderabbit review
  docs/source/user_guide/app.rst
  fiftyone/core/odm/workspace.py
Due: pylint

3d or point-cloud
  fiftyone/utils/utils3d.py
Due: pylint

lingering saved_view references in _patch_referenced_docs
  fiftyone/core/odm/database.py
Due: pylint

update gif and fix filename
  docs/source/images/app/ app-new-3d-visualizer.gif
  docs/source/images/app/app-new-3d-visualizer.gif
Due: none

add fullscreen to Looker3d
  app/packages/looker-3d/src/Looker3d.tsx
Due: none

set the default matplotlib style to 'default'
  fiftyone/core/plots/matplotlib.py
Due: pylint

typo
  fiftyone/utils/utils3d.py
Due: pylint

more docs
  docs/source/release-notes.rst
  docs/source/teams/pluggable_auth.md
Due: none

validate with set
  fiftyone/utils/utils3d.py
Due: pylint

Update fiftyone/core/dataset.py typo
  fiftyone/core/dataset.py
Due: pylint

Update app/packages/looker-3d/src/fo3d/Background.tsx
  app/packages/looker-3d/src/fo3d/Background.tsx
Due: none

final docs tweaks
  docs/source/user_guide/app.rst
  docs/source/user_guide/using_datasets.rst
Due: none

rename hf util file
  fiftyone/utils/huggingface.py
Due: pylint

adds standard module docstring
  fiftyone/utils/huggingface.py
Due: pylint

removes detection_format and mask_targets for now
  fiftyone/utils/huggingface.py
Due: pylint

lazy import huggingface_hub
  fiftyone/utils/huggingface.py
Due: pylint

remove unused import
  fiftyone/utils/huggingface.py
Due: pylint

fix docs variable
  fiftyone/core/threed/scene_3d.py
Due: pylint

use TmpDir eta util
  fiftyone/utils/huggingface.py
Due: pylint

fixes docstring indentation
  fiftyone/utils/huggingface.py
Due: pylint

fix api docstring bullet list indent
  fiftyone/utils/huggingface.py
Due: pylint

changing heading levels
  docs/source/integrations/huggingface.rst
Due: none

change default push to public
  fiftyone/utils/huggingface.py
Due: pylint

add cas docs images
  docs/source/images/teams/cas/cas_api_docs.png
  docs/source/images/teams/cas/cas_sign_in.png
  docs/source/release-notes.rst
  docs/source/teams/pluggable_auth.md
Due: none

cas docs tweaks
  docs/source/teams/pluggable_auth.md
Due: none

basic push_to_hub docs
  docs/source/integrations/huggingface.rst
Due: none

updating code snippet for loading dataset
  fiftyone/utils/huggingface.py
Due: pylint

pushing to hub advanced usage section
  docs/source/images/integrations/hf_push_advanced_example.jpg
  docs/source/integrations/huggingface.rst
Due: none

examples for advanced push section
  docs/source/integrations/huggingface.rst
Due: none

[skip ci] automated bump `fiftyone` to 0.16.0rc7 and `fiftyone-app` to 1.6.0rc7
  package/teams/setup.py
  setup.py
Due: pylint

loading from hub via local config docs
  docs/source/integrations/huggingface.rst
Due: none

hub loading from kwargs docs
  docs/source/integrations/huggingface.rst
Due: none

starting supported config fields section
  docs/source/integrations/huggingface.rst
Due: none

export/import includes workspaces
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  tests/unittests/import_export_tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
