Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

remove MediaType usage in server
  fiftyone/server/main.py
Due: pylint

frame number improvements
  fiftyone/core/_sample.py
  fiftyone/core/fields.py
  fiftyone/core/frame.py
  fiftyone/core/odm/frame.py
  tests/unittests.py
Due: pylint

Show error when video fails to load
  electron/app/components/Player51.tsx
Due: none

Show error when sample mime type is unrecognized
  electron/app/components/Player51.tsx
  electron/app/components/Sample.tsx
Due: none

Only create Player51 objects when needed to initialize state
  electron/app/components/Player51.tsx
Due: none

adding method to force valid frame number
  fiftyone/core/frame_utils.py
Due: pylint

Frame work
  fiftyone/core/frame.py
Due: pylint

tweaking formatting
  fiftyone/core/frame_utils.py
Due: pylint

updating pretty-print
  docs/source/user_guide/using_datasets.rst
Due: none

using rename_field()
  fiftyone/utils/data/base.py
Due: pylint

resolving frames-dict todos
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/data/parsers.py
Due: pylint

fixing typo
  fiftyone/utils/data/exporters.py
Due: pylint

resolving frames-related todos
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/dataset_creation/samples.rst
Due: none

adding support for getting dataset length
  fiftyone/utils/data/importers.py
Due: pylint

adding quickstart-video zoo dataset
  fiftyone/zoo/base.py
Due: pylint

exposing video quickstart via CLI
  fiftyone/core/cli.py
  fiftyone/utils/quickstart.py
Due: pylint

expose len(Frames)
  fiftyone/core/frame.py
Due: pylint

updating dataset description
  fiftyone/utils/quickstart.py
  fiftyone/zoo/base.py
Due: pylint

optimize batch size
  fiftyone/core/dataset.py
Due: pylint

fixing bug
  fiftyone/utils/quickstart.py
Due: pylint

updating CLI documentation
  docs/source/cli/index.rst
Due: none

Add progress indicator when loading videos/images
  electron/app/components/Player51.tsx
Due: none

Add loading indicator to samples grid
  electron/app/components/Samples.tsx
Due: none

Disable loading indicator in thumbnails for now (too noisy)
  electron/app/components/Player51.tsx
Due: none

creating index in validate(), not sort_by()
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/stages.py
  fiftyone/core/view.py
Due: pylint

tweaking method order
  fiftyone/core/collections.py
Due: pylint

tweaking method order
  fiftyone/core/dataset.py
Due: pylint

Remove console.log calls
  electron/app/components/Samples.hooks.ts
  electron/app/recoil/selectors.ts
Due: none

updating release notes
  docs/source/release-notes.rst
Due: none

tweak wording
  docs/source/release-notes.rst
Due: none

fixing doc formatting
  docs/source/user_guide/using_views.rst
Due: none

frame indexes
  fiftyone/core/dataset.py
Due: pylint

adding video dataset formats
  docs/source/recipes/convert_datasets.ipynb
Due: ipynb-strip

Bump ETA requirement, fix GUI requirement
  setup.py
Due: pylint

add core frame index
  fiftyone/core/dataset.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/database.py
  fiftyone/core/odm/frame.py
Due: pylint

normalizing frames
  fiftyone/core/dataset.py
  fiftyone/core/fields.py
  fiftyone/core/frame.py
  fiftyone/core/odm/frame.py
Due: pylint

fixing bug
  fiftyone/core/dataset.py
Due: pylint

v0.6.0.1
  setup.py
Due: pylint

updates to Frames
  fiftyone/core/dataset.py
  fiftyone/core/frame.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
