Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

unused EXAMPLES_DIR
  fiftyone/constants.py
Due: pylint

Bump to v0.3.0
  setup.py
Due: pylint

debugging
  electron/app/components/Player51/Player51.tsx
  electron/app/state/hooks.ts
  electron/app/utils/socket.ts
  electron/package.json
  electron/yarn.lock
  fiftyone/server/util.py
Due: pylint

print 'None' fields
  fiftyone/core/odm/document.py
  fiftyone/core/sample.py
Due: pylint

adding teset
  tests/unittests.py
Due: pylint

bug fix
  fiftyone/core/dataset.py
  fiftyone/core/sample.py
Due: pylint

Update docs theme installation process
  docs/generate_docs.bash
  docs/theme/pytorch_sphinx_theme/__init__.py
Due: pylint

prettttttty
  fiftyone/core/stages.py
Due: pylint

Replace header with voxel51 header
  docs/source/_static/css/custom.css
  docs/source/_static/js/custom.js
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/theme/pytorch_sphinx_theme/layout.html
Due: pylint

quote attribution
  docs/source/index.rst
Due: none

Remove references to unused fonts
  docs/source/conf.py
  docs/theme/pytorch_sphinx_theme/fonts.html
  docs/theme/pytorch_sphinx_theme/static/css/theme.css
Due: pylint

Use html_theme_path instead
  docs/generate_docs.bash
  docs/source/conf.py
Due: pylint

Disable require.js
  docs/source/conf.py
Due: pylint

Fix a couple styles
  docs/source/_static/css/custom.css
Due: none

resize handling work
  electron/.storybook/preview-body.html
  electron/app/components/Player51/Player51.tsx
  electron/app/components/Segment/Segment.tsx
  electron/app/components/utils.tsx
  electron/app/state/atoms.ts
  electron/app/state/selectors.ts
  electron/package.json
  electron/tsconfig.json
  electron/yarn.lock
Due: none

Add necessary resources for mobile menu
  .prettierignore
  docs/source/_static/js/voxel51-website.js
  docs/source/_templates/layout.html
  docs/source/conf.py
Due: pylint

Fix mobile menu display and horizontal scrollbar
  docs/source/_static/css/custom.css
Due: none

Rename blocks, remove unused PyTorch mobile menu
  docs/source/_templates/layout.html
  docs/theme/pytorch_sphinx_theme/layout.html
Due: none

Disable more PyTorch-specific content
  docs/source/_templates/cookie_banner.html
Due: none

Move voxel51 footer to footer
  docs/source/_static/css/custom.css
  docs/source/_templates/layout.html
Due: none

Remove Sphinx + redundant copyright notice
  docs/source/_templates/footer.html
Due: none

smooth resizing
  electron/app/components/Player51/Player51.tsx
  electron/app/components/utils.tsx
  electron/app/state/atoms.ts
  electron/app/state/selectors.ts
  fiftyone/server/main.py
Due: pylint

label mistakes download note
  docs/source/tutorials/label_mistakes.ipynb
Due: ipynb-strip

converting import methods to DatasetImporter implementations
  fiftyone/utils/data/importers.py
Due: pylint

adding generic util for import datasets using DatasetImporters
  fiftyone/utils/data/importers.py
Due: pylint

converting export methods to DatasetExporter implementations
  fiftyone/utils/data/exporters.py
Due: pylint

adding generic util to export datasets using DatasetExporters
  fiftyone/utils/data/exporters.py
Due: pylint

converting COCO import/export functions to DatasetImporter/DatasetExporters
  fiftyone/utils/coco.py
Due: pylint

converting VOC import/export functions to DatasetImporter/DatasetExporters
  fiftyone/utils/voc.py
Due: pylint

converting KITTI import/export functions to DatasetImporter/DatasetExporters
  fiftyone/utils/kitti.py
Due: pylint

converting CVAT import/export functions to DatasetImporter/DatasetExporters
  fiftyone/utils/cvat.py
Due: pylint

converting BDD import/export functions to DatasetImporter/DatasetExporters
  fiftyone/utils/bdd.py
Due: pylint

converting TF import/export functions to DatasetImporter/DatasetExporters
  fiftyone/utils/tf.py
Due: pylint

implementing dataset_importer/exporter methods for dataset types
  fiftyone/types/dataset_types.py
Due: pylint

updating Dataset factory methods to support dataset importers/exporters
  fiftyone/core/dataset.py
Due: pylint

updating SampleCollectionn.export method to support dataset importers/exporters
  fiftyone/core/collections.py
Due: pylint

front end tweaks
  electron/app/components/Flashlight/Flashlight.stories.tsx
  electron/app/components/Flashlight/Flashlight.tsx
  electron/app/components/Player51/Player51.tsx
  electron/app/components/Scrubber/Scrubber.stories.tsx
  electron/app/components/Scrubber/index.tsx
  electron/app/components/Section/Section.stories.tsx
  electron/app/components/Segment/index.tsx
Due: none

algorithm tweaks
  fiftyone/server/main.py
  fiftyone/server/util.py
Due: pylint

Tweak footer styles
  docs/source/_static/css/custom.css
  docs/source/_templates/layout.html
Due: none
