Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

chore(spaces): fix Panel/Space TypeScript errors
  app/packages/spaces/src/components/Panel.tsx
  app/packages/spaces/src/components/StyledElements.tsx
  app/packages/spaces/src/types.ts
Due: none

chore(app): drop redundant env.d.ts reference directive in index.tsx
  app/packages/app/src/index.tsx
Due: none

chore(spaces): fix straightforward TypeScript errors
  app/packages/spaces/src/hooks.ts
  app/packages/spaces/src/utils/sizes.ts
Due: none

chore(relay): widen PageQuery.event to include slice/spaces
  app/packages/relay/src/Writer.tsx
Due: none

chore(spaces): fix remaining hooks.ts TypeScript errors
  app/packages/spaces/src/hooks.ts
Due: none

chore(map): fix straightforward TypeScript errors
  app/packages/map/src/Draw.tsx
  app/packages/map/src/Map.tsx
  app/packages/map/src/Options.tsx
  app/packages/map/src/useEventHandler.ts
Due: none

chore(map): dedupe @types/mapbox-gl to 2.7.21 to fix TypeScript errors
  app/package.json
  app/yarn.lock
Due: none

chore(app,embeddings): fix straightforward TypeScript errors
  app/packages/app/src/Renderer.tsx
  app/packages/app/src/components/Analytics.tsx
  app/packages/app/src/components/Setup.tsx
  app/packages/app/src/components/Teams.tsx
  app/packages/app/src/index.tsx
  app/packages/app/src/pages/IndexPage.tsx
  app/packages/app/src/pages/datasets/DatasetPage.tsx
  app/packages/app/src/useSetters/onSetViewName.ts
  app/packages/embeddings/src/ComputeVisualizationButton.tsx
  app/packages/embeddings/src/Embeddings.tsx
  app/packages/embeddings/src/EmbeddingsPlot.tsx
  app/packages/embeddings/src/operators.ts
  app/packages/embeddings/src/tracesToData.tsx
  app/packages/embeddings/src/useBrainResult.tsx
  app/packages/embeddings/src/useBrainResultInfo.tsx
  app/packages/embeddings/src/useColorByChoices.tsx
  app/packages/embeddings/src/useLabelSelector.tsx
  app/packages/embeddings/src/usePlot.tsx
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/embeddings/src/useResetPlotZoom.tsx
  app/packages/embeddings/src/useViewChangeEffect.tsx
Due: frontend-check

feat(components): support href on Link
  app/packages/components/src/components/Link/Link.tsx
Due: none

chore: address CodeRabbit review on #7854 (round 2)
  app/packages/embeddings/src/EmbeddingsPlot.tsx
  app/packages/embeddings/src/operators.ts
  app/packages/embeddings/src/usePlot.tsx
  app/packages/spaces/src/components/Workspaces/hooks.ts
  app/packages/spaces/src/hooks.ts
  app/packages/utilities/src/fetch.ts
Due: none

get rid of hardcoded allowlists in sampleProjection and define in overlays themselves
  app/packages/looker/src/overlays/base.ts
  app/packages/looker/src/overlays/classifications.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/overlays/heatmap.ts
  app/packages/looker/src/overlays/index.test.ts
  app/packages/looker/src/overlays/index.ts
  app/packages/looker/src/overlays/keypoint.ts
  app/packages/looker/src/overlays/polyline.ts
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/state/src/recoil/sampleProjection.test.ts
  app/packages/state/src/recoil/sampleProjection.ts
Due: none

Address review feedback on execution store clone
  fiftyone/operators/store/clone.py
  tests/unittests/execution_store_unit_tests.py
Due: pylint

Test cloner registration in a fresh interpreter
  tests/unittests/execution_store_unit_tests.py
Due: pylint

coderabbit comments
  docs/scripts/make_model_zoo_docs.py
Due: pylint

chore(flashlight): remove unused selectedMediaFieldName from Options
  app/packages/flashlight/src/state.ts
Due: none

rename to distinct label field
  docs/scripts/make_model_zoo_docs.py
Due: pylint

fix(lighter): re-emit overlay-commit-requested after pen mask encodes
  app/packages/lighter/src/overlay/DetectionOverlay.ts
Due: none

Update clip requirement to be PEP compliant
  fiftyone/zoo/models/manifest-torch.json
Due: none

fix bugs and add to model zoo
  docs/scripts/make_model_zoo_docs.py
  docs/source/integrations/twelvelabs.rst
  fiftyone/utils/twelvelabs.py
  fiftyone/zoo/models/manifest-hosted.json
Due: pylint

remove intensive test
  tests/unittests/utils/test_twelvelabs.py
Due: pylint

feat(annotation): live preview of label edits via the label-patch signal
  app/packages/annotation/src/engine/index.ts
  app/packages/annotation/src/engine/signals/labelPatch.ts
  app/packages/annotation/src/engine/surfaces/lighter/useLighterEngineBridge.test.tsx
  app/packages/annotation/src/engine/surfaces/lighter/useLighterEngineBridge.ts
  app/packages/annotation/src/engine/surfaces/lighter/useLighterPreviewSync.test.tsx
  app/packages/annotation/src/engine/surfaces/lighter/useLighterPreviewSync.ts
  app/packages/annotation/src/state/index.ts
  app/packages/annotation/src/state/useLabelPreview.ts
  app/packages/components/src/components/SmartForm/RJSF/index.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/SliderWidget.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useLivePreview.ts
Due: none

docs(annotation): document useLivePreview
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useLivePreview.ts
Due: none

refactor(annotation): address useLivePreview by the engine anchor
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useLivePreview.ts
Due: none

Fix TwelveLabs tests forcing real package import in CI
  tests/unittests/utils/test_twelvelabs.py
Due: pylint

chore: mirror develop's format / format:check scripts on release/v1.18.0
  app/package.json
Due: none

Add rtdetr v2 large
  fiftyone/zoo/models/manifest-torch.json
Due: none

ci(pr): skip heavy suite on intra-stack PRs
  .github/workflows/pr.yml
Due: none

add e2e coverage for 3D cuboid and polyline annotation
  app/packages/components/src/components/ActionToolbar/ActionToolbar.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Actions.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Position3d.tsx
  e2e-pw/src/oss/fixtures/annotate-3d-sdk.ts
  e2e-pw/src/oss/fixtures/index.ts
  e2e-pw/src/oss/poms/modal/annotate-3d.ts
  e2e-pw/src/oss/poms/modal/index.ts
  e2e-pw/src/oss/specs/MISSING-annotate-3d-cuboid.spec.ts
  e2e-pw/src/oss/specs/MISSING-annotate-3d-polyline.spec.ts
Due: none

chore: update yarn.lock for prettier 3.8.4 upgrade
  app/yarn.lock
Due: none

cover grouped 2D+3D annotation slice federation (no-leak)
  e2e-pw/src/oss/specs/MISSING-annotate-grouped-no-leak.spec.ts
Due: none

adding git syntax
  fiftyone/core/utils.py
Due: pylint

skip empty masks in post processing
  fiftyone/utils/sam.py
Due: pylint

chore: complete biome->prettier migration on release/v1.18.0
  .github/workflows/pr.yml
  app/packages/app/biome.json
  app/packages/app/package.json
  app/packages/looker-3d/biome.json
  app/packages/looker-3d/package.json
  app/packages/spotlight/biome.json
  app/packages/spotlight/package.json
  app/yarn.lock
Due: frontend-check

chore: remove per-package .prettierignore files (match #7832)
  app/packages/analytics/.prettierignore
  app/packages/components/.prettierignore
  app/packages/looker/.prettierignore
  app/packages/operators/.prettierignore
  app/packages/plugins/.prettierignore
Due: none

fix(core): re-home the whole video track across frames on a field move
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Field.tsx
Due: none

fix(video-annotation): keep the labels stream mounted when only the primary frame field changes
  app/packages/video-annotation/src/components/FrameLabels.tsx
  app/packages/video-annotation/src/streams/VideoFrameLabelsStream.ts
Due: none

fix(video-annotation): carry frame-store edits across a stream rebuild
  app/packages/video-annotation/src/hooks/useSyncAnnotationVideoStore.ts
Due: none

test(e2e): cover video track field-move persistence and undo/redo
  e2e-pw/src/oss/specs/MISSING-annotate-video-field-move.spec.ts
Due: none
