Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

test(e2e): map canvas coordinates over the media, clip cross-mode shots
  e2e-pw/src/global.d.ts
  e2e-pw/src/oss/poms/modal/sample-canvas/index.ts
  e2e-pw/src/oss/specs/canvas.spec.ts
  e2e-pw/src/oss/specs/viewport-bridge.spec.ts
Due: none

fix: contains(all=True) no longer errors on missing field paths
  fiftyone/core/expressions.py
  tests/unittests/view_tests.py
Due: pylint

share multimodal indexeddb lifecycle
  app/packages/multimodal/src/runtime/persistence/indexeddb.test.ts
  app/packages/multimodal/src/runtime/persistence/indexeddb.ts
  app/packages/multimodal/src/runtime/source-facts-persistence.test.ts
  app/packages/multimodal/src/runtime/source-facts-persistence.ts
  app/packages/multimodal/src/views/episode/grid/grid-poster-persistence.test.ts
  app/packages/multimodal/src/views/episode/grid/grid-poster-persistence.ts
Due: none

fix(app): only read MCAP audio when something actually wants it
  app/packages/multimodal/src/audio/audio-source-registry.ts
  app/packages/multimodal/src/audio/audio-stream-engine.ts
  app/packages/multimodal/src/views/episode/audio/AudioTile.test.tsx
  app/packages/multimodal/src/views/episode/audio/AudioTile.tsx
  app/packages/multimodal/src/views/episode/audio/RegisterMcapAudioStreams.tsx
  app/packages/multimodal/src/views/episode/audio/use-mcap-audio-stream.ts
  app/packages/multimodal/src/views/episode/shell/Streams.tsx
Due: none

fix(app): keep the mixer's track order stable across mute
  app/packages/multimodal/src/audio/use-audio-stream-playback.ts
  app/packages/multimodal/src/views/episode/audio/RegisterMcapAudioStreams.tsx
  app/packages/multimodal/src/views/episode/audio/use-mcap-audio-stream.ts
  app/packages/playback/src/lib/playback/audio-track-registry.test.ts
  app/packages/playback/src/lib/playback/store-access.ts
Due: none

fix(app): label the audio tile's channels and let it pick a source
  app/packages/multimodal/src/views/episode/audio/AudioTile.test.tsx
  app/packages/multimodal/src/views/episode/audio/AudioTile.tsx
  app/packages/multimodal/src/views/episode/audio/AudioTileSettings.tsx
  app/packages/multimodal/src/views/episode/audio/WaveformViewer.module.css
  app/packages/multimodal/src/views/episode/audio/WaveformViewer.tsx
Due: none

Update app-dependencies
  .github/scripts/package.json
  .github/scripts/yarn.lock
  app/.yarnrc.yml
  app/package.json
  app/packages/app/package.json
  app/packages/core/package.json
  app/packages/embeddings-v2/package.json
  app/packages/looker-3d/package.json
  app/packages/looker/package.json
  app/packages/map/package.json
  app/packages/multimodal/package.json
  app/packages/spotlight/package.json
  app/packages/state/package.json
  app/yarn.lock
  e2e-pw/package.json
  e2e-pw/yarn.lock
Due: frontend-check

fix(app): stop the waveform canvas showing another source's data
  app/packages/multimodal/src/views/episode/audio/AudioTile.tsx
  app/packages/multimodal/src/views/episode/audio/WaveformViewer.tsx
  app/packages/multimodal/src/views/episode/audio/waveform-gpu.ts
Due: none

fix(app): let decoded audio, not the recording's timestamps, set its length
  app/packages/multimodal/src/audio/incremental-peaks.ts
  app/packages/multimodal/src/audio/use-audio-stream-playback.ts
Due: none

fix(app): persist the audio tile's source across a refresh
  app/packages/multimodal/src/views/episode/audio/AudioTile.tsx
  app/packages/multimodal/src/views/episode/layout/use-modal-layout.tsx
  app/packages/multimodal/src/views/episode/settings/sidebar-preferences.ts
Due: none

fix(app): freeze waveform peaks once complete so looping stops shifting it
  app/packages/multimodal/src/audio/incremental-peaks.test.ts
  app/packages/multimodal/src/audio/incremental-peaks.ts
  app/packages/multimodal/src/audio/peak-pyramid.ts
  app/packages/multimodal/src/views/episode/audio/waveform-gpu.ts
Due: none

perf(app): stop redrawing the waveform once it has nothing new to show
  app/packages/multimodal/src/audio/incremental-peaks.test.ts
  app/packages/multimodal/src/audio/incremental-peaks.ts
Due: none

feat(app): zoom the audio tile from anywhere over the waveform
  app/packages/multimodal/src/views/episode/audio/AudioTile.module.css
  app/packages/multimodal/src/views/episode/audio/AudioTile.tsx
Due: none

fix(app): draw the whole waveform, not just the first six seconds
  app/packages/multimodal/src/audio/use-audio-stream-playback.ts
Due: none

fix(app): make the waveform scan actually reach the end of the source
  app/packages/multimodal/src/audio/use-audio-stream-playback.test.tsx
  app/packages/multimodal/src/audio/use-audio-stream-playback.ts
Due: none

fix(app): stop the waveform ending two thirds of the way through
  app/packages/multimodal/src/audio/incremental-peaks.test.ts
  app/packages/multimodal/src/audio/incremental-peaks.ts
  app/packages/multimodal/src/audio/use-audio-stream-playback.test.tsx
Due: none

add a shared grid poster provider seam
  app/packages/multimodal/package.json
  app/packages/multimodal/src/extensions/README.md
  app/packages/multimodal/src/extensions/grid-posters/index.ts
  app/packages/multimodal/src/extensions/grid-posters/registry.test.tsx
  app/packages/multimodal/src/extensions/grid-posters/registry.ts
  app/packages/multimodal/src/extensions/grid-posters/types.ts
  app/packages/multimodal/src/views/episode/grid/grid-poster-cache.test.ts
  app/packages/multimodal/src/views/episode/grid/grid-poster-cache.ts
  app/packages/multimodal/src/views/episode/grid/grid-poster-persistence.ts
  app/packages/multimodal/src/views/episode/grid/use-grid-poster-provider.test.tsx
  app/packages/multimodal/src/views/episode/grid/use-grid-poster-provider.ts
Due: none

consult poster providers before live grid reads
  app/packages/multimodal/src/views/episode/grid/GridRenderer.test.tsx
  app/packages/multimodal/src/views/episode/grid/GridRenderer.tsx
Due: none

approve the grid poster extension facade
  app/packages/multimodal/.dependency-cruiser.cjs
  app/packages/multimodal/src/extensions/grid-posters/index.ts
Due: none

assert signed native pcd writeback pose
  e2e-pw/src/oss/specs/grouped-direct-pcd-world-alignment.spec.ts
Due: none

document world-aligned grouped pcds
  docs/source/user_guide/groups.rst
  docs/source/user_guide/using_datasets.rst
Due: none

make operator availability reactive
  app/packages/operators/src/hooks.test.ts
  app/packages/operators/src/hooks.ts
  app/packages/operators/src/index.ts
Due: none

let grids render while operators initialize
  app/packages/app/src/Sync.tsx
  app/packages/core/src/components/SchemaManagerOutlet.test.tsx
  app/packages/core/src/components/SchemaManagerOutlet.tsx
  app/packages/operators/src/loader.test.tsx
  app/packages/plugins/src/index.test.tsx
  app/packages/plugins/src/index.ts
  app/packages/spaces/src/components/Workspaces/hooks.test.ts
  app/packages/spaces/src/components/Workspaces/hooks.ts
Due: none

Fix mutable fields on temporary samples
  fiftyone/core/document.py
  tests/unittests/sample_tests.py
Due: pylint

add collision-safe media reference samples
  fiftyone/__public__.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
  fiftyone/core/view.py
  fiftyone/multimodal/__init__.py
  fiftyone/multimodal/media.py
  tests/unittests/dataset_tests.py
  tests/unittests/group_tests.py
  tests/unittests/index_tests.py
  tests/unittests/multimodal/media_reference_tests.py
  tests/unittests/patches_tests.py
  tests/unittests/video_tests.py
Due: pylint

import and serve lerobot v3 episode assets
  fiftyone/server/media_references.py
  fiftyone/server/metadata.py
  fiftyone/server/routes/__init__.py
  fiftyone/server/routes/groups.py
  fiftyone/server/routes/media_reference.py
  fiftyone/server/samples.py
  fiftyone/server/utils/json/serialization.py
  fiftyone/types/dataset_types.py
  fiftyone/utils/lerobot.py
  tests/unittests/multimodal/lerobot_tests.py
Due: pylint

route pathless media references through renderer hosts
  app/packages/core/src/components/Grid/GridCustomRendererItem.tsx
  app/packages/core/src/components/Grid/useGridCustomRendererItem.test.tsx
  app/packages/core/src/components/Grid/useGridCustomRendererItem.ts
  app/packages/core/src/components/Modal/ModalSampleRenderer.test.tsx
  app/packages/core/src/components/Modal/ModalSampleRenderer.tsx
  app/packages/core/src/components/Modal/use-modal-sample-renderer-persistence.test.tsx
  app/packages/core/src/components/Modal/use-modal-sample-renderer-persistence.ts
  app/packages/multimodal/src/adapters/mcap/descriptor.test.ts
  app/packages/multimodal/src/adapters/mcap/descriptor.ts
  app/packages/multimodal/src/ports/adapter.ts
  app/packages/multimodal/src/views/session/episode-source.test.ts
  app/packages/multimodal/src/views/session/episode-source.ts
  app/packages/multimodal/src/views/session/use-owned-episode-resource.ts
  app/packages/multimodal/src/views/session/use-stable-episode-source.ts
  app/packages/plugins/src/index.ts
  app/packages/plugins/src/sample-renderer.test.tsx
  app/packages/plugins/src/sample-renderer.ts
  app/packages/state/src/hooks/media-field-lookers.test.ts
  app/packages/state/src/hooks/media-field-lookers.ts
  app/packages/utilities/src/media.ts
Due: none

fix(skeletonFilter): use helperFunction for null-safe numeric range checks
  app/packages/state/src/recoil/skeletonFilter.ts
Due: none

Add the APAC egocentric stereo and Hilti SLAM Challenge 2022 datasets to the dataset zoo
  docs/source/dataset_zoo/datasets/apac_egocentric_stereo.rst
  docs/source/dataset_zoo/datasets/dataset_cards.rst
  docs/source/dataset_zoo/datasets/hilti_slam_challenge_2022.rst
  docs/source/images/dataset_zoo/apac-egocentric-stereo.png
  docs/source/images/dataset_zoo/hilti-slam-challenge-2022.png
  fiftyone/zoo/datasets/base.py
Due: pylint

Load docs homepage banner dynamically from CDN
  docs/source/index.rst
Due: none

test(e2e): annotate-surface linux baselines regenerated in the CI container
  e2e-pw/src/oss/specs/canvas.spec.ts-snapshots/pixelated-chromium-linux.png
  e2e-pw/src/oss/specs/detection-mode.spec.ts-snapshots/draw-and-quit-detection-selected-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/classification-lighter-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-left-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-left-move-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-right-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-right-move-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-centered-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-centered-confidence-1-0-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-left-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-left-move-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-right-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-right-move-chromium-linux.png
  e2e-pw/src/oss/specs/segmentation-tool-snapshots.spec.ts-snapshots/seg-pen-rectangle-chromium-linux.png
  e2e-pw/src/oss/specs/viewport-bridge.spec.ts-snapshots/cross-renderer-chromium-linux.png
Due: none

fix(annotate): drop the loading cover when Lighter init fails
  app/packages/core/src/components/Modal/Lighter/LighterSampleRenderer.tsx
  app/packages/playback/src/views/TimelineControls/VolumeControl.test.tsx
Due: none

fix(server): serve exactly numFrames frames from the frames route
  app/packages/video-annotation/src/hooks/useVideoPropagate.ts
  fiftyone/server/routes/frames.py
Due: pylint

test(e2e): pixel-round canvas targets, fix bar height, deselect before seg shots
  e2e-pw/src/oss/poms/modal/sample-canvas/index.ts
  e2e-pw/src/oss/specs/detection-mode.spec.ts-snapshots/draw-and-quit-exited-detection-mode-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-centered-confidence-1-0-chromium-linux.png
  e2e-pw/src/oss/specs/segmentation-tool-snapshots.spec.ts
Due: none

Fix load_annotations silently losing existing labels
  fiftyone/utils/annotations.py
  fiftyone/utils/cvat.py
Due: pylint

test(e2e): re-render annotate baselines for pixel-rounded gestures
  e2e-pw/src/oss/specs/canvas.spec.ts-snapshots/pixelated-chromium-linux.png
  e2e-pw/src/oss/specs/detection-mode.spec.ts-snapshots/draw-and-quit-detection-selected-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-left-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-left-move-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-right-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-bottom-right-move-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-left-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-left-move-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-right-chromium-linux.png
  e2e-pw/src/oss/specs/quick-edit.spec.ts-snapshots/detection-lighter-selected-top-right-move-chromium-linux.png
  e2e-pw/src/oss/specs/segmentation-tool-snapshots.spec.ts-snapshots/seg-pen-rectangle-chromium-linux.png
  e2e-pw/src/oss/specs/viewport-bridge.spec.ts-snapshots/cross-renderer-chromium-linux.png
Due: none

Add regression test for duplicate CVAT labels
  tests/unittests/utils/test_cvat_duplicate_shapes.py
Due: pylint

docs(annotate): trim AnnotationTopBar comments to the non-obvious
  app/packages/annotation/src/components/AnnotationTopBar.tsx
Due: none

Keep each import freeze active for the other migration's allowlist
  app/.eslintrc.js
Due: none

feat(modal): mount the media-facts bar in image Explore too
  app/packages/core/src/components/Modal/Lighter/useExposeMediaBoundsForTest.ts
  app/packages/core/src/components/Modal/ModalLooker.tsx
  e2e-pw/src/oss/poms/modal/sample-canvas/index.ts
  e2e-pw/src/oss/specs/canvas.spec.ts
  e2e-pw/src/oss/specs/quick-edit.spec.ts
  e2e-pw/src/oss/specs/viewport-bridge.spec.ts
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
