Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

linting
  tests/unittests/dataset_tests.py
Due: pylint

update validation()
  fiftyone/core/fields.py
Due: pylint

fix more edge cases
  app/packages/core/src/components/Modal/TooltipInfo.tsx
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/looker/src/worker.ts
Due: none

fix failing test by adding boolean guard for undefined mask targets
  fiftyone/core/labels.py
Due: pylint

adding unit tests for RGB segementation eval
  tests/unittests/evaluation_tests.py
Due: pylint

must explicitly declare field type
  fiftyone/core/fields.py
Due: pylint

linting
  fiftyone/core/labels.py
  fiftyone/utils/eval/segmentation.py
Due: pylint

fix circular import
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker.ts
  app/packages/relay/src/mutations/__generated__/setViewMutation.graphql.ts
Due: none

updating documentation
  docs/source/user_guide/evaluation.rst
  docs/source/user_guide/using_datasets.rst
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/labels.py
  fiftyone/utils/eval/segmentation.py
  fiftyone/utils/labels.py
Due: pylint

add frontend support for rgb overlays
  app/packages/core/src/__generated__/DatasetQuery.graphql.ts
  app/packages/looker/src/index.ts
  app/packages/looker/src/numpy.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/overlays/heatmap.ts
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker.ts
  app/packages/state/src/recoil/selectors.ts
  app/packages/state/src/utils.ts
  app/packages/utilities/src/color.ts
  app/schema.graphql
  install.bash
Due: none

handle edge cases
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/looker/src/overlays/util.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker.ts
  app/packages/state/src/recoil/selectors.ts
Due: none

refactor make_expression
  fiftyone/server/view.py
Due: pylint

add mock test
  app/packages/state/tests/recoil/filters.test.ts
Due: none

clean up
  app/packages/state/src/recoil/pathFilters/string.ts
  tests/unittests/server_tests.py
Due: pylint

finalized spaces session initial implementation
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/relay/src/mutations/__generated__/setSpacesMutation.graphql.ts
  app/packages/relay/src/mutations/index.ts
  app/packages/relay/src/mutations/setSpaces.ts
  app/packages/spaces/src/SpaceTree.ts
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/usePrimarySpaces.ts
  app/packages/state/src/hooks/useSessionSpaces.ts
  app/packages/state/src/hooks/useSetSpaces.ts
  app/packages/state/src/hooks/useStateUpdate.ts
  app/packages/state/src/recoil/atoms.ts
  app/schema.graphql
  fiftyone/core/session/session.py
  fiftyone/core/spaces.py
  fiftyone/core/state.py
  fiftyone/server/mutation.py
  fiftyone/server/query.py
Due: pylint

cleanup for spaces session support
  app/packages/core/src/components/SamplesContainer.tsx
  fiftyone/core/session/session.py
  fiftyone/server/mutation.py
Due: pylint

adding support for saving dynamic field changes on generated views
  fiftyone/core/clips.py
  fiftyone/core/dataset.py
  fiftyone/core/patches.py
  fiftyone/core/video.py
Due: pylint

update look and feel, option wording and tooltip
  app/packages/core/src/components/Filters/NumericFieldFilter.tsx
  app/packages/core/src/components/Filters/categoricalFilter/Wrapper.tsx
  app/packages/core/src/components/Filters/categoricalFilter/filterOption/FilterOption.tsx
Due: none

handling missing field case
  fiftyone/core/clips.py
  fiftyone/core/patches.py
  fiftyone/core/video.py
Due: pylint

session support for spaces state
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/spaces/src/hooks.ts
  app/packages/spaces/src/types.ts
  app/packages/state/src/hooks/useSessionSpaces.ts
  fiftyone/core/spaces.py
Due: pylint

slug work
  app/packages/core/src/Dataset.ts
  app/packages/core/src/__generated__/DatasetQuery.graphql.ts
  app/packages/core/src/__generated__/DatasetSavedViewsFragment.graphql.ts
  app/packages/core/src/__generated__/DatasetSavedViewsFragmentQuery.graphql.ts
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/core/src/makeRoutes.ts
  app/packages/relay/src/mutations/__generated__/createSavedViewMutation.graphql.ts
  app/packages/relay/src/mutations/__generated__/setViewMutation.graphql.ts
  app/packages/relay/src/mutations/__generated__/updateSavedViewMutation.graphql.ts
  app/packages/relay/src/mutations/createSavedView.ts
  app/packages/relay/src/mutations/setView.ts
  app/packages/relay/src/mutations/updateSavedView.ts
  app/packages/state/src/hooks/useSetView.ts
  app/packages/state/src/recoil/types.ts
  app/packages/state/src/utils.ts
  app/schema.graphql
  fiftyone/core/dataset.py
  fiftyone/core/odm/views.py
  fiftyone/core/state.py
  fiftyone/server/events.py
  fiftyone/server/mutation.py
  fiftyone/server/query.py
  fiftyone/server/view.py
Due: pylint

refactor space container to its own component
  app/packages/core/src/components/MainSpace/MainSpace.tsx
  app/packages/core/src/components/MainSpace/index.ts
  app/packages/core/src/components/SamplesContainer.tsx
Due: none

fix selecting label in modal issue for bool and string
  app/packages/core/src/components/Filters/categoricalFilter/Wrapper.tsx
  app/packages/core/src/components/Filters/categoricalFilter/filterOption/FilterOption.tsx
  app/packages/state/src/recoil/pathFilters/boolean.ts
  app/packages/state/src/recoil/pathFilters/string.ts
Due: none

cleaning
  app/packages/app/src/index.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
Due: none

don't use _root_dataset here
  fiftyone/core/clips.py
  fiftyone/core/patches.py
  fiftyone/core/video.py
Due: pylint

adding unit tests
  tests/unittests/patches_tests.py
  tests/unittests/video_tests.py
Due: pylint

fix listfield issue and add comments
  app/packages/state/src/recoil/pathFilters/boolean.ts
  fiftyone/server/view.py
Due: pylint

handling nested generated views
  fiftyone/core/clips.py
  fiftyone/core/patches.py
  fiftyone/core/video.py
Due: pylint

minor changes per Eric's suggestions
  fiftyone/utils/openimages.py
Due: pylint

fix package.json
  app/packages/state/package.json
  app/yarn.lock
Due: none

updating integration doc to reflect open-images-v7
  docs/source/integrations/open_images.rst
Due: none

get user id from context (#143)
  package/teams/fiftyone/teams/mutation.py
Due: pylint

removing max_size argument
  fiftyone/zoo/datasets/__init__.py
Due: pylint

reinstating _parse_label_types() with version arg
  fiftyone/utils/openimages.py
Due: pylint

adding proper ordering to images and changing title
  docs/source/tutorials/semantic_image_search.ipynb
Due: ipynb-strip

added cover image and improved app screenshot spacing
  docs/source/_static/images/tutorials/semantic_search.png
  docs/source/tutorials/index.rst
  docs/source/tutorials/semantic_image_search.ipynb
Due: ipynb-strip

fix bugs; address pr comments
  app/packages/looker/src/index.ts
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/worker.ts
  app/packages/utilities/src/color.ts
  app/packages/utilities/src/index.ts
Due: none

added implementations for match_field(), select_tags(), exclude_tags()
  docs/source/recipes/viewstages_cheat_sheet.rst
Due: none

pin @mui/joy
  app/packages/components/package.json
Due: none

linting
  docs/source/index.rst
  docs/source/recipes/fiftyone_terminology.rst
  docs/source/recipes/index.rst
  docs/source/user_guide/app.rst
  docs/source/user_guide/basics.rst
Due: none
