Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

Add refreshed model eval video
  README.md
Due: none

Add refreshed similarity search video
  README.md
Due: none

Fix misplacement of model eval and sim search videos
  README.md
Due: none

Add refreshed dashboards video
  README.md
Due: none

Add mistakenness video under data curation, move sim search video to under integrations
  README.md
Due: none

[skip ci] automated bump `fiftyone` to v2.7.0.dev3, `fiftyone-app` to v2.7.0.dev3, and `teams-app` to v2.7.0-dev.3
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

add reduce support
  fiftyone/utils/beam.py
Due: pylint

cleanup, add tests
  fiftyone/server/samples.py
  tests/unittests/server_samples_tests.py
Due: pylint

wip
  app/packages/embeddings/src/EmbeddingsPlot.tsx
  app/packages/embeddings/src/useCurrentPlotWindow.tsx
  app/packages/embeddings/src/usePlot.tsx
  fiftyone/server/routes/embeddings.py
Due: pylint

revert slice view change
  fiftyone/server/aggregations.py
Due: pylint

add select/exclude to qp support
  app/packages/state/src/recoil/queryPerformance.test.ts
  app/packages/state/src/recoil/queryPerformance.ts
Due: none

Update app/packages/state/src/recoil/queryPerformance.ts
  app/packages/state/src/recoil/queryPerformance.ts
Due: none

[skip ci] automated bump `fiftyone` to v2.7.0.dev4, `fiftyone-app` to v2.7.0.dev4, and `teams-app` to v2.7.0-dev.4
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

new hook for setting sidebar labels
  app/packages/core/src/components/Dataset.tsx
  app/packages/core/src/hooks/index.ts
  app/packages/core/src/hooks/useOptimizeDenseLabelsLoading.ts
Due: none

add .env to gitignore
  .gitignore
Due: none

move color resolver to another module
  app/packages/looker/src/worker/index.ts
  app/packages/looker/src/worker/resolve-color.ts
Due: none

remove unused indexed png decoder code
  app/packages/looker/src/worker/tests/indexed-png-decoder.test.ts
Due: none

add function to get dense labels list
  app/packages/utilities/src/schema.ts
Due: none

add selector for default visibility labels
  app/packages/state/src/recoil/selectors.ts
Due: none

update _activeFields to respect default labels from app config (pending frames)
  app/packages/core/src/components/Dataset.tsx
  app/packages/core/src/hooks/index.ts
  app/packages/core/src/hooks/useOptimizeDenseLabelsLoading.ts
  app/packages/state/src/recoil/schema.ts
Due: none

add default_visibility_labels to dataset app config
  fiftyone/core/odm/dataset.py
  fiftyone/server/query.py
Due: pylint

update gql for new app config
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/relay/src/fragments/__generated__/datasetAppConfigFragment.graphql.ts
  app/packages/relay/src/fragments/datasetAppConfigFragment.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/state/src/recoil/types.ts
  app/schema.graphql
Due: frontend-check

don't process overlays if path is there but overlay not decoded
  app/packages/looker/src/processOverlays.ts
Due: none

pass activepaths to worker
  app/packages/looker/src/worker/index.ts
Due: none

add refreshSample
  app/packages/looker/src/lookers/abstract.ts
Due: none

add render status
  app/packages/looker/src/worker/disk-overlay-decoder.ts
  app/packages/looker/src/worker/painter.ts
  app/packages/looker/src/worker/shared.ts
Due: none

explicit type for lru color cache
  app/packages/looker/src/worker/resolve-color.ts
Due: none

impl default visibility for frames
  app/packages/state/src/recoil/schema.ts
Due: none

add painting status
  app/packages/looker/src/worker/shared.ts
Due: none

remove redundant guard
  app/packages/looker/src/processOverlays.ts
Due: none

add guard in painting loop
  app/packages/looker/src/worker/index.ts
Due: none

sample id fallback to _id
  app/packages/looker/src/lookers/abstract.ts
Due: none

refresh layout when sidebar is updated
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/useRefreshers.ts
  app/packages/core/src/components/Sidebar/useOnSidebarSelectionChange.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none

fix modal
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/useRefreshers.ts
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/Sidebar/useOnSidebarSelectionChange.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none

add null check in visibility labels selector
  app/packages/state/src/recoil/selectors.ts
Due: none

pass activepaths in frames
  app/packages/looker/src/lookers/frame-reader.ts
  app/packages/looker/src/lookers/video.ts
  app/packages/looker/src/worker/index.ts
Due: none

retry update sample
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/overlays/base.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/overlays/heatmap.ts
  app/packages/looker/src/overlays/segmentation.ts
Due: none

better name
  app/packages/core/src/components/Modal/Modal.tsx
Due: none

use local recoil state
  app/packages/core/src/components/Sidebar/useOnSidebarSelectionChange.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none
