Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

handle step in the front end
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
Due: none

implement add/edit attribute card and refactor with class card, support all types of input and component configs and and useAttributeForm hook
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddAttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddClassCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/CardActions.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ClassesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ComponentTypeButton.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/RangeInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ValuesList.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
  app/packages/spotlight/src/events.ts
Due: frontend-check

update the tsx components to use domain hooks
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/ActiveFieldsSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/EditFieldLabelSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/Header.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Footer.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/GUIView.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/HiddenFieldsSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/NoActiveSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
Due: none

fix the regression: use scan button instead of pencil icon when schema doesn't exist
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/HiddenFieldsSection.tsx
Due: none

update test to remove step
  tests/unittests/annotation/generate_label_schemas_tests.py
Due: pylint

fix the scroll bar styling issues in fiftyone-teams
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/JSONEditor.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/GUIView.tsx
Due: none

add more domain hooks
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
Due: none

break the _add_new_attributes into smaller functions
  plugins/operators/annotation.py
Due: pylint

add list type validation
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
Due: none

remove redundant code
  fiftyone/core/annotation/constants.py
  plugins/operators/annotation.py
Due: pylint

implement drag and drop to re-order attributes
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/state.ts
Due: none

remove step in both FE and BE
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ListDefaultInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/RangeInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
  fiftyone/core/annotation/constants.py
  fiftyone/core/annotation/generate_label_schemas.py
  fiftyone/core/annotation/validate_label_schemas.py
Due: pylint

address erik's comment
  fiftyone/core/annotation/validate_label_schemas.py
Due: pylint

move new_attributes handling to update_label_attributes
  fiftyone/core/annotation/__init__.py
  fiftyone/core/annotation/utils.py
  fiftyone/core/dataset.py
  plugins/operators/annotation.py
Due: pylint

pull develop (rebase) for attribute BE updates and updated FE to incorprate with the changes
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddAttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/state.ts
Due: none

fix the bug with list fields
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
Due: none

save and discard go back to schema manager main page
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
Due: none

address code rabbit comment
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  plugins/operators/annotation.py
Due: pylint

replace mui typology with voodo text
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/ActiveFieldsSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/JSONEditor.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/GUIView.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/HiddenFieldsSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/NoActiveSchema.tsx
Due: none

add ListDefaultInput with tag input on label attribute default and remove default input from primitives to be consistent with BE
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ListDefaultInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
Due: none

address coderabbit comments
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/CardActions.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
  fiftyone/core/annotation/generate_label_schemas.py
  plugins/operators/annotation.py
  tests/unittests/annotation/generate_label_schemas_tests.py
Due: pylint

update voodo package to * use the latest published version
  app/packages/core/package.json
  app/yarn.lock
Due: none

use better name for hooks
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
Due: none

switching between values component (dropdown, checkbox, radio) should not overwrite values setting.
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
Due: none

more code rabbit comments addressed
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/RangeInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
  fiftyone/core/annotation/constants.py
  fiftyone/core/annotation/generate_label_schemas.py
  fiftyone/core/annotation/validate_label_schemas.py
Due: pylint

remove bool_list
  fiftyone/core/annotation/constants.py
Due: pylint

shrink fonts and make adjustments based on workflow
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/EditFieldLabelSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/RangeInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ValuesList.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/Header.tsx
Due: none

remove delete icon in attribute row
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
Due: none

fix label attribute name
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
Due: none

setMode to switchMode
  e2e-pw/src/oss/poms/modal/modal-sidebar.ts
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
Due: none

chore(ci): add docker login step to e2e to avoid Docker Hub rate limiting when pulling MongoDB container images.
  .github/workflows/e2e.yml
Due: none

Make support async actions/undoables in the command API
  app/packages/commands/src/actions/Action.ts
  app/packages/commands/src/actions/ActionManager.test.ts
  app/packages/commands/src/actions/ActionManager.ts
  app/packages/commands/src/actions/Undoable.ts
  app/packages/commands/src/context/CommandContext.ts
  app/packages/commands/src/context/CommandContextManager.ts
  app/packages/commands/src/context/context.manager.test.ts
  app/packages/commands/src/context/context.test.ts
  app/packages/commands/src/hooks/types.ts
  app/packages/commands/src/hooks/useCommand.ts
  app/packages/commands/src/hooks/useCreateCommand.ts
  app/packages/commands/src/hooks/useUndoRedo.ts
  app/packages/commands/src/registry/CommandRegistry.ts
  app/packages/commands/src/types/command.test.ts
  app/packages/commands/src/types/command.ts
Due: none

address Erik's comments
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/EditFieldLabelSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ListDefaultInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/RangeInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ValuesList.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
Due: none

adjust styles
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddClassCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ClassesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/PrimitiveFieldContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ValuesList.tsx
Due: none

update enterprise migration docs
  docs/source/enterprise/migrations.rst
Due: none

chore(ci): update docker hub read only username secret.
  .github/workflows/e2e.yml
Due: none

update to new Attributes array
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
Due: none

avoid erroneous error display
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Position.tsx
Due: none

Minor RST formatting fixes in enterprise migration docs
  docs/source/enterprise/migrations.rst
Due: none

chore(ci): pass docker secrets to nested workflows
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
Due: none
