Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

fast clone
  fiftyone/core/dataset.py
Due: pylint

cleanup
  fiftyone/core/dataset.py
Due: pylint

Move player settings above nav buttons
  electron/app/components/SampleModal.tsx
Due: none

Make initial state of scalars in modal match sidebar
  electron/app/components/Sample.tsx
  electron/app/containers/Dataset.tsx
  electron/app/recoil/selectors.ts
Due: none

commit and focus cleanup
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

more work supporting labeled datasets with no labels
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/odm/sample.py
  fiftyone/core/view.py
  fiftyone/resources/cvat_image_annotation_template.xml
  fiftyone/types/dataset_types.py
  fiftyone/utils/coco.py
  fiftyone/utils/cvat.py
  fiftyone/utils/kitti.py
  fiftyone/utils/tf.py
  fiftyone/utils/voc.py
  fiftyone/zoo/tf.py
Due: pylint

various tweaks and small feature additions related to keyboard shortcuts and commits
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

more keyboard shortcuts
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
Due: none

castTo bug fix
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Due: none

Revert "adding dirty back until issue is resolved"
  .gitmodules
Due: none

removing collection name from repr
  fiftyone/core/odm/sample.py
Due: pylint

completing support for importing/exporting sample schemas of datasets
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/fields.py
  fiftyone/core/odm/sample.py
  fiftyone/core/view.py
  fiftyone/utils/cvat.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
Due: pylint

delete shortcuts work
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

handling None better
  fiftyone/utils/cvat.py
  fiftyone/utils/voc.py
Due: pylint

initial delete stage shortcuts
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

adding simple unit test for importing/exporting datasets with no labels
  tests/import_export_tests.py
Due: pylint

exposing pretty methods
  fiftyone/__public__.py
Due: pylint

linting and clarifying
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
Due: pylint

new error message styles
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/shared/colors.ts
Due: none

stage help buttons
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
Due: none

commit on esc in object editor
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
Due: none

adding release notes for v0.5.1
  docs/source/release-notes.rst
Due: none

fix delete, use array syntax
  electron/app/components/ViewBar/ViewBar.tsx
Due: none

updating description of tutorials
  docs/source/tutorials/evaluate_detections.ipynb
  docs/source/tutorials/index.rst
  docs/source/tutorials/open_images_evaluation.ipynb
Due: ipynb-strip

updating links
  docs/source/release-notes.rst
  docs/source/user_guide/basics.rst
  docs/source/user_guide/using_views.rst
Due: none

updating version number
  package/gui/setup.py
  setup.py
Due: pylint

tweaking tutorial
  docs/source/tutorials/open_images_evaluation.ipynb
Due: ipynb-strip

ViewBar release notes and image layout bug fix
  docs/source/release-notes.rst
Due: none

Update release notes for #384, #412
  docs/source/release-notes.rst
Due: none

disable chromatic
  .github/disabled-workflows/chromatic.yml
Due: none

updating descriptions
  docs/source/release-notes.rst
  docs/source/tutorials/index.rst
Due: none

removing path from tooltip
  electron/app/components/Sample.tsx
Due: none

moving NoDatasetSample
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
Due: pylint

WIP: add ExternalLink component to support electron vs storybook
  electron/app/components/ExternalLink.stories.tsx
  electron/app/components/ExternalLink.tsx
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/utils/generic.ts
Due: none

reverting anchor
  docs/source/tutorials/index.rst
Due: none

reordering inits
  fiftyone/core/sample.py
Due: pylint

add note to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

tweak note
  CONTRIBUTING.md
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
