Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

add initial numeric support to embeddings plot
  app/packages/embeddings/src/Embeddings.tsx
  app/packages/state/src/recoil/schema.ts
  fiftyone/server/routes/embeddings.py
Due: pylint

initial embeddings support
  app/packages/core/src/Root/Root.tsx
  app/packages/embeddings/.env
  app/packages/embeddings/.gitignore
  app/packages/embeddings/README.md
  app/packages/embeddings/package.json
  app/packages/embeddings/src/Embeddings.tsx
  app/packages/embeddings/src/index.ts
  app/packages/embeddings/tsconfig.json
  app/packages/embeddings/vite.config.ts
  app/yarn.lock
  fiftyone/server/routes/__init__.py
  fiftyone/server/routes/embeddings.py
Due: pylint

add lasso support for embeddings
  app/packages/embeddings/src/Embeddings.tsx
Due: none

mvp for embeddings plot
  app/packages/core/src/components/HorizontalNav.tsx
  app/packages/embeddings/src/Embeddings.tsx
  fiftyone/server/routes/__init__.py
  fiftyone/server/routes/embeddings.py
Due: pylint

initial patches support for embeddings
  app/packages/embeddings/src/Embeddings.tsx
  fiftyone/server/routes/embeddings.py
Due: pylint

improve embeddings plot
  app/packages/embeddings/src/Embeddings.tsx
  app/packages/state/src/recoil/color.ts
  app/packages/utilities/src/color.ts
  app/yarn.lock
  fiftyone/server/routes/embeddings.py
Due: pylint

working draft of the code for 3d CV tutorial. Still need surrounding text
  docs/source/tutorials/detections_3d.ipynb
Due: ipynb-strip

fixing view typo
  docs/source/user_guide/using_views.rst
Due: none

cleanup based a little
  app/packages/app/package.json
  app/packages/components/src/components/Icons/Icons.tsx
  app/packages/core/src/Dataset.ts
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/dataset/src/Dataset.tsx
  app/packages/dataset/src/index.tsx
  app/yarn.lock
Due: none

remove unused package material-icons
  app/packages/map/package.json
  app/yarn.lock
Due: none

initial spaces impl
  app/packages/plugins/src/index.ts
  app/packages/spaces/README.md
  app/packages/spaces/package.json
  app/packages/spaces/src/SpacesRoot.tsx
  app/packages/spaces/src/index.ts
Due: none

documenting how to use custom torch models with apply_model() and compute_embeddings()
  docs/source/user_guide/model_zoo/index.rst
  fiftyone/utils/torch.py
Due: pylint

tweaks
  fiftyone/utils/torch.py
Due: pylint

beginning teams docs
  docs/source/index.rst
  docs/source/teams/cloud_media.rst
  docs/source/teams/index.rst
  docs/source/teams/overview.rst
Due: none

looker retries and error clipboard
  app/packages/components/src/components/ErrorBoundary/ErrorBoundary.module.css
  app/packages/components/src/components/ErrorBoundary/ErrorBoundary.tsx
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/looker/src/elements/base.ts
  app/packages/looker/src/elements/common/error.ts
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/index.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker.ts
  app/packages/utilities/src/errors.ts
  app/packages/utilities/src/fetch.ts
  app/packages/utilities/src/index.ts
  app/packages/utilities/src/retry.ts
  app/yarn.lock
Due: none

browser retry
  app/packages/looker/src/elements/common/error.ts
  app/packages/looker/src/worker.ts
  app/packages/utilities/package.json
  app/packages/utilities/src/fetch.ts
  app/packages/utilities/src/index.ts
  app/packages/utilities/src/retry.ts
  app/yarn.lock
Due: none

tweaks and bump
  app/packages/looker/src/elements/common/error.ts
  app/packages/looker/src/index.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker.ts
  app/packages/utilities/src/errors.ts
  package/teams/setup.py
Due: pylint

refactor core view change logic to more readable one
  app/packages/core/src/components/Actions/Patcher.tsx
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/state/src/recoil/types.ts
Due: none

refactor delete saved view into hook
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/state/src/hooks/useSavedViews.ts
Due: none

adding support for importing annotations on grouped datasets
  fiftyone/utils/annotations.py
Due: pylint

porting over user guide and installation guide for teams docs
  docs/source/teams/cloud_credentials.rst
  docs/source/teams/cloud_media.rst
  docs/source/teams/get_started_teams.rst
  docs/source/teams/index.rst
  docs/source/teams/overview.rst
  docs/source/teams/permissions.rst
  docs/source/teams/teams_app.rst
  docs/source/teams/teams_install_guide/deploy_infrastructure.rst
  docs/source/teams/teams_install_guide/get_started_teams_installation.rst
  docs/source/teams/teams_install_guide/index.rst
  docs/source/teams/teams_install_guide/install_mongo.rst
  docs/source/teams/teams_install_guide/install_overview.rst
  docs/source/teams/teams_install_guide/install_teams.rst
  docs/source/teams/teams_install_guide/teams_and_mongo.rst
  docs/source/teams/upgrading_downgrading.rst
Due: none

going to add text today
  docs/source/tutorials/detections_3d.ipynb
Due: ipynb-strip

described the dataset. Next up: model
  docs/source/tutorials/detections_3d.ipynb
Due: ipynb-strip

removing numpy import
  docs/source/recipes/pandas_vs_fiftyone.rst
Due: none

adding quiet flag
  fiftyone/core/collections.py
Due: pylint

fixing typo
  fiftyone/core/odm/utils.py
Due: pylint

adding dynamic flag
  fiftyone/core/collections.py
Due: pylint

supporting embedded fields
  fiftyone/core/collections.py
Due: pylint

refactor and cleanup
  app/packages/components/src/components/Selection/Colors.ts
  app/packages/components/src/components/Selection/Option.tsx
  app/packages/components/src/components/Selection/Selection.tsx
  app/packages/core/src/Root/__generated__/EootDatasetSavedViewsQuery.graphql.ts
  app/packages/core/src/Root/__generated__/RootDatasetSavedViewsFragment.graphql.ts
  app/packages/core/src/Root/__generated__/RootDatasetSavedViewsQuery.graphql.ts
  app/packages/core/src/__generated__/DatasetQuery.graphql.ts
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/relay/src/mutations/__generated__/saveViewMutation.graphql.ts
  app/packages/relay/src/mutations/saveView.ts
  app/packages/state/src/hooks/useSavedViews.ts
  app/packages/state/src/recoil/types.ts
Due: none

adding has_field()
  fiftyone/core/collections.py
Due: pylint

adding create_implied_field() utility
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/dataset.py
  fiftyone/core/odm/embedded_document.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/odm/utils.py
Due: pylint

adding support for configuring whether dynamic fields are declared
  fiftyone/core/collections.py
Due: pylint

groups tweak
  fiftyone/core/collections.py
Due: pylint

adding set_label_values() method
  fiftyone/core/collections.py
Due: pylint

implementing set_label_values() for generated views
  fiftyone/core/clips.py
  fiftyone/core/patches.py
  fiftyone/core/video.py
Due: pylint

bug fixes
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
Due: pylint

adding dynamic set_values() tests
  tests/unittests/view_tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
