Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

minor linting
  app/packages/components/src/components/Dialog/index.tsx
  app/packages/spaces/src/components/SavedSpaces/WorkspaceEditor.tsx
  app/packages/spaces/src/components/SavedSpaces/hooks.ts
  app/packages/spaces/src/components/SavedSpaces/index.tsx
  app/packages/spaces/src/state.ts
Due: none

add canEditWorkspaces
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/session.ts
Due: none

fill in tutorial code
  docs/source/tutorials/small_object_detection.ipynb
Due: ipynb-strip

we have python package vulnerabilities (#617)
  deployment/docker/Dockerfile
Due: none

slice is still needed
  fiftyone/server/filters.py
  fiftyone/server/view.py
Due: pylint

update tests
  tests/unittests/server_group_tests.py
Due: pylint

Remediate critical langchain vulnerabilities (#618)
  deployment/docker/Dockerfile-gpt
Due: none

adding SAHI paper link
  docs/source/tutorials/index.rst
  docs/source/tutorials/small_object_detection.ipynb
Due: ipynb-strip

initializing tutorial w/ indexing
  docs/source/tutorials/index.rst
  docs/source/tutorials/small_object_detection.ipynb
Due: ipynb-strip

updating release notes
  docs/source/release-notes.rst
Due: none

Minor docs fix
  docs/source/integrations/ultralytics.rst
Due: none

resolve secrets for operator type and execution options routes
  fiftyone/operators/executor.py
  fiftyone/operators/server.py
Due: pylint

add ttl cache to secret graphql
  fiftyone/internal/secrets/graphql.py
  fiftyone/utils/decorators.py
  tests/unittests/utils/decorators.py
Due: pylint

persist python panel on app reload
  app/packages/plugins/src/index.ts
  app/packages/spaces/package.json
  app/packages/spaces/src/components/Panel.tsx
  app/packages/spaces/src/components/PanelTab.tsx
  app/packages/spaces/src/constants.ts
  app/packages/spaces/src/hooks.ts
  app/yarn.lock
Due: none

fix python panel layout and add loading state
  app/packages/components/src/components/CenteredStack/index.tsx
  app/packages/components/src/components/index.ts
  app/packages/operators/package.json
  app/packages/operators/src/CustomPanel.tsx
  app/packages/operators/src/constants.ts
  app/packages/spaces/src/components/PanelSkeleton.tsx
  app/packages/spaces/src/index.ts
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useTimeout.ts
  app/yarn.lock
Due: none

fix markdown view default value issue
  app/packages/core/src/plugins/SchemaIO/components/MarkdownView.tsx
Due: none

markdown support for operator io label, description, and caption
  app/packages/core/src/plugins/SchemaIO/components/Header.tsx
  app/packages/core/src/plugins/SchemaIO/components/Markdown.tsx
  app/packages/core/src/plugins/SchemaIO/components/MarkdownView.tsx
Due: none

markdown support for AlertView
  app/packages/core/src/plugins/SchemaIO/components/AlertView.tsx
  app/packages/core/src/plugins/SchemaIO/components/Markdown.tsx
Due: none

permission and read-only mode for workspaces
  app/packages/spaces/src/components/SavedSpaces/SavedSpace.tsx
  app/packages/spaces/src/components/SavedSpaces/hooks.ts
  app/packages/spaces/src/components/SavedSpaces/index.tsx
Due: none

add hiddenNoneGroups tests
  app/packages/state/src/recoil/schema.ts
  app/packages/state/src/recoil/sidebar.test.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none

add multi-slice cases
  app/packages/state/src/recoil/sidebar.test.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none

bump desktop to 0.33.7 for 0.23.8 release
  package/desktop/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.15.9rc5 and `fiftyone-app` to 1.5.9rc4
  package/teams/setup.py
  setup.py
Due: pylint

Docs typo
  docs/source/teams/pluggable_auth.md
Due: none

convert properties in set selected label from snake-cased to camel-cased
  app/packages/operators/src/built-in-operators.ts
Due: none

[skip ci] automated bump `fiftyone` to 0.15.9rc6 and `fiftyone-app` to 1.5.9rc5
  package/teams/setup.py
  setup.py
Due: pylint

make show/hide button ui more subtle
  app/packages/core/src/components/Modal/TooltipInfo.tsx
Due: none

bump desktop to 0.33.7 for 0.23.8 release (#4268)
  package/desktop/setup.py
  setup.py
Due: pylint

linting
  app/packages/flashlight/src/index.ts
  app/packages/flashlight/src/section.ts
  app/packages/flashlight/src/styles.module.css
  app/packages/flashlight/src/zooming.ts
Due: none

add eslint, rename as spotlight
  app/packages/flashlight/README.md
  app/packages/flashlight/eslint.config.js
  app/packages/flashlight/index.html
  app/packages/flashlight/package.json
  app/packages/flashlight/src/index.ts
  app/packages/flashlight/src/row.ts
  app/packages/flashlight/src/section.ts
  app/packages/flashlight/src/styles.module.css
  app/packages/flashlight/tsconfig.json
  app/yarn.lock
Due: none

chore: updating the fiftyone/contants.py VERSION from "0.23.7" to "0.23.8" for the v1.5.9 release.
  fiftyone/constants.py
Due: pylint

updating typescript
  app/package.json
  app/packages/core/package.json
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/tsconfig.json
  app/packages/flashlight/index.html
  app/packages/flashlight/main.ts
  app/packages/flashlight/package.json
  app/packages/flashlight/tsconfig.json
  app/tsconfig.json
  app/yarn.lock
Due: none

use custom mtlloader
  app/packages/looker-3d/src/fo3d/mesh/Obj.tsx
  app/packages/looker-3d/src/overrides/MtlLoader.js
Due: none

add spotlight
  app/packages/spotlight/README.md
  app/packages/spotlight/eslint.config.js
  app/packages/spotlight/index.html
  app/packages/spotlight/main.ts
  app/packages/spotlight/package.json
  app/packages/spotlight/src/closest.ts
  app/packages/spotlight/src/constants.ts
  app/packages/spotlight/src/events.ts
  app/packages/spotlight/src/index.ts
  app/packages/spotlight/src/row.ts
  app/packages/spotlight/src/section.ts
  app/packages/spotlight/src/styles.module.css
  app/packages/spotlight/src/tile.ts
  app/packages/spotlight/src/vite-env.d.ts
  app/packages/spotlight/src/zooming.ts
  app/packages/spotlight/tsconfig.json
  app/packages/spotlight/vite.config.ts
Due: none

use regex
  app/packages/looker-3d/src/overrides/MtlLoader.js
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
