Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

adding apply_model() to integration docs
  docs/source/integrations/ultralytics.rst
Due: none

updating docstrings
  fiftyone/core/collections.py
  fiftyone/core/models.py
Due: pylint

bugfix
  fiftyone/utils/ultralytics.py
Due: pylint

standardizing validation/docstrings
  fiftyone/core/collections.py
  fiftyone/core/models.py
Due: pylint

standardizing
  fiftyone/core/models.py
  fiftyone/utils/ultralytics.py
Due: pylint

avoid ultralytics import
  fiftyone/core/models.py
Due: pylint

[skip ci] rc bump `fiftyone` to 0.15.4rc6 and `fiftyone-app` to 1.5.4rc6
  package/teams/setup.py
  setup.py
Due: pylint

Set pyproject.toml (#3821)
  .gitignore
  install_by_poetry.bash
  pyproject.toml
Due: none

pyproject.toml with hatch builds
  .github/workflows/build.yml
  Makefile
  dependencies.py
  fiftyone/server/README.md
  hatch.toml
  install_by_poetry.bash
  pyproject.toml
  requirements.txt
  requirements/dev.txt
  setup.py
  version.py
Due: pylint

hatchling, keep 3.7
  .github/workflows/build.yml
  Makefile
  pyproject.toml
Due: none

hatchling
  requirements/dev.txt
Due: none

add req
  requirements.txt
Due: none

fix missing default/data propagation for operator views
  app/packages/core/src/plugins/SchemaIO/components/DynamicIO.tsx
  app/packages/core/src/plugins/SchemaIO/utils/index.ts
Due: none

remove sort response (#3958)
  fiftyone/server/routes/sort.py
Due: pylint

Adding gpu support for openclip models
  fiftyone/utils/open_clip.py
Due: pylint

tileDAG
  app/packages/flashlight/src/tileDAG.ts
Due: none

Yolo-nas integration ready for test on dev
  fiftyone/utils/yolo_nas.py
Due: pylint

Add support for gpu
  fiftyone/utils/yolo_nas.py
Due: pylint

Removed issues with image input using the raw images and changing database to cocodataset
  fiftyone/utils/yolo_nas.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

Fix format manifest-torch.json
  fiftyone/zoo/models/manifest-torch.json
Due: none

export w/o media-use local path if exists (#465)
  fiftyone/core/cache.py
  fiftyone/core/metadata.py
  fiftyone/utils/data/exporters.py
Due: pylint

Changes name of yolo-nas to super_gradients to have a more global library, and create function to use the model directly from super_gradients library
  fiftyone/core/models.py
  fiftyone/utils/super_gradients.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

Modified Config-Based Model Initialization
  fiftyone/utils/super_gradients.py
Due: pylint

support content-v2 endpoint for cloud storage and cvat
  fiftyone/utils/cvat.py
Due: pylint

update cvat minio test
  tests/intensive/cvat_tests.py
Due: pylint

adding MDE notebook
  docs/source/tutorials/monocular_depth_estimation.ipynb
Due: ipynb-strip

adding to index
  docs/source/tutorials/index.rst
Due: none

adding thumbnail
  docs/source/_static/images/tutorials/monocular_depth_estimation.png
Due: none

add _supports_content_v2 property
  fiftyone/utils/cvat.py
Due: pylint

[DOC] MongoDB Integration Doc Updates
  docs/source/integrations/mongodb.rst
Due: none

documenting SuperGradients support
  fiftyone/core/collections.py
  fiftyone/core/models.py
  fiftyone/utils/super_gradients.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

directly apply transformers models
  fiftyone/core/collections.py
  fiftyone/core/models.py
  fiftyone/utils/transformers.py
Due: pylint

batching embeddings
  fiftyone/utils/transformers.py
Due: pylint

compatibility with patch_embeddings
  fiftyone/utils/transformers.py
Due: pylint

adding has_embeddings() rationale
  fiftyone/utils/transformers.py
Due: pylint

adding transformers embeddings mixin
  fiftyone/utils/transformers.py
Due: pylint

adding semantic segmentation transformers
  fiftyone/utils/transformers.py
Due: pylint

updating docstrings
  fiftyone/core/collections.py
  fiftyone/core/models.py
  fiftyone/utils/transformers.py
Due: pylint

moving mask_targets for execution
  fiftyone/utils/transformers.py
Due: pylint
