Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

bug
  app/packages/looker/src/index.ts
Due: none

animation frame timing test
  app/packages/flashlight/src/index.ts
Due: none

updating build instruction
  README.md
Due: none

edits
  app/packages/flashlight/src/constants.ts
  app/packages/flashlight/src/index.ts
  app/packages/looker/src/index.ts
Due: none

edits
  app/packages/flashlight/src/index.ts
Due: none

copy edits
  docs/source/user_guide/app.rst
Due: none

upload and download tracks
  fiftyone/utils/annotations.py
  fiftyone/utils/cvat.py
Due: pylint

search for users efficiently
  fiftyone/utils/cvat.py
Due: pylint

improve scrolling reads
  app/packages/flashlight/src/index.ts
  app/packages/flashlight/src/state.ts
  app/packages/flashlight/src/zooming.ts
Due: none

documenting merge_samples()
  docs/source/user_guide/using_datasets.rst
Due: none

consistency
  fiftyone/core/dataset.py
  fiftyone/core/document.py
  fiftyone/core/frame.py
  fiftyone/core/sample.py
  fiftyone/utils/data/importers.py
Due: pylint

scroll edits
  app/packages/app/src/components/Flashlight.tsx
  app/packages/flashlight/src/index.ts
  app/packages/flashlight/src/zooming.ts
Due: none

edit timeout
  app/packages/flashlight/src/zooming.ts
Due: none

increase thumbnail timeout to ensure safari capture
  app/packages/looker/src/elements/frame.ts
  app/packages/looker/src/elements/video.ts
Due: none

fix merge
  app/packages/flashlight/src/index.ts
Due: none

rm excess rendering
  app/packages/flashlight/src/index.ts
Due: none

upload media from alternate filepath field
  fiftyone/core/collections.py
  fiftyone/utils/annotations.py
  fiftyone/utils/cvat.py
Due: pylint

default to str scalars
  fiftyone/utils/cvat.py
Due: pylint

remove labelbox
  fiftyone/core/collections.py
  fiftyone/core/config.py
  fiftyone/utils/annotations.py
  fiftyone/utils/labelbox.py
Due: pylint

better label_field default handling for parsers
  fiftyone/utils/data/parsers.py
Due: pylint

better label_field default handling for importers
  fiftyone/utils/data/importers.py
Due: pylint

adopting better default label_field handling
  fiftyone/core/dataset.py
Due: pylint

using native label_field handling
  fiftyone/zoo/datasets/__init__.py
Due: pylint

similarity changes
  app/packages/app/src/components/Actions/ActionsRow.tsx
  app/packages/app/src/components/Actions/Similar.tsx
  app/packages/flashlight/src/index.ts
Due: none

similarity edits
  app/packages/app/src/components/Actions/Similar.tsx
Due: none

bugs
  app/packages/app/src/components/Actions/Similar.tsx
Due: none

edits
  app/packages/flashlight/src/index.ts
  app/packages/flashlight/src/zooming.ts
Due: none

updating release notes
  docs/source/release-notes.rst
Due: none

resize improvements
  app/packages/app/src/components/Flashlight.tsx
  app/packages/flashlight/src/index.ts
  app/packages/flashlight/src/state.ts
  app/packages/flashlight/src/zooming.ts
Due: none

doc updates
  docs/source/integrations/cvat.rst
Due: none

remove resize flicker
  app/packages/flashlight/src/index.ts
  app/packages/flashlight/src/zooming.ts
Due: none

reset resize
  app/packages/flashlight/src/index.ts
Due: none

doc updates
  docs/source/integrations/cvat.rst
  fiftyone/utils/annotations.py
Due: pylint

users and scalar docs
  docs/source/integrations/cvat.rst
Due: none

simplifying label_field export syntax
  fiftyone/core/collections.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/parsers.py
  fiftyone/utils/labelbox.py
  fiftyone/utils/scale.py
  tests/intensive/import_export_tests.py
  tests/misc/labelbox_tests.py
  tests/misc/scale_tests.py
  tests/unittests/import_export_tests.py
Due: pylint

updating import/export docs
  docs/source/recipes/custom_exporter.ipynb
  docs/source/recipes/custom_importer.ipynb
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/dataset_creation/samples.rst
  docs/source/user_guide/export_datasets.rst
  fiftyone/utils/data/exporters.py
Due: pylint, ipynb-strip

firefox video edits
  app/packages/looker/src/elements/frame.ts
  app/packages/looker/src/elements/util.ts
  app/packages/looker/src/elements/video.ts
Due: none

edit v12 date
  docs/source/release-notes.rst
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
