Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

update community link
  README.md
Due: none

Remove community slack links (#5532)
  README.md
Due: none

convert to/from SelectedLabels in session
  fiftyone/core/session/session.py
  tests/unittests/session_tests.py
Due: pylint

reload modal sample during refresh
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/relay/src/fragments/__generated__/estimatedCountsFragment.graphql.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/relay/src/queries/__generated__/mainSampleQuery.graphql.ts
  app/packages/relay/src/queries/mainSample.ts
  app/packages/state/src/recoil/modal.ts
  app/schema.graphql
  fiftyone/server/query.py
Due: pylint, frontend-check

chore: update yarn.lock files
  .github/workflows/app.yml
  .github/workflows/e2e.yml
  .github/workflows/teams-app-e2e.yml
  app/yarn.lock
  teams-app/yarn.lock
Due: none

typo
  app/packages/spotlight/src/index.ts
Due: frontend-check

add default compute size and fix progress bar
  fiftyone/core/utils.py
Due: pylint

lint
  fiftyone/core/utils.py
Due: pylint

add backpressure back and support false for all batchers
  fiftyone/core/dataset.py
  fiftyone/core/odm/database.py
Due: pylint

changes to PR/5231
  fiftyone/core/utils.py
Due: pylint

fix backpressure
  fiftyone/core/utils.py
Due: pylint

fix import timeouts on increasing datasets by precomputing batch size
  fiftyone/core/dataset.py
  fiftyone/core/odm/database.py
  fiftyone/core/utils.py
  tests/unittests/utils_tests.py
Due: pylint

fix plot loading
  fiftyone/server/routes/embeddings.py
Due: pylint

mv session events tests
  tests/unittests/session_events_tests.py
Due: pylint

empty prefix to fix the eslint (#1280)
  app/packages/spotlight/src/styles.module.css
Due: frontend-check

small update
  fiftyone/core/map/__init__.py
  fiftyone/core/map/factory.py
  fiftyone/core/map/process.py
  fiftyone/utils/map.py
  tests/unittests/dataset_tests.py
Due: pylint

hide sidebar sorting for qp (#5531)
  app/packages/core/src/components/Actions/Options.tsx
Due: none

don't call mask deserializer if mask is absent
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/worker/index.ts
Due: none

for indb masks, set renderstatus to decoded in deserializer
  app/packages/looker/src/worker/deserializer.ts
  app/packages/looker/src/worker/index.ts
Due: none

don't call mask deserializer if mask is absent (#5535)
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/worker/deserializer.ts
  app/packages/looker/src/worker/index.ts
Due: none

cleanup types on looker for worker processing
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/worker/async-labels-rendering-manager.ts
  app/packages/looker/src/worker/index.ts
Due: none

use category as xaxis type for per-class perf charts
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/Evaluation.tsx
Due: none

refactor FileLooker to MetadataLooker
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/elements/metadata/index.ts
  app/packages/looker/src/elements/metadata/metadata-thumbnail.ts
  app/packages/looker/src/elements/metadata/util.ts
  app/packages/looker/src/lookers/index.ts
  app/packages/looker/src/lookers/metadata.ts
  app/packages/state/src/hooks/useCreateLooker.ts
Due: none

implement metadata looker in modal
  app/packages/core/src/components/Modal/MetadataLooker.tsx
  app/packages/core/src/components/Modal/ModalLooker.tsx
  app/packages/looker/src/util.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/utilities/src/index.ts
Due: none

Fixed circular import issue
  fiftyone/core/map/process.py
  fiftyone/utils/map.py
Due: pylint

update native media types for consistency
  app/packages/looker/src/util.ts
Due: none

add databricks-vectorsearch and psycopg dependencies to support data lens connections
  deployment/docker/Dockerfile
Due: none

Added unit tests
  tests/unittests/map.py
Due: pylint

Updated default to sequential
  fiftyone/core/collections.py
Due: pylint

Refactored batcher
  fiftyone/core/map/batcher.py
  fiftyone/core/map/process.py
Due: pylint

[skip ci] automated bump `fiftyone` to v2.7.0.dev33, `fiftyone-app` to v2.7.0.dev33, and `teams-app` to v2.7.0-dev.33
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

fix frozen transitions
  app/packages/core/src/components/Grid/useRenderer.ts
  app/packages/looker/src/cache.test.ts
  app/packages/looker/src/cache.ts
  app/packages/spotlight/src/index.ts
Due: frontend-check

refactor add and upsert samples to support transform in batcher
  fiftyone/core/dataset.py
  fiftyone/core/utils.py
Due: pylint
