Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

fixing spelling
  docs/source/release-notes.rst
Due: none

adding docstrings
  fiftyone/utils/hf_hub.py
Due: pylint

bumps public funcs to top
  fiftyone/utils/hf_hub.py
Due: pylint

replaces prints with logging
  fiftyone/utils/hf_hub.py
Due: pylint

Supports pushing to existing repo
  fiftyone/utils/hf_hub.py
Due: pylint

checks out HF integration doc
  docs/source/integrations/huggingface.rst
Due: none

lowers headers
  docs/source/integrations/huggingface.rst
Due: none

basic recipe for pushing to hub
  docs/source/integrations/huggingface.rst
Due: none

adds depth estimation transformers
  fiftyone/utils/transformers.py
Due: pylint

adds depth estimation to Hf integration docs
  docs/source/integrations/huggingface.rst
Due: none

typo fix
  docs/source/integrations/huggingface.rst
Due: none

adds depth estimation transformer to zoo
  fiftyone/zoo/models/manifest-torch.json
Due: none

Updates release notes
  docs/source/release-notes.rst
Due: none

adds dataset card and load from hub
  docs/source/integrations/huggingface.rst
Due: none

adds try breadcrumb
  docs/source/integrations/huggingface.rst
Due: none

adds splits and sub-datasets info
  docs/source/integrations/huggingface.rst
Due: none

fix desktop version
  package/desktop/setup.py
Due: pylint

rm e2e pr req
  .github/workflows/pr.yml
Due: none

[skip ci] automated bump `fiftyone` to 0.15.6rc3 and `fiftyone-app` to 1.5.6rc3
  package/teams/setup.py
  setup.py
Due: pylint

add db windows amd64
  package/db/setup.py
Due: pylint

Added an optional argument map_type so that a user can choose between (#4075)
  fiftyone/core/plots/plotly.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.16.1.dev0 and `fiftyone-app` to 1.6.1.dev0
  package/teams/setup.py
  setup.py
Due: pylint

accidential ci bump of minor version
  package/teams/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.16.0.dev1 and `fiftyone-app` to 1.6.0.dev1
  package/teams/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.16.0.dev1+f01e045 and `fiftyone-app` to 1.6.0.dev1+f01e045
  package/teams/setup.py
  setup.py
Due: pylint

edge cases
  fiftyone/utils/hf_hub.py
Due: pylint

still take col from hf features
  fiftyone/utils/hf_hub.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.16.0.dev1+1f0aade and `fiftyone-app` to 1.6.0.dev1+1f0aade
  package/teams/setup.py
  setup.py
Due: pylint

bump fiftyone version
  setup.py
Due: pylint

release v1.5.6
  package/teams/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.15.7rc1 and `fiftyone-app` to 1.5.7rc1
  package/teams/setup.py
  setup.py
Due: pylint

Bump fiftyone-brain to v0.16.1
  setup.py
Due: pylint

Adds cosine metric to Milvus
  docs/source/integrations/milvus.rst
Due: none

text for dimension reduction tutorial
  docs/source/tutorials/dimension_reduction.ipynb
Due: ipynb-strip

adding to index
  docs/source/tutorials/index.rst
Due: none

adding images into tutorial
  docs/source/tutorials/dimension_reduction.ipynb
Due: ipynb-strip

adding thumbnail
  docs/source/_static/images/tutorials/dimension_reduction.png
Due: none

Configuration yolo world
  fiftyone/utils/yolo_world.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

updating cloud data faq to reflect new best practice
  docs/source/faq/index.rst
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
