Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

mvp message flow with display handle updates
  app/src/components/SampleModal.tsx
  app/src/components/ViewBar/ViewStage/ViewStage.tsx
  app/src/containers/App.tsx
  app/src/containers/Dataset.tsx
  app/src/containers/Deactivated.tsx
  app/src/recoil/atoms.ts
  app/src/recoil/selectors.ts
  app/src/utils/hooks.ts
  fiftyone/core/client.py
  fiftyone/core/session.py
  fiftyone/core/state.py
  fiftyone/server/main.py
Due: pylint

reactivation work
  fiftyone/core/session.py
  fiftyone/server/main.py
Due: pylint

cleaning
  app/package.json
  app/yarn.lock
  fiftyone/core/client.py
  fiftyone/core/session.py
  fiftyone/server/main.py
Due: pylint

colab support, use jinja for screenshot html
  fiftyone/core/session.py
  fiftyone/server/main.py
Due: pylint

updating ETA config installation
  install.bash
Due: none

upgrading to MongoDB 4.4.2 if necessary
  install.bash
Due: none

adding support for cloning and saving views
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/document.py
  fiftyone/core/frame.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/view.py
Due: pylint

linting
  fiftyone/core/service.py
Due: pylint

updating clone_field() usage
  docs/source/tutorials/evaluate_detections.ipynb
  docs/source/tutorials/open_images_eval/scripts/evaluate_model.py
Due: pylint, ipynb-strip

fixing bug
  fiftyone/core/document.py
Due: pylint

adding todo notes
  fiftyone/core/dataset.py
Due: pylint

optimizing
  fiftyone/core/dataset.py
Due: pylint

adding an efficient implementation of merge_samples()
  fiftyone/core/dataset.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/view.py
Due: pylint

store feedback state on disk
  app/src/components/Header.tsx
  fiftyone/server/main.py
  fiftyone/utils/uid.py
Due: pylint

minimized t-shirt icon
  app/public/t-shirt.svg
  app/src/recoil/atoms.ts
  app/src/recoil/selectors.ts
Due: none

header update
  app/src/components/Header.tsx
Due: none

check old local storage method
  app/src/recoil/selectors.ts
Due: none

bump to mongo 4.4
  package/db/setup.py
Due: pylint

update comment
  package/db/setup.py
Due: pylint

bump requirement
  setup.py
Due: pylint

update docs
  docs/source/getting_started/troubleshooting.rst
Due: none

move feedback path to fiftyone constants, fix server tests
  fiftyone/constants.py
  fiftyone/server/main.py
Due: pylint

treat release candidates as dev installs
  fiftyone/constants.py
Due: pylint

small fixes
  fiftyone/core/document.py
  fiftyone/core/odm/document.py
Due: pylint

skip import event if it is service process
  fiftyone/__init__.py
Due: pylint

add RC_INSTALL constant
  fiftyone/constants.py
  fiftyone/server/main.py
Due: pylint

adding control over None-field behavior
  fiftyone/core/dataset.py
  fiftyone/core/document.py
  fiftyone/core/frame.py
  fiftyone/core/sample.py
Due: pylint

adding support for omitting default fields when merging
  fiftyone/core/dataset.py
  fiftyone/core/document.py
  fiftyone/core/frame.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/sample.py
Due: pylint

fixing bugs
  fiftyone/core/document.py
Due: pylint

removing ability to not overwrite when merging
  fiftyone/core/dataset.py
  tests/unittests/dataset_tests.py
Due: pylint

allowing overwrite control
  fiftyone/core/dataset.py
Due: pylint

style fixes
  app/src/components/CheckboxGrid.tsx
  app/src/components/FieldsSidebar.tsx
  app/src/components/Header.tsx
  app/src/components/RangeSlider.tsx
  app/src/components/Tags/DropdownTag.tsx
  app/src/components/ViewBar/ViewStage/BestMatch.tsx
  app/src/components/ViewBar/ViewStage/ViewStage.tsx
  app/src/containers/App.tsx
  app/src/containers/Dataset.tsx
  app/yarn.lock
Due: none

fix windows link
  package/db/setup.py
Due: pylint

respecting filtered fields when cloning
  fiftyone/core/dataset.py
Due: pylint

updating recipe
  docs/source/recipes/merge_datasets.ipynb
Due: ipynb-strip

fixing bugs
  fiftyone/core/odm/mixins.py
Due: pylint

exposing ability to control install/error level when using zoo models via the CLI
  docs/source/cli/index.rst
  fiftyone/core/cli.py
Due: pylint

adding indexes when merging
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/view.py
Due: pylint

fixing bug
  fiftyone/core/dataset.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
