Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

clamp 3d crosshair to total bounds and not just core asset bounds
  app/packages/looker-3d/src/annotation/Crosshair3D.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/fo3d/context.tsx
  app/packages/looker-3d/src/hooks/use-cursor-bounds.ts
Due: none

more natural clamping
  app/packages/looker-3d/src/annotation/Crosshair3D.tsx
Due: none

fix constants.py
  fiftyone/core/annotation/constants.py
Due: pylint

fix constants.py (#6883)
  fiftyone/core/annotation/constants.py
Due: pylint

decouple cursor tracking from polyline
  app/packages/looker-3d/src/annotation/CursorTracker.tsx
  app/packages/looker-3d/src/annotation/SegmentPolylineRenderer.tsx
  app/packages/looker-3d/src/annotation/SidePanel.tsx
  app/packages/looker-3d/src/fo3d/Fo3dCanvas.tsx
Due: none

fix redundant /features calls
  app/packages/feature-flags/src/hooks/useFeatureCache.ts
Due: none

remove quick edit option from invalid annotation fields
  app/packages/core/src/components/Modal/Sidebar/Annotate/useCanAnnotateField.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useSchemaManager.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useValidAnnotationFields.ts
  app/packages/core/src/components/Modal/TooltipInfo.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/FilterablePathEntry.tsx
  plugins/operators/__init__.py
  plugins/operators/annotation.py
  plugins/operators/fiftyone.yml
Due: pylint

fix typos
  app/packages/core/src/components/Modal/Sidebar/Annotate/useValidAnnotationFields.ts
Due: none

fix test
  tests/unittests/annotation/generate_label_schemas_tests.py
Due: pylint

fix test (#6885)
  tests/unittests/annotation/generate_label_schemas_tests.py
Due: pylint

First stable version of markdown to make more accesible for agents
  docs/extensions/llms_txt.py
  docs/source/_static/css/custom.css
  docs/source/_static/js/custom.js
  docs/source/_templates/layout.html
  docs/source/assets/styles/components/_ai-chat-buttons.sass
  docs/source/assets/styles/components/_index.sass
  requirements/docs.txt
Due: pylint

Simplify the markdown creationg using the same path
  docs/extensions/llms_txt.py
  docs/source/_static/js/custom.js
Due: pylint

Build the markdown from sphinix directly to include api
  docs/extensions/llms_txt.py
  docs/generate_docs.bash
  docs/source/conf.py
  requirements/docs.txt
Due: pylint

Add focus state for keyboard accessibility
  docs/source/_static/css/custom.css
  docs/source/assets/styles/components/_ai-chat-buttons.sass
Due: none

only show cursor when ray intersection true
  app/packages/looker-3d/src/annotation/AnnotationPlane.tsx
  app/packages/looker-3d/src/annotation/Crosshair3D.tsx
  app/packages/looker-3d/src/annotation/CursorTracker.tsx
  app/packages/looker-3d/src/annotation/GlobalCursorCoordinator.tsx
  app/packages/looker-3d/src/annotation/MultiPanelView.tsx
  app/packages/looker-3d/src/annotation/SidePanel.tsx
  app/packages/looker-3d/src/fo3d/Fo3dCanvas.tsx
  app/packages/looker-3d/src/hooks/use-empty-canvas-interaction.ts
  app/packages/looker-3d/src/state.ts
  app/packages/looker-3d/src/utils.ts
Due: none

resolve merge conflicts for Sidebar.tsx
  app/packages/core/src/components/Modal/Sidebar/Sidebar.tsx
Due: none

resolve merge conflicts for ImportSchema.tsx -- used develop
  app/packages/core/src/components/Modal/Sidebar/Annotate/ImportSchema.tsx
Due: none

simplify panel ids
  app/packages/looker-3d/src/annotation/Crosshair3D.tsx
  app/packages/looker-3d/src/annotation/CursorTracker.tsx
  app/packages/looker-3d/src/annotation/GlobalCursorCoordinator.tsx
  app/packages/looker-3d/src/annotation/MainPanel.tsx
  app/packages/looker-3d/src/annotation/MultiPanelView.tsx
  app/packages/looker-3d/src/annotation/SidePanel.tsx
  app/packages/looker-3d/src/constants.ts
  app/packages/looker-3d/src/fo3d/Fo3dCanvas.tsx
  app/packages/looker-3d/src/state.ts
  app/packages/looker-3d/src/types.ts
Due: none

resolve merge conflicts for AnnotationSchema.tsx -- used develop
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
Due: none

allow cached fetch
  app/packages/core/src/components/Dataset.tsx
  app/packages/utilities/src/fetch.ts
Due: none

use cached fetch for image slices
  app/packages/looker-3d/src/annotation/useImageSlicesIfAvailable.ts
Due: none

explicitly add fetch dep
  app/packages/utilities/package.json
  app/yarn.lock
Due: none

allow configurable raycasting precision
  app/packages/looker-3d/src/annotation/CursorTracker.tsx
  app/packages/looker-3d/src/annotation/GlobalCursorCoordinator.tsx
  app/packages/looker-3d/src/annotation/MultiPanelView.tsx
  app/packages/looker-3d/src/constants.ts
  app/packages/looker-3d/src/fo3d/Fo3dCanvas.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/fo3d/context.tsx
  app/packages/looker-3d/src/fo3d/scene-controls/SceneControls.tsx
  app/packages/looker-3d/src/hooks/use-empty-canvas-interaction.ts
  app/packages/looker-3d/src/utils.ts
Due: none

Add C-RADIOv4 to model zoo
  fiftyone/utils/radio.py
  fiftyone/zoo/models/manifest-torch.json
  tests/unittests/utils/test_radio.py
Due: pylint

Fix missing sys import in test_radio.py
  tests/unittests/utils/test_radio.py
Due: pylint

keep useLabels in scope to track changes
  app/packages/core/src/components/Modal/Sidebar/Annotate/Annotate.tsx
Due: none

remove unnecessary check
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLabels.ts
Due: none

Improve AI chat buttons accessibility, styling, and URL handling
  docs/source/_static/css/custom.css
  docs/source/_static/js/custom.js
  docs/source/_templates/layout.html
  docs/source/assets/styles/components/_ai-chat-buttons.sass
  requirements/docs.txt
Due: none

allow destroying an unattached spotlight
  app/packages/core/src/components/Grid/useEvents.ts
  app/packages/spotlight/src/index.ts
Due: frontend-check

add e2e test on switching dataset should reload label schema in schema manager
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
Due: none

add two new test cases on unsupported types in annotation: group slice case and generated view case
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
Due: none

reset json errors in edit field schema
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/EditFieldLabelSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
Due: none

fix comments
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
Due: none

reset the atoms on component unmount through cleanups in hooks
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/GUIView.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLoadSchemas.ts
Due: none

fix the test
  e2e-pw/src/oss/poms/modal/modal-sidebar.ts
  e2e-pw/src/oss/poms/schema-manager/index.ts
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
Due: none

use save view selector to load toPatches from python
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
Due: none

fix bug
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
Due: none

verify enabled with original dataset first
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
Due: none

fix bug (#6889)
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
Due: none

update snapshot
  e2e-pw/src/oss/specs/sidebar/sidebar-cifar.spec.ts-snapshots/not-visible-cat-chromium-darwin.png
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
