Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

add ready selector
  e2e-pw/src/oss/fixtures/loader.ts
  e2e-pw/src/shared/abstract-loader.ts
Due: none

add missing mock in unit test
  app/packages/core/src/components/Grid/useGridCustomRendererItem.test.tsx
Due: none

don't wrap sampleRenderer in error boundary
  app/packages/plugins/src/index.ts
Due: none

Fix #2176: Loss of file_hash precision for large integers
  fiftyone/core/utils.py
Due: pylint

[FOEPD-3393] Implement browser compatibility detection and error reporting (#7239)
  app/packages/annotation/src/providers/BrowserAnnotationProvider.test.ts
  app/packages/annotation/src/providers/BrowserAnnotationProvider.ts
  app/packages/annotation/src/providers/types.ts
  app/packages/annotation/src/providers/worker.ts
Due: none

add dataset factory and canvas testing
  e2e-pw/README.md
Due: none

use datasetFactory
  e2e-pw/src/oss/specs/smoke-tests/annotate-action-switching.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/annotate-canvas-actions.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/annotate-static-actions.spec.ts
Due: none

datasetName
  e2e-pw/README.md
Due: none

wip: Lighter Callback Refactor
  app/packages/core/src/components/Modal/Lighter/LighterSampleRenderer.tsx
  app/packages/core/src/components/Modal/Lighter/useDeferShow.ts
  app/packages/core/src/components/Modal/Lighter/useViewportInit.ts
  app/packages/lighter/src/core/Scene2D.ts
  app/packages/lighter/src/core/SceneConfig.ts
  app/packages/lighter/src/events/index.ts
  app/packages/lighter/src/index.ts
  app/packages/lighter/src/overlay/ImageOverlay.ts
  app/packages/lighter/src/react/useLighterSetup.ts
Due: none

merge fixes
  app/packages/core/src/components/Modal/Lighter/useBridge.ts
  app/packages/lighter/src/interaction/InteractionManager.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
Due: none

add cursor change example
  e2e-pw/README.md
Due: none

Add annotation hook tests
  app/packages/annotation/package.json
  app/packages/annotation/src/hooks/useAnnotationController.test.ts
  app/packages/annotation/src/hooks/useLabelPersistence.test.ts
  app/packages/annotation/src/hooks/usePatchSample.test.ts
  app/packages/annotation/src/hooks/useRegisterAnnotationCommandHandlers.test.ts
  app/packages/annotation/vitest.config.ts
  app/yarn.lock
Due: none

linting
  e2e-pw/README.md
Due: none

move object type-checking into utilities
  app/packages/annotation/src/deltas.ts
  app/packages/core/src/client/transformer.ts
  app/packages/core/src/client/util.ts
  app/packages/utilities/src/type-check.ts
Due: none

fix falsy check to use explicit null
  app/packages/utilities/src/type-check.ts
Due: none

test headers
  app/packages/annotation/src/providers/worker.ts
  app/packages/app/vite.config.ts
  fiftyone/server/app.py
Due: pylint, frontend-check

fix
  app/packages/annotation/src/providers/worker.ts
  app/packages/app/vite.config.ts
Due: frontend-check

Fix text attributes coerced to int on CVAT annotation import
  fiftyone/utils/cvat.py
Due: pylint

Fix text attribute coercion in CVAT annotation parsing
  fiftyone/utils/cvat.py
Due: pylint

Treat empty text scalars as unset in _parse_value
  fiftyone/utils/cvat.py
Due: pylint

fix: adjust compute_filehash docstring
  fiftyone/core/utils.py
Due: pylint

release notes for 1.14.0 and 2.17.0
  docs/source/release-notes.rst
Due: none

update PR template with HTML comments
  .github/pull_request_template.md
Due: none

new PR workflow, OSS contributors
  .github/workflows/welcome.yml
Due: none

include additional PR instructions
  .github/pull_request_template.md
Due: none

add collaborator filter + limit permissions
  .github/workflows/welcome.yml
Due: none

correct line ending
  .github/pull_request_template.md
Due: none

Minor release notes cleanup
  docs/source/release-notes.rst
Due: none

cleanup hashed wasm files
  app/packages/app/vite.config.ts
Due: frontend-check

CR suggestion: add dir existence check
  app/packages/app/vite.config.ts
Due: frontend-check

couple of other CR comments
  app/packages/app/package.json
  app/packages/app/vite.config.ts
  app/yarn.lock
Due: frontend-check

Update fiftyone/core/utils.py
  fiftyone/core/utils.py
Due: pylint

Apply suggestions from @kevin-dimichel
  .github/workflows/welcome.yml
Due: none

final tweak per @kevin-dimichel
  .github/workflows/welcome.yml
Due: none

Updates pull request template (#7256)
  .github/pull_request_template.md
  .github/workflows/welcome.yml
Due: none

docs: add note about JS precision in image deduplication notebook
  docs/source/recipes/image_deduplication.ipynb
Due: none

updated language
  docs/source/release-notes.rst
Due: none

fix threed tests
  tests/unittests/threed/__init__.py
  tests/unittests/threed/camera_3d_tests.py
  tests/unittests/threed/material_3d_tests.py
  tests/unittests/threed/scene_3d_tests.py
Due: pylint
