Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

revert logic for stage edits
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
Due: none

WIP
  docs/source/user_guide/using_views.rst
Due: none

add stage, focus on init
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

adding PyTorch_CIFAR10 to gitignore
  docs/source/recipes/.gitignore
Due: none

removing unnecessary usages of .view(); fixing bugs
  docs/source/recipes/custom_exporter.ipynb
  docs/source/recipes/custom_importer.ipynb
  docs/source/recipes/custom_parser.ipynb
  docs/source/recipes/draw_labels.ipynb
  docs/source/recipes/model_inference.ipynb
Due: ipynb-strip

removing unnecessary usages of .view()
  docs/source/tutorials/label_mistakes.ipynb
  docs/source/tutorials/uniqueness.ipynb
Due: ipynb-strip

Pass sample count to ImageContainerHeader, rework recoil setup a bit
  electron/app/Routes.tsx
  electron/app/containers/App.tsx
  electron/app/containers/SamplesContainer.tsx
  electron/app/recoil/atoms.ts
  electron/app/recoil/selectors.ts
Due: none

more enhancements
  docs/source/recipes/image_deduplication.ipynb
  docs/source/recipes/model_inference.ipynb
Due: ipynb-strip

Tylers suggestions
  docs/source/user_guide/dataset_creation/index.rst
Due: none

merge
  docs/source/user_guide/dataset_creation/index.rst
Due: none

adopting permalinks for export dataset formats, too
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/export_datasets.rst
Due: none

expressions and sample views documentation
  docs/source/substitutions.rst
  docs/source/user_guide/basics.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/using_datasets.rst
  docs/source/user_guide/using_views.rst
Due: none

adding a table of supported formats to the convert recipe
  docs/source/recipes/convert_datasets.ipynb
Due: ipynb-strip

tweaking text to improve layout
  docs/source/user_guide/index.rst
Due: none

Dataset.first() returns Sample
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/stages.py
  tests/unittests.py
Due: pylint

disabling links to empty hrefs
  docs/source/custom_directives.py
Due: pylint

module documentation on separate pages
  docs/generate_docs.bash
Due: none

adding default API autodoc templates
  docs/generate_docs.bash
  docs/templates/apidoc/module.rst_t
  docs/templates/apidoc/package.rst_t
  docs/templates/apidoc/toc.rst_t
Due: none

removing 'package' and 'module' text
  docs/templates/apidoc/module.rst_t
  docs/templates/apidoc/package.rst_t
Due: none

adding optional no-link to custombutton, too
  docs/source/custom_directives.py
Due: pylint

removing deprecated usage: m2r [-h] [--overwrite] [--dry-run] [--no-underscore-emphasis] [--parse-relative-links] [--anonymous-references] [--disable-inline-math] [input_file [input_file ...]]
  docs/source/conf.py
Due: pylint

doc to ref
  docs/source/index.rst
Due: none

using "loading data" terminology
  docs/source/user_guide/index.rst
Due: none

change docstring, store empty matches as list
  fiftyone/utils/cocoeval.py
Due: pylint

formatting
  docs/source/user_guide/using_views.rst
Due: none

copy edits
  docs/source/user_guide/dataset_creation/index.rst
Due: none

fixing broken link
  docs/source/user_guide/dataset_creation/index.rst
Due: none

autosummary solution
  .gitignore
  docs/generate_docs.bash
  docs/source/api/index.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/templates/apidoc/module.rst_t
  docs/templates/apidoc/package.rst_t
  docs/templates/apidoc/toc.rst_t
Due: pylint

default autosummary templates copied over
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
Due: none

about to switch to autoapi
  docs/source/_static/css/custom.css
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/api/index.rst
  docs/source/conf.py
Due: pylint

cleaned up to use autoapi
  .gitignore
  docs/generate_docs.bash
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/api/index.rst
  docs/source/conf.py
  docs/source/index.rst
Due: pylint

using datasets
  docs/source/user_guide/index.rst
Due: none

tweaking DatasetView section
  docs/source/user_guide/using_datasets.rst
Due: none

editing pass over using DatasetView docs
  docs/source/user_guide/using_views.rst
Due: none

linting docstrings
  fiftyone/core/collections.py
  fiftyone/core/labels.py
  fiftyone/core/sample.py
Due: pylint

magic methods first
  fiftyone/core/sample.py
Due: pylint

removing comments
  docs/source/conf.py
Due: pylint

update requirements
  requirements/docs.txt
Due: none

Rename lengths -> label data
  electron/app/Routes.tsx
  electron/app/components/Labels.tsx
  electron/app/components/Rendering.tsx
  electron/app/components/Sample.tsx
  electron/app/components/Tags.tsx
  fiftyone/server/main.py
Due: pylint

reverting back to autosummary
  docs/source/api/index.rst
  docs/source/conf.py
Due: pylint
