Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

improves edge case handling on selection style
  fiftyone/core/session/session.py
  tests/unittests/session_events_tests.py
Due: pylint

improve error handling
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/NewFieldSchema/NewFieldSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
Due: none

improve typing and null handling
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/NewFieldSchema/NewFieldSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useSchemaManager.ts
Due: none

address the issues mentioned by tom
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/events.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
Due: none

address final PR comments
  app/packages/core/src/components/Modal/Lighter/annotateActions.ts
Due: none

Add support for lists of integers and strings to be rendered as a list of checkboxes
  app/packages/components/src/components/SmartForm/RJSF/translators/ui.ts
  app/packages/components/src/components/SmartForm/RJSF/widgets/CheckboxesWidget.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/index.tsx
  app/packages/components/src/components/SmartForm/types.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/schemaHelpers.ts
Due: none

Updates PR for documentation
  app/packages/components/src/components/SmartForm/RJSF/widgets/CheckboxesWidget.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/schemaHelpers.ts
Due: none

revert useLabels refactor
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLabels.ts
Due: none

what is "stack index"?
  app/packages/lighter/src/overlay/ClassificationOverlay.ts
Due: none

what a word to mis-spell
  app/packages/lighter/src/overlay/ClassificationOverlay.ts
Due: none

Update model configs
  fiftyone/zoo/models/manifest-torch.json
Due: none

update test
  e2e-pw/src/oss/specs/smoke-tests/lighter-toolbar.spec.ts
Due: none

chore(dependabot): Fix comment
  .github/dependabot.yml
Due: none

chore(dependabot): Fix strategy
  .github/dependabot.yml
Due: none

chore(dependabot): remove registry block
  .github/dependabot.yml
Due: none

chore(github): constraints and dependabot support (#7117)
  .github/dependabot.yml
  setup.py
Due: pylint

update comments
  fiftyone/core/session/session.py
  fiftyone/core/state.py
  fiftyone/operators/executor.py
  fiftyone/operators/operations.py
Due: pylint

add operator test
  tests/unittests/operators/executor_tests.py
Due: pylint

floating toolbar
  app/packages/components/src/components/FloatingToolbar/FloatingToolbar.tsx
  app/packages/components/src/components/FloatingToolbar/index.ts
  app/packages/components/src/components/index.ts
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/SegmentationToolbar.tsx
Due: none

SDK session changes
  fiftyone/core/session/constants.py
  fiftyone/core/session/events.py
  fiftyone/core/session/session.py
  fiftyone/core/state.py
  fiftyone/server/events/dispatch.py
  fiftyone/server/inputs.py
  fiftyone/server/mutation.py
  tests/unittests/session_events_tests.py
Due: pylint

feat: added logic to capture and restore ViewportState when toggling between Looker and Lighter
  app/packages/core/src/components/Modal/Lighter/LighterSampleRenderer.tsx
  app/packages/core/src/components/Modal/use-looker.ts
  app/packages/lighter/src/react/useLighterSetup.ts
  app/packages/state/src/jotai/modal.ts
Due: none

operators plugin updates
  app/packages/operators/src/built-in-operators.ts
  fiftyone/operators/executor.py
  fiftyone/operators/operations.py
  tests/unittests/operators/executor_tests.py
Due: pylint

wiring up and FE changes
  app/packages/app/src/useEvents/index.ts
  app/packages/app/src/useEvents/useSetLabelSelectionStyle.ts
  app/packages/app/src/useWriters/index.ts
  app/packages/app/src/useWriters/onSetLabelSelectionStyle.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/overlays/util.ts
  app/packages/looker/src/state.ts
  app/packages/relay/src/mutations/__generated__/createSavedViewMutation.graphql.ts
  app/packages/relay/src/mutations/__generated__/setLabelSelectionStyleMutation.graphql.ts
  app/packages/relay/src/mutations/__generated__/setViewMutation.graphql.ts
  app/packages/relay/src/mutations/index.ts
  app/packages/relay/src/mutations/setLabelSelectionStyle.ts
  app/packages/relay/src/queries/__generated__/aggregationsQuery.graphql.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/recoil/looker.ts
  app/packages/state/src/recoil/selectors.ts
  app/packages/state/src/recoil/types.ts
  app/packages/state/src/session.ts
  app/schema.graphql
Due: frontend-check

fix plugin resolution in spawned process
  fiftyone/plugins/__init__.py
  fiftyone/plugins/constants.py
  fiftyone/plugins/context.py
  fiftyone/plugins/definitions.py
  tests/unittests/operators/delegated_tests.py
  tests/unittests/plugins/context_tests.py
Due: pylint

bug fix for auto
  fiftyone/utils/sam.py
  fiftyone/utils/sam2.py
Due: pylint

refactor: reworked the way Lighter initializes to an initial ViewportState to avoid a rendering flicker
  app/packages/core/src/components/Modal/Lighter/LighterSampleRenderer.tsx
  app/packages/lighter/src/react/useLighterSetup.ts
Due: none

fix: handling a known error
  fiftyone/utils/sam2.py
Due: pylint

prevent db cleanup
  tests/unittests/operators/delegated_tests.py
  tests/unittests/plugins/context_tests.py
Due: pylint

fix bug: type was not handled in the round trip
  app/packages/app/src/useEvents/utils.ts
  app/packages/looker/src/elements/common/canvas.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/state/src/hooks/useOnSelectLabel.ts
Due: frontend-check

bugfixes
  fiftyone/core/session/client.py
  fiftyone/core/session/session.py
  tests/unittests/session_events_tests.py
Due: pylint

chore: addressed coderabbit review 3
  fiftyone/utils/sam2.py
  tests/intensive/model_zoo_tests.py
Due: pylint

fixes for point prompts
  fiftyone/utils/sam.py
  fiftyone/utils/sam2.py
Due: pylint

Set use_fast=false for monet-zero-torch
  fiftyone/zoo/models/manifest-torch.json
Due: none

change box creation for point only
  fiftyone/utils/sam.py
  fiftyone/utils/sam2.py
Due: pylint

feat: extended Looker to accept a default viewport state and updated how Looker is seeded with inital an initial viewport state
  app/packages/core/src/components/Modal/use-looker.ts
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/lookers/image.ts
Due: none

Bump version to 1.13.5
  setup.py
Due: pylint

Add text embedding support to Qwen3-VL via PromptMixin (#7132)
  fiftyone/utils/qwen3_vl.py
  tests/unittests/utils/test_qwen3_vl.py
Due: pylint

fix: match and filter logic for label tags
  fiftyone/server/view.py
Due: pylint

add tests for _match_label_tags
  tests/unittests/server_view_tests.py
Due: pylint

extent tests with an additional label field
  tests/unittests/server_view_tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
