Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

fix YOLO kwargs syntax
  docs/source/integrations/ultralytics.rst
Due: none

fix light mode
  app/packages/app/src/components/Teams.tsx
Due: none

PR review: navbar consistency, teams_plugins->plugins, FiftyOne Open Source
  docs/source/_templates/layout.html
  docs/source/enterprise/app.rst
  docs/source/enterprise/index.rst
  docs/source/enterprise/overview.rst
  docs/source/enterprise/plugins.rst
  docs/source/redirects
Due: none

fix slow compute metadata on PNGs due to getexif on png (#5564)
  fiftyone/core/metadata.py
Due: pylint

add enterprise button
  app/packages/app/src/components/Teams.tsx
  app/packages/core/src/components/Actions/Popout.tsx
Due: none

add missing maxRows default
  app/packages/spotlight/src/constants.ts
  app/packages/spotlight/src/index.ts
Due: frontend-check

wip
  app/packages/embeddings/src/EmbeddingsPlot.tsx
  app/packages/embeddings/src/tracesToData.tsx
  app/packages/embeddings/src/useExtendedStageEffect.tsx
  app/packages/embeddings/src/usePlot.tsx
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/embeddings/src/useSelectionEffect.tsx
  fiftyone/server/routes/embeddings.py
Due: pylint

update lens integration with spotlight to match latest interface
  app/packages/components/src/components/BuiltinPanels/DataLens/hooks.ts
Due: none

optional fixes
  app/schema.graphql
  fiftyone/core/aggregations.py
  fiftyone/server/aggregations.py
Due: pylint

attach spotlight in the next animation frame
  app/packages/spotlight/src/index.ts
Due: frontend-check

fix navigate on rename run
  teams-app/packages/app/pages/datasets/[slug]/runs/components/RunLabel.tsx
Due: none

fix loading state for inputs/outputs tab of a run
  teams-app/packages/app/pages/datasets/[slug]/runs/[run]/index.tsx
Due: none

Added backends argument
  evaluate_detections_benchmark.py
  fiftyone/core/collections.py
  fiftyone/utils/eval/detection.py
  fiftyone/utils/map.py
Due: pylint

cleanup types on looker for worker processing
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/worker/async-labels-rendering-manager.ts
  app/packages/looker/src/worker/index.ts
Due: none

custom code prototype with error handling and saving in ES
  app/packages/core/src/plugins/SchemaIO/components/CodeView.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/Evaluation.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/utils.ts
Due: none

remove unused ids from selection resolving
  app/packages/embeddings/src/tracesToData.tsx
  app/packages/embeddings/src/useExtendedStageEffect.tsx
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/embeddings/src/useSelectionEffect.tsx
Due: none

refactor tracesToData
  app/packages/embeddings/src/tracesToData.tsx
Due: none

fill grid items concurrently, cleanup
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/core/src/components/Grid/useRenderer.ts
  app/packages/looker/src/cache.ts
  app/packages/spotlight/src/index.ts
  app/packages/spotlight/src/row.ts
  app/packages/spotlight/src/section.ts
  app/packages/spotlight/src/types.ts
  app/packages/spotlight/src/utilities.ts
  docs/source/user_guide/app.rst
Due: frontend-check

update gql output
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/relay/src/queries/__generated__/aggregationsQuery.graphql.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
Due: frontend-check

Optimize Query Performance counts with count scans (#5538)
  app/packages/relay/src/fragments/__generated__/estimatedCountsFragment.graphql.ts
  app/packages/relay/src/queries/__generated__/aggregationsQuery.graphql.ts
  app/packages/state/src/recoil/aggregations.ts
  app/schema.graphql
  fiftyone/core/aggregations.py
  fiftyone/server/aggregations.py
  tests/unittests/server_aggregations_tests.py
Due: pylint

replacing logs doc link to latest
  teams-app/packages/app/pages/datasets/[slug]/runs/components/Logs.tsx
  teams-app/packages/app/pages/datasets/[slug]/runs/components/RunActions.tsx
  teams-app/packages/state/src/constants.ts
Due: none

Delete extra file added
  docs/source/user_guide/model_zoo/models.rst
Due: none

docs images with annotations
  docs/source/images/plugins/operators/runs/run_pinned.png
  docs/source/images/plugins/operators/runs/run_pinning.png
  docs/source/images/plugins/operators/runs/run_re_run.png
  docs/source/images/plugins/operators/runs/run_rename.png
  docs/source/images/plugins/operators/runs/runs_mark_as_failed.png
  docs/source/images/plugins/operators/runs/runs_pinned_sidebar.png
  docs/source/images/plugins/operators/runs/runs_progress_enabled.png
  docs/source/images/plugins/operators/runs/runs_search.png
Due: none

carry over enterprise rename
  docs/source/enterprise/plugins.rst
Due: none

Switch to enterprise url
  teams-app/packages/state/src/constants.ts
Due: none

resolve merge conflicts from enterprise rename
  docs/source/enterprise/plugins.rst
Due: none

Update docs/source/enterprise/plugins.rst
  docs/source/enterprise/plugins.rst
Due: none

Update release-notes.rst for 1.3.2 / 2.6.2
  docs/source/release-notes.rst
Due: none

coderabbit nit comments
  docs/source/enterprise/plugins.rst
  docs/source/images/plugins/operators/runs/runs_running_basic.png
Due: none

Merge pull request #5472 from wickeat/fix/recall-sweep
  fiftyone/utils/eval/coco.py
Due: pylint

update constants to enterprise urls
  teams-app/packages/state/src/constants.ts
Due: none

plugins typos
  docs/source/enterprise/plugins.rst
Due: none

[skip ci] automated bump `fiftyone` to v2.7.0.dev41, `fiftyone-app` to v2.7.0.dev41, and `teams-app` to v2.7.0-dev.41
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

chore: bump release version
  fiftyone/utils/eval/coco.py
  setup.py
Due: pylint

chore: bump for v2.6.2
  fiftyone/constants.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to v2.6.2rc2, `fiftyone-app` to v2.6.2rc1, and `teams-app` to v2.6.2-rc.0
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

[skip ci] automated bump `fiftyone` to v2.6.2, `fiftyone-app` to v2.6.2, and `teams-app` to v2.6.2
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

initial commit
  .fiftyone-config
  fiftyone/core/map/batcher.py
  fiftyone/core/map/batcher/__init__.py
  fiftyone/core/map/batcher/batch.py
  fiftyone/core/map/batcher/batcher.py
  fiftyone/core/map/batcher/id_batch.py
  fiftyone/core/map/batcher/slice_batch.py
  fiftyone/core/map/factory.py
  fiftyone/core/map/map.py
  fiftyone/core/map/mapper.py
  fiftyone/core/map/process.py
  fiftyone/core/map/sequential.py
  fiftyone/core/map/threading.py
  fiftyone/core/map/typing.py
  fiftyone/utils/map.py
  tests/unittests/map/batcher/conftest.py
  tests/unittests/map/batcher/test_batcher.py
  tests/unittests/map/batcher/test_id_batch.py
  tests/unittests/map/batcher/test_slice_batch.py
  tests/unittests/map/factory.py
  tests/unittests/map/test_factory.py
  tests/unittests/map/test_implementations.py
  tests/unittests/map/test_mapper.py
  tests/unittests/map/test_process.py
  tests/unittests/map/test_sequential.py
  tests/unittests/map/test_threading.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
