Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

Fix annotation crash by removing schema manager from non-management paths (#7182)
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Annotate.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManagementProvider.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/useAnnotationContextManager.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useAnnotationContextManager.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useSchemaResolver.ts
Due: none

add SSE subscription operator, add set_run and update create_run to return the full run dict
  plugins/panels/__init__.py
  plugins/panels/fiftyone.yml
  plugins/panels/similarity_search/operators.py
  plugins/panels/similarity_search/run_manager.py
Due: pylint

improve error handling and cleanup some python uses
  plugins/panels/similarity_search/operators.py
  plugins/panels/similarity_search/run_manager.py
Due: pylint

address rabbit comments
  plugins/panels/similarity_search/operators.py
Due: pylint

[SSP] Add backend operators and run manager for similarity search panel
  plugins/panels/__init__.py
  plugins/panels/fiftyone.yml
  plugins/panels/similarity_search/__init__.py
  plugins/panels/similarity_search/operators.py
  plugins/panels/similarity_search/run_manager.py
Due: pylint

code rabbit comments
  app/packages/similarity-search/src/hooks/useNavigate.ts
  plugins/panels/similarity_search/__init__.py
  plugins/panels/similarity_search/operators.py
Due: pylint

docs(coco): update tolerance range to 1-3 per review feedback
  docs/source/integrations/coco.rst
Due: none

docs(coco): fix tolerance range wording per review
  docs/source/integrations/coco.rst
Due: none

Fixes mask scaling (#7186)
  fiftyone/utils/ultralytics.py
Due: pylint

fix test: extend the test dataset to trigger the failing test for the old label filter logic
  tests/unittests/server_view_tests.py
Due: pylint

[FOEPD-3390]: Implement AnnotationProvider interface and BrowserAnnotationProvider e2e skeleton
  app/packages/annotation/package.json
  app/packages/annotation/src/index.ts
  app/packages/annotation/src/providers/BrowserAnnotationProvider.ts
  app/packages/annotation/src/providers/index.ts
  app/packages/annotation/src/providers/math.test.ts
  app/packages/annotation/src/providers/math.ts
  app/packages/annotation/src/providers/types.ts
  app/packages/annotation/src/providers/worker.ts
  app/yarn.lock
Due: none

Remove old api fallback
  fiftyone/utils/transformers.py
Due: pylint

update docstring to be more concise about what is selected_samples; update sample_id to id
  app/packages/app/src/useEvents/useSelectSamples.ts
  app/packages/app/src/useEvents/utils.ts
  app/packages/app/src/useWriters/onSelectSamples.ts
  app/packages/operators/src/built-in-operators.ts
  app/packages/operators/src/operators.ts
  app/packages/state/src/session.ts
  fiftyone/core/session/session.py
  fiftyone/core/session/utils.py
  fiftyone/core/state.py
  fiftyone/operators/executor.py
  fiftyone/operators/operations.py
  fiftyone/server/mutation.py
  tests/unittests/operators/executor_tests.py
  tests/unittests/operators/operations_tests.py
  tests/unittests/session_events_tests.py
Due: pylint, frontend-check

changed default to False, cleaned up if-else
  fiftyone/core/models.py
Due: pylint

QuickDraw smoke test
  app/packages/core/src/components/Modal/Sidebar/Annotate/Actions.tsx
  e2e-pw/src/oss/poms/modal/annotate-sidebar.ts
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/centered-detection-chromium-darwin.png
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/centered-detection-moved-chromium-darwin.png
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/centered-detection-selected-chromium-darwin.png
Due: none

more tests
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/draw-and-quit-detection-deselected-chromium-darwin.png
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/draw-and-quit-detection-selected-chromium-darwin.png
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/draw-and-quit-exited-quickdraw-chromium-darwin.png
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/multiple-detections-exited-quickdraw-chromium-darwin.png
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts-snapshots/multiple-detections-second-selected-chromium-darwin.png
Due: none

fix cursor detection
  e2e-pw/src/oss/fixtures/loader.ts
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts
Due: none

expose pin_memory (#7184)
  fiftyone/core/models.py
Due: pylint

tweaks
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts
Due: none

linting
  e2e-pw/src/shared/dataset-factory/index.ts
Due: none

create a new dataset for each test
  e2e-pw/src/oss/specs/smoke-tests/quick-draw.spec.ts
Due: none

[E2E] Dataset Factory (#7141)
  e2e-pw/src/oss/fixtures/index.ts
  e2e-pw/src/oss/specs/regression-tests/modal/schema-manager-tooltip-stacking.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/quick-edit.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/schema-manager.spec.ts
  e2e-pw/src/shared/dataset-factory/index.ts
  e2e-pw/src/shared/media-factory/image.ts
  e2e-pw/src/shared/media-factory/index.ts
  e2e-pw/src/shared/media-factory/pcd.ts
  e2e-pw/src/shared/media-factory/video.ts
  e2e-pw/src/shared/utils.ts
Due: none

Move release note to correct release version (2.16.0)
  docs/source/release-notes.rst
Due: none

Move credentials preference to 2.16.0
  docs/source/release-notes.rst
Due: none

Clarify configuration options for cloud credentials
  docs/source/release-notes.rst
Due: none

Update release notes for cloud credentials configuration
  docs/source/release-notes.rst
Due: none

Load docs banner dynamically from CDN config
  docs/source/index.rst
Due: none

Applied rabbit suggestion but simplify approach
  docs/source/index.rst
Due: none

refactor mutated list during loop
  fiftyone/core/dataset.py
Due: pylint

add new test for merged samples
  tests/unittests/dataset_tests.py
Due: pylint

correct list mutation
  fiftyone/core/dataset.py
Due: pylint

use full slicing for list update
  fiftyone/core/dataset.py
Due: pylint

Fix typo
  app/packages/annotation/src/providers/math.ts
Due: none

Future-proof coordinate transformation code to consider potentially different w and h for the output mask (previous code was correct given the mask is square)
  app/packages/annotation/src/providers/math.test.ts
  app/packages/annotation/src/providers/math.ts
Due: none

Fix for grounded object detection in transformers
  fiftyone/utils/transformers.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

add CR proposed change
  fiftyone/core/dataset.py
Due: pylint

update with CR test assertion
  tests/unittests/dataset_tests.py
Due: pylint

CR comments
  app/packages/annotation/src/providers/BrowserAnnotationProvider.ts
  app/packages/annotation/src/providers/worker.ts
Due: none

CR suggestion handling fetch throwing
  app/packages/annotation/src/providers/worker.ts
Due: none

CR comment: empty prompt validation
  app/packages/annotation/src/providers/worker.ts
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
