Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

Update setup.py version to 1.11.1
  setup.py
Due: pylint

Add custom 404 page for docs site
  docs/source/404.html
  docs/source/conf.py
Due: pylint

initial working version of voodo integration
  app/packages/app/index.html
  app/packages/components/src/components/SmartForm/RJSF/index.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/CheckboxWidget.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/TextWidget.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/GUIView.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLoadSchemas.ts
  app/yarn.lock
  fiftyone/core/annotation/validate_label_schemas.py
Due: pylint, frontend-check

add docs
  docs/source/_includes/substitutions.rst
  docs/source/user_guide/using_datasets.rst
Due: none

use the most-up-date voodo version
  app/packages/core/package.json
Due: none

update yarn.lock
  app/yarn.lock
Due: none

Refactor: inline _normalize_float_to_uint8 before removal
  fiftyone/utils/depth_anything.py
Due: pylint

Remove unused _get_image_size method
  fiftyone/utils/depth_anything.py
Due: pylint

fix the build
  app/packages/core/package.json
  app/yarn.lock
Due: none

system read-only should be at the bottom and no checkbox
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/GUIView.tsx
Due: none

fix scipy-torch regression
  tests/isolated/import_deps_test.py
Due: pylint

Refactor: use parent class infrastructure for image handling
  fiftyone/utils/depth_anything.py
Due: pylint

return placeholder class and don't throw on attr access
  tests/isolated/import_deps_test.py
Due: pylint

FOEPD-2119: Use SaveContext to write to DB in background thread (#6389)
  fiftyone/core/collections.py
  fiftyone/core/models.py
Due: pylint

working sample primitives being rendered
  app/packages/components/src/components/SmartForm/RJSF/widgets/TextWidget.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Annotate.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/GroupEntry.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/useEntries.ts
Due: none

Move _is_grounded initialization to __init__
  fiftyone/utils/transformers.py
Due: pylint

Add strict=True to zip in detector output processor
  fiftyone/utils/transformers.py
Due: pylint

add undistort_image method
  fiftyone/core/camera.py
  tests/unittests/camera_tests.py
Due: pylint

add unit tests for undistortion
  tests/unittests/camera_tests.py
Due: pylint

test alt test fix
  tests/isolated/import_deps_test.py
Due: pylint

Pass input_ids to grounded object detection post-processor
  fiftyone/utils/transformers.py
Due: pylint

Add docstring to _parse_output explaining grounded model handling
  fiftyone/utils/transformers.py
Due: pylint

formatted rendering of primitive list
  app/packages/core/src/components/Modal/Sidebar/Annotate/Annotate.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/GroupEntry.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/PathEntry.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/usePrimitivesCount.ts
Due: none

add attributes config
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent.tsx
Due: none

refactor and consolidate
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/ActiveFieldsSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/ActiveSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/FieldRow.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/GUIView.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/HiddenFieldsSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/hooks.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/useFullSchemaEditor.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
Due: none

working primitive edit screen
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Edit.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Header.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/PrimitiveEdit.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/PathEntry.tsx
Due: none

add ddebug logging and fix rest request
  app/packages/core/src/client/annotationClient.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useDelete.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSave.ts
  fiftyone/server/routes/sample.py
Due: pylint

python only changes
  app/packages/core/src/client/annotationClient.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useDelete.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSave.ts
Due: none

add tests
  fiftyone/server/routes/sample.py
  tests/unittests/server/routes/test_sample.py
Due: pylint

rm check
  fiftyone/server/routes/sample.py
Due: pylint

fix test
  tests/unittests/server/routes/test_sample.py
Due: pylint

Fix behavior change with sklearn>=1.8 (#6657)
  fiftyone/utils/eval/base.py
Due: pylint

feat: Add full audio support to FiftyOne
  app/packages/looker/src/elements/audio.ts
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/lookers/audio.ts
  app/packages/looker/src/lookers/index.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/util.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  fiftyone/core/dataset.py
  fiftyone/core/media.py
  fiftyone/core/metadata.py
  fiftyone/types/dataset_types.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
Due: pylint

fix: Resolve hoisting issue in AudioLooker elements
  app/packages/looker/src/elements/audio.ts
Due: none

fix: Resolve 'media not loaded' error in AudioLooker
  app/packages/looker/src/elements/audio.ts
  app/packages/looker/src/elements/index.ts
Due: none

style: Improve audio waveform visualization
  app/packages/looker/src/elements/audio.ts
Due: none

fix: Resolve circular imports and initialization order issues
  fiftyone/core/dataset.py
  fiftyone/operators/executor.py
Due: pylint

feat: Add Mel-Spectrogram visualization and fix audio importers
  app/packages/looker/src/elements/audio.ts
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/state.ts
  fiftyone/utils/data/importers.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
