Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

whole lotta fixes
  fiftyone/utils/transformers.py
Due: pylint

omdet model
  fiftyone/zoo/models/manifest-torch.json
Due: none

siglip
  fiftyone/zoo/models/manifest-torch.json
Due: none

vit
  fiftyone/zoo/models/manifest-torch.json
Due: none

Cherry picked change and added unit tests
  fiftyone/core/map/mapper.py
  tests/unittests/map/test_mapper.py
Due: pylint

Updated
  fiftyone/core/collections.py
  fiftyone/utils/eval/activitynet.py
  fiftyone/utils/eval/coco.py
  tests/unittests/evaluation_tests.py
Due: pylint

Updated test
  tests/unittests/evaluation_tests.py
Due: pylint

[skip ci] automated bump `fiftyone` to v2.9.0.dev6, `fiftyone-app` to v2.9.0.dev6, and `teams-app` to v2.9.0-dev.6
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

async improvements
  fiftyone/server/routes/geo.py
  fiftyone/server/view.py
Due: pylint

lint
  fiftyone/server/routes/geo.py
Due: pylint

Improve map loading performance (#5821)
  fiftyone/server/routes/geo.py
  fiftyone/server/view.py
Due: pylint

version warning for other media type (#5820)
  docs/source/user_guide/using_datasets.rst
Due: none

voxelhub updates
  docs/source/release-notes.rst
Due: none

initial draft of open source release notes
  docs/source/release-notes.rst
Due: none

remove coderabbit hallucination
  docs/source/release-notes.rst
Due: none

more updates, Enterprise and latest OSS
  docs/source/release-notes.rst
Due: none

[skip ci] automated bump `fiftyone` to v2.8.0rc11, `fiftyone-app` to v2.8.0rc11, and `teams-app` to v2.8.0-rc.10
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

chore(version): release version accidentally got bumped
  .github/CODEOWNERS
  setup.py
Due: pylint

chore(version): release version accidentally got bumped (#5825)
  .github/CODEOWNERS
  setup.py
Due: pylint

chore(setup): Bump brain version to 0.21.1
  setup.py
Due: pylint

Update release-notes.rst date
  docs/source/release-notes.rst
Due: none

[skip ci] automated bump `fiftyone` to v2.8.0rc12, `fiftyone-app` to v2.8.0rc12, and `teams-app` to v2.8.0-rc.11
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

Add CODEOWNERS where there are clear demarcation lines
  .github/CODEOWNERS
Due: none

fix(execution_cache): clearing of ephem caches
  docs/source/plugins/developing_plugins.rst
  fiftyone/operators/cache/decorator.py
  tests/unittests/execution_cache/execution_cache_io_tests.py
Due: pylint

/package/graphql/ directory
  .github/CODEOWNERS
Due: none

chore(execution_store): add more residency tests for clearing caches
  fiftyone/operators/cache/decorator.py
  fiftyone/operators/cache/utils.py
  tests/unittests/execution_cache/execution_cache_io_tests.py
Due: pylint

use bson.json_util for serialization
  fiftyone/server/routes/geo.py
Due: pylint

Add CODEOWNERS where there are clear demarcation lines (#5827)
  .github/CODEOWNERS
Due: none

Updates and fixes
  fiftyone/utils/ultralytics.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

touch core
  fiftyone/core/annotation.py
Due: pylint

add _state to built-in similarity parameters
  app/packages/core/src/components/Actions/Similarity/utils.ts
  app/packages/state/src/recoil/selectors.ts
  fiftyone/server/routes/sort.py
Due: pylint

touch frontend
  app/packages/app/src/routing/index.ts
  fiftyone/core/annotation.py
Due: pylint, frontend-check

touch aloha
  app/packages/app/src/routing/index.ts
  setup.py
Due: pylint, frontend-check

use bson.json_util for serialization (#5829)
  fiftyone/server/routes/geo.py
Due: pylint

add _state to built-in similarity parameters (#5757)
  app/packages/core/src/components/Actions/Similarity/utils.ts
  app/packages/state/src/recoil/selectors.ts
  fiftyone/server/routes/sort.py
Due: pylint

[skip ci] automated bump `fiftyone` to v2.8.0rc13, `fiftyone-app` to v2.8.0rc13, and `teams-app` to v2.8.0-rc.12
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

add latest changes
  docs/source/release-notes.rst
Due: none

Update docs/source/release-notes.rst
  docs/source/release-notes.rst
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
