Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

show 3d labels even when projections params are not available
  app/packages/looker/src/elements/pcd.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/worker/threeDLabelProcessor.ts
Due: none

add pcdlooker to usecreatelooker
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/state/src/hooks/useCreateLooker.ts
  app/schema.graphql
Due: none

clear up css
  app/packages/looker-3d/src/action-bar/point-size.tsx
  app/packages/looker-3d/src/action-bar/styles.css
Due: none

fix eslint using prettier defaults instead of project file
  app/.eslintrc.js
Due: none

finalize 3d detection overlays
  app/packages/looker/package.json
  app/packages/looker/src/elements/base.ts
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/elements/pcd.ts
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/lookers/pcd.ts
  app/packages/looker/src/overlays/base.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker/deserializer.ts
  app/packages/looker/src/worker/index.ts
  app/packages/looker/src/worker/label3dTransformation.ts
  app/packages/looker/src/worker/painter.ts
  app/packages/looker/src/worker/shared.ts
  app/packages/looker/src/worker/threeDLabelProcessor.ts
  app/yarn.lock
Due: none

add sample3d modal
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/core/src/components/Modal/Sample3d.tsx
Due: none

use memo instead of state if there's no setter
  app/packages/core/src/components/Grid/Grid.tsx
Due: none

rename tsx filenames to camelcase
  app/packages/looker-3d/src/action-bar/ColorSpace.tsx
  app/packages/looker-3d/src/action-bar/PointSize.tsx
  app/packages/looker-3d/src/action-bar/SetViewButton.tsx
  app/packages/looker-3d/src/action-bar/ViewHelp.tsx
  app/packages/looker-3d/src/action-bar/ViewJson.tsx
  app/packages/looker-3d/src/action-bar/index.tsx
  app/packages/looker/src/worker/index.ts
  app/packages/looker/src/worker/label-3d-transformation.ts
  app/packages/looker/src/worker/threed-label-processor.ts
Due: none

fix weird case-sensitivity error
  app/packages/looker-3d/src/action-bar/Screenshot.tsx
Due: none

switch default point cloud render color based on theme mode
  app/packages/looker-3d/src/Looker3d.tsx
  app/packages/looker-3d/src/renderables/pointcloud/index.tsx
Due: none

finalize 3d detection overlays
  app/packages/looker/src/worker/threed-label-processor.ts
Due: none

uncomment code so that action bar auto-hides
  app/packages/looker-3d/src/Looker3d.tsx
Due: none

rename tsx filenames to camelcase
  app/packages/components/src/components/Selector/Selector.module.css
  app/packages/components/src/components/Selector/Selector.tsx
  app/packages/components/src/components/index.ts
  app/packages/core/src/components/Modal/Group.tsx
  app/packages/looker-3d/src/Looker3d.tsx
  app/packages/looker-3d/src/action-bar/SliceSelector.tsx
  app/packages/looker-3d/src/action-bar/index.tsx
  app/packages/looker-3d/src/containers.ts
  app/packages/looker-3d/src/renderables/pointcloud/index.tsx
  app/packages/looker/package.json
  app/packages/state/src/recoil/groups.ts
Due: none

persist pinned slice in browser storage
  app/packages/looker-3d/src/state.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/recoil/groups.ts
Due: none

fix weird case-sensitivity error
  app/packages/looker-3d/src/action-bar/index.tsx
Due: none

new yarn.lock
  app/yarn.lock
Due: none

fixing minor typo
  docs/source/recipes/custom_exporter.ipynb
Due: ipynb-strip

Fix samples request (#2682)
  fiftyone/server/samples.py
Due: pylint

fix colors
  app/packages/components/src/components/ThemeProvider/index.tsx
  app/packages/core/src/components/utils.tsx
Due: none

Merge v1.1.1 to develop (#195)
  package/teams/setup.py
  setup.py
Due: pylint

cleanup unused code
  app/packages/embeddings/src/fetch.tsx
  app/packages/embeddings/src/useExtendedStageEffect.tsx
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/embeddings/src/useSelectionEffect.tsx
  app/packages/embeddings/src/useViewChangeEffect.tsx
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useSetExtendedSelection.ts
Due: none

move PillButton to components package
  app/packages/components/src/components/PillButton/PillButton.tsx
  app/packages/components/src/components/PillButton/index.tsx
  app/packages/components/src/components/index.ts
  app/packages/core/src/components/Actions/ActionsRow.tsx
  app/packages/core/src/components/HorizontalNav.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
  app/packages/core/src/components/Sidebar/Entries/GroupEntries.tsx
  app/packages/core/src/components/utils.tsx
Due: none

add scope to extended selection
  app/packages/core/src/components/Actions/ActionsRow.tsx
  app/packages/embeddings/src/constants.ts
  app/packages/embeddings/src/useExtendedStageEffect.tsx
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/embeddings/src/useSelectionEffect.tsx
  app/packages/map/src/Map.tsx
  app/packages/map/src/constants.ts
  app/packages/map/src/state.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/recoil/distributions.ts
  app/packages/state/src/recoil/selectors.ts
Due: none

add hook for providing a panel close effect
  app/packages/embeddings/src/Embeddings.tsx
  app/packages/spaces/src/components/PanelTab.tsx
  app/packages/spaces/src/hooks.ts
  app/packages/spaces/src/state.ts
  app/packages/spaces/src/types.ts
Due: none

add tab filter and selection indicators
  app/packages/components/src/components/FilterAndSelectionIndicator/FilterAndSelectionIndicator.tsx
  app/packages/components/src/components/FilterAndSelectionIndicator/index.tsx
  app/packages/components/src/components/PillButton/PillButton.tsx
  app/packages/components/src/components/index.ts
  app/packages/core/src/plugins/samples.tsx
  app/packages/embeddings/src/Embeddings.tsx
  app/packages/embeddings/src/EmbeddingsTabIndicator.tsx
  app/packages/embeddings/src/index.ts
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/map/src/MapTabIndicator.tsx
  app/packages/map/src/Options.tsx
  app/packages/map/src/index.ts
  app/packages/map/src/state.ts
  app/packages/plugins/src/index.ts
  app/packages/spaces/src/components/PanelTab.tsx
  app/packages/spaces/src/components/StyledElements.tsx
Due: none

fix clear selection issue in map
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/map/src/Map.tsx
  app/packages/map/src/MapTabIndicator.tsx
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useResetExtendedSelection.ts
Due: none

clear map selection on closing the panel
  app/packages/map/src/Map.tsx
Due: none

add support as temp fix
  docs/source/recipes/custom_exporter.ipynb
  fiftyone/server/samples.py
Due: pylint, ipynb-strip

add support as temp fix
  fiftyone/server/samples.py
Due: pylint

rvt random notebook changes
  fiftyone/server/samples.py
Due: pylint

rvt random notebook changes
  docs/source/recipes/custom_exporter.ipynb
Due: ipynb-strip

optimistic rvfc
  app/packages/looker/src/elements/video.ts
Due: none

add unit tests for orthographic projection
  tests/unittests/specs/3d/100x100_seed_10_auto.png
  tests/unittests/specs/3d/100x100_seed_10_height.png
  tests/unittests/specs/3d/100x100_seed_10_none.png
  tests/unittests/specs/3d/100x100_seed_1_auto.png
  tests/unittests/specs/3d/30x30_seed_42_auto.png
  tests/unittests/specs/3d/50x50_seed_1_rgb.png
  tests/unittests/utils_3d_tests.py
Due: pylint

update orthographic projection api
  fiftyone/utils/utils3d.py
Due: pylint

udpate specs
  fiftyone/utils/utils3d.py
  tests/unittests/specs/3d/100x100_seed_10_auto.png
  tests/unittests/specs/3d/100x100_seed_10_height.png
  tests/unittests/specs/3d/100x100_seed_10_none.png
  tests/unittests/specs/3d/100x100_seed_1_auto.png
  tests/unittests/specs/3d/100x100_seed_1_none.png
  tests/unittests/specs/3d/30x30_seed_42_auto.png
  tests/unittests/specs/3d/30x30_seed_42_none.png
  tests/unittests/specs/3d/50x50_seed_1_rgb.png
  tests/unittests/utils3d_tests.py
Due: pylint

use different variable name for bounds to remove ambiguity
  fiftyone/utils/utils3d.py
  tests/unittests/utils3d_tests.py
Due: pylint

updating implementation
  fiftyone/utils/utils3d.py
Due: pylint

correct typo in docstring
  fiftyone/core/labels.py
Due: pylint

switch to orthographic projection terminology
  fiftyone/utils/utils3d.py
Due: pylint
