Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

Add secrets to plugins (#3453)
  fiftyone/factory/repos/delegated_operation_doc.py
  fiftyone/internal/secrets/__init__.py
  fiftyone/internal/secrets/providers/__init__.py
  fiftyone/internal/secrets/providers/iprovider.py
  fiftyone/internal/secrets/providers/local.py
  fiftyone/internal/secrets/secret.py
  fiftyone/operators/delegated.py
  fiftyone/operators/executor.py
  fiftyone/operators/operator.py
  fiftyone/operators/registry.py
  fiftyone/plugins/__init__.py
  fiftyone/plugins/context.py
  fiftyone/plugins/definitions.py
  fiftyone/plugins/secrets.py
Due: pylint

cleanup
  tests/unittests/plugins/secrets_tests.py
Due: pylint

early return for empty dir and ignore hidden files
  fiftyone/operators/decorators.py
Due: pylint

add tests
  tests/unittests/operators/decorators_tests.py
Due: pylint

'Add content type validation'
  fiftyone/utils/labelbox.py
Due: pylint

#3457 Fix mime type error
  fiftyone/utils/annotations.py
Due: pylint

reload on derived collections
  fiftyone/server/utils.py
Due: pylint

use defualt=None
  fiftyone/operators/decorators.py
  tests/unittests/operators/decorators_tests.py
Due: pylint

early return for empty dir and ignore hidden files (#3461)
  fiftyone/operators/decorators.py
  tests/unittests/operators/decorators_tests.py
Due: pylint

raise exception on validation failure, rather than just marking as failed
  fiftyone/operators/delegated.py
Due: pylint

show notification on scheduling an operator
  app/packages/app/package.json
  app/packages/app/src/index.tsx
  app/packages/operators/src/state.ts
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useNotification.tsx
  app/yarn.lock
Due: none

Tests for plugin secrets (#3460)
  fiftyone/internal/__init__.py
  tests/unittests/plugins/secrets_tests.py
  tests/unittests/secrets/provider_tests.py
Due: pylint

Fixed _forward_pass_auto() to properly output unlabelled detections rather than wrongly indexed semantic semgentation masks.
  fiftyone/utils/sam.py
Due: pylint

adding note for multiple media fields
  docs/source/teams/migrations.rst
Due: none

bump `fiftyone` and `fiftyone-desktop` versions
  package/desktop/setup.py
  setup.py
Due: pylint

bump package versions and OSS compatibility
  fiftyone/constants.py
  package/desktop/setup.py
Due: pylint

review comments 1
  app/packages/core/src/components/Sidebar/Entries/Draggable.tsx
  e2e-pw/src/oss/poms/field-visibility/field-visibility.ts
Due: none

hide add group field when field visibility is active
  app/packages/core/src/components/Sidebar/Entries/AddGroupEntry.tsx
  e2e-pw/src/oss/poms/sidebar.ts
  e2e-pw/src/oss/specs/smoke-tests/field-visibility.spec.ts
Due: none

raise validation error on execution validation failed
  fiftyone/operators/delegated.py
Due: pylint

sparse dynamic group pagination work
  app/packages/components/src/components/Selector/Selector.tsx
  app/packages/core/src/components/Actions/DynamicGroup.tsx
  app/packages/core/src/components/Modal/Group/DynamicGroup/NestedGroup/GroupElementsLinkBar.tsx
  app/packages/relay/src/queries/__generated__/aggregationsQuery.graphql.ts
  app/packages/state/src/recoil/aggregations.ts
  app/schema.graphql
  e2e-pw/src/oss/poms/modal/dynamic-group-pagination-bar.ts
  e2e-pw/src/oss/poms/modal/group-actions.ts
  e2e-pw/src/oss/poms/selector.ts
  e2e-pw/src/oss/specs/groups/sparse-dynamic-groups.spec.ts
  fiftyone/server/aggregations.py
Due: pylint

pagination assertions
  e2e-pw/src/oss/poms/modal/dynamic-group-pagination-bar.ts
  e2e-pw/src/oss/specs/groups/sparse-dynamic-groups.spec.ts
Due: none

via dynamic group action
  app/packages/core/src/components/Actions/DynamicGroup.tsx
  app/packages/core/src/components/Actions/DynamicGroupAction.tsx
  e2e-pw/src/oss/poms/action-row/dynamic-group.ts
  e2e-pw/src/oss/poms/action-row/grid-actions-row.ts
  e2e-pw/src/oss/poms/grid/index.ts
  e2e-pw/src/oss/poms/selector.ts
  e2e-pw/src/oss/specs/groups/sparse-dynamic-groups.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/quickstart.spec.ts
Due: none

Updating Qdrant tutorial to use the native integration.
  docs/source/tutorials/qdrant.ipynb
Due: ipynb-strip

reduce test time, limit to png
  e2e-pw/src/oss/specs/groups/sparse-dynamic-groups.spec.ts
Due: none

Fixed heading formatting
  docs/source/tutorials/qdrant.ipynb
Due: ipynb-strip

remove redundant action handlers
  app/packages/looker-3d/src/action-bar/ViewHelp.tsx
  app/packages/looker-3d/src/action-bar/ViewJson.tsx
Due: none

fix hover sample bug in looker 3d
  app/packages/core/src/components/Modal/Group/GroupSample3d.tsx
  app/packages/looker-3d/src/Looker3d.tsx
Due: none

remove dynamically rendered component
  app/packages/core/src/components/Sidebar/Entries/FilterEntry.tsx
  app/packages/looker-3d/src/Looker3d.tsx
Due: none

fix grid esc race condition
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/core/src/components/Modal/ModalNavigation.tsx
Due: none

adding note about uniqueness constraint
  fiftyone/core/dataset.py
Due: pylint

TEAMS-1553 FOM latest head changes (#359)
  fiftyone/api/client.py
  fiftyone/management/snapshot.py
  tests/unittests/management_sdk.py
Due: pylint

minor linting
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/core/src/components/Modal/ModalNavigation.tsx
  app/packages/looker-3d/src/action-bar/ViewHelp.tsx
  app/packages/looker-3d/src/action-bar/ViewJson.tsx
Due: none

consolidate some pom changes, fixes
  app/packages/core/src/components/Actions/DynamicGroupAction.tsx
  e2e-pw/src/oss/poms/action-row/dynamic-group.ts
  e2e-pw/src/oss/poms/action-row/grid-actions-row.ts
  e2e-pw/src/oss/poms/grid/index.ts
  e2e-pw/src/oss/poms/selector.ts
  e2e-pw/src/oss/specs/groups/sparse-dynamic-groups.spec.ts
  e2e-pw/src/oss/specs/plugins/histograms.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/quickstart.spec.ts
Due: none

move SPACES_DEFAULT
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/session.ts
Due: none

file explorer final functionality
  app/packages/core/src/plugins/SchemaIO/components/FileExplorerView/FileExplorer.tsx
  app/packages/core/src/plugins/SchemaIO/components/FileExplorerView/VolumeSelector.tsx
  app/packages/core/src/plugins/SchemaIO/components/FileExplorerView/state.ts
  fiftyone/core/storage.py
  fiftyone/operators/builtin.py
Due: pylint

file explorer docs
  fiftyone/operators/types.py
Due: pylint

fix polyline artifact because of line join
  app/packages/looker/src/lookers/abstract.ts
Due: none
