Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

rename test file
  tests/intensive/sam_parity_tests.py
Due: pylint

fix sam2 device
  fiftyone/utils/sam2.py
Due: pylint

PR feedback
  fiftyone/utils/sam2.py
Due: pylint

Add sam image more tests
  tests/intensive/sam_image_model_tests.py
Due: pylint

rm unused imports
  tests/intensive/sam_image_model_tests.py
  tests/intensive/sam_parity_tests.py
Due: pylint

sam_refactor_3: Refactor SAM2 models to inherit from base SAM classes (#7181)
  fiftyone/utils/sam2.py
  fiftyone/zoo/models/manifest-torch.json
  tests/intensive/model_zoo_tests.py
  tests/intensive/sam_image_model_tests.py
  tests/intensive/sam_parity_tests.py
Due: pylint

Add permission gating and snapshot scoping to similarity search panel
  app/packages/similarity-search/src/components/NewSearch/NewSearch.tsx
  app/packages/similarity-search/src/components/SimilaritySearchView.tsx
  app/packages/similarity-search/src/hooks/useFilteredRuns.ts
  app/packages/similarity-search/src/hooks/useSimilarityPanel.ts
  app/packages/similarity-search/src/types/index.ts
  plugins/panels/similarity_search/__init__.py
  plugins/panels/similarity_search/run_manager.py
Due: pylint

snapshot handling
  plugins/panels/similarity_search/run_manager.py
Due: pylint

use the readOnly flag
  app/packages/similarity-search/src/components/NewSearch/NewSearch.tsx
  app/packages/similarity-search/src/components/SimilaritySearchView.tsx
  app/packages/similarity-search/src/hooks/useSimilarityPanel.ts
  plugins/panels/similarity_search/__init__.py
Due: pylint

chore: bumped @voxel51/voodo dependency version
  app/packages/core/package.json
  app/yarn.lock
Due: none

feat: added additional filtering to AnnotationToolbar group mapping
  app/packages/looker-3d/src/annotation/annotation-toolbar/AnnotationToolbar.tsx
Due: none

fix: isActive boolean for CreateCuboid now works. Improved logic and removed dead code
  app/packages/looker-3d/src/annotation/annotation-toolbar/useAnnotationActions.tsx
Due: none

better event handling
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useSegmentationMode.ts
Due: none

fix: reverted to minimally updated yarn.lock file. yarn.lock was accidentally fully regenerated which was breaking react-spring animations
  app/yarn.lock
Due: none

add mcap archetypes
  app/packages/mcap/package.json
  app/packages/mcap/src/archetypes/archetypes-boundary.test.ts
  app/packages/mcap/src/archetypes/image2d/Image2dView.test.tsx
  app/packages/mcap/src/archetypes/image2d/Image2dView.tsx
  app/packages/mcap/src/archetypes/image2d/index.ts
  app/packages/mcap/src/archetypes/image2d/types.ts
  app/packages/mcap/src/archetypes/index.ts
  app/packages/mcap/src/archetypes/points3d/Points3dView.test.tsx
  app/packages/mcap/src/archetypes/points3d/Points3dView.tsx
  app/packages/mcap/src/archetypes/points3d/helpers.ts
  app/packages/mcap/src/archetypes/points3d/index.ts
  app/packages/mcap/src/archetypes/points3d/types.ts
  app/yarn.lock
Due: none

wire mcap pointcloud playback
  app/packages/mcap/src/McapModalRenderer.tsx
  app/packages/mcap/src/index.ts
  app/packages/mcap/src/pointcloud-buffer-cache.ts
  app/packages/mcap/src/pointcloud2-decoder.ts
  app/packages/mcap/src/pointcloud2-worker-client.ts
  app/packages/mcap/src/pointcloud2-worker.ts
  app/packages/mcap/src/raw-message-window-cache.ts
  app/packages/mcap/src/useMcapImagePlayback.ts
  app/packages/mcap/src/useMcapPlaybackController.ts
Due: none

test mcap pointcloud playback
  app/packages/mcap/src/McapRenderers.test.tsx
  app/packages/mcap/src/pointcloud-buffer-cache.test.ts
  app/packages/mcap/src/pointcloud2-decoder.test.ts
  app/packages/mcap/src/useMcapPlaybackController.test.tsx
Due: none

add mcap scene state types
  fiftyone/__public__.py
  fiftyone/core/metadata.py
  fiftyone/core/rendering.py
Due: pylint

wire mcap ingest service
  fiftyone/server/mcap.py
Due: pylint

wire mcap ingest routes
  fiftyone/server/routes/mcap.py
Due: pylint

test mcap ingest flow
  tests/unittests/server/routes/test_mcap_routes.py
  tests/unittests/server/test_mcap.py
Due: pylint

fix fetch issue
  app/packages/mcap/src/renderer-utils.ts
Due: none

filter out brain keys that don't have results
  plugins/panels/similarity_search/__init__.py
Due: pylint

docs: update dependencies
  requirements/docs.txt
Due: none

Update annotation.rst
  docs/source/user_guide/annotation.rst
Due: none

explicitly pass ctx
  app/packages/core/src/components/Grid/useGridCustomRendererItem.ts
  app/packages/core/src/components/Modal/ModalSampleRenderer.tsx
  app/packages/plugins/src/index.ts
  app/packages/plugins/src/useActivePlugins.test.tsx
  app/packages/spaces/src/components/PanelNotFound.tsx
Due: none

update tests
  app/packages/plugins/src/useActivePlugins.test.tsx
Due: none

Handle failures per skill not per plugin and Parse frontmatter delimiters as standalone lines
  fiftyone/plugins/skills.py
Due: pylint

more concise docstring
  app/packages/plugins/src/index.ts
Due: none

move registry to it's own file and fix activePlugins updating based on ctx
  app/packages/plugins/src/index.ts
  app/packages/plugins/src/registry.ts
  app/packages/plugins/src/useActivePlugins.test.tsx
Due: none

address comments
  app/packages/plugins/src/registry.ts
  app/packages/plugins/src/useActivePlugins.test.tsx
Due: none

add multimodal metadata and rendering types
  fiftyone/__public__.py
  fiftyone/core/metadata.py
  fiftyone/core/rendering.py
Due: pylint

wire multimodal service and routes
  fiftyone/server/mcap.py
  fiftyone/server/mcap_cdr.py
  fiftyone/server/multimodal.py
  fiftyone/server/routes/__init__.py
  fiftyone/server/routes/mcap.py
  fiftyone/server/routes/multimodal.py
Due: pylint

test multimodal backend flow
  tests/unittests/server/routes/test_mcap_routes.py
  tests/unittests/server/test_mcap.py
Due: pylint

wire multimodal workspace hooks
  app/packages/mcap/src/api.test.ts
  app/packages/mcap/src/api.ts
  app/packages/mcap/src/source-registry.ts
  app/packages/mcap/src/types.ts
  app/packages/mcap/src/useMcapScene.test.tsx
  app/packages/mcap/src/useMcapTimelineIndex.test.tsx
  app/packages/mcap/src/useMcapWorkspace.test.tsx
  app/packages/mcap/src/useMultimodalTimelineIndex.ts
  app/packages/mcap/src/useMultimodalWorkspace.ts
  app/packages/mcap/src/workspace-state.ts
Due: none

wire duration timeline controls for multimodal playback
  app/packages/mcap/src/playback-utils.test.ts
  app/packages/mcap/src/playback-utils.ts
  app/packages/mcap/src/useMcapExperimentalTimeline.test.tsx
  app/packages/mcap/src/useMultimodalExperimentalTimeline.ts
  app/packages/playback/experimental/constants.ts
  app/packages/playback/experimental/core/PlaybackEngine.test.ts
  app/packages/playback/experimental/core/PlaybackEngine.ts
  app/packages/playback/experimental/core/TimelineManager.test.ts
  app/packages/playback/experimental/core/TimelineManager.ts
  app/packages/playback/experimental/types.ts
  app/packages/playback/experimental/utils.test.ts
  app/packages/playback/experimental/utils.ts
  app/packages/playback/experimental/views/DurationTimelineControls.test.tsx
  app/packages/playback/experimental/views/DurationTimelineControls.tsx
  app/packages/playback/experimental/views/TexturedImageView.test.tsx
  app/packages/playback/experimental/views/TexturedImageView.tsx
  app/packages/playback/experimental/views/duration-timeline-controls.module.css
Due: none

wire multimodal decoders and scene runtime
  app/packages/mcap/src/archetypes/archetypes-boundary.test.ts
  app/packages/mcap/src/archetypes/image2d/Image2dView.test.tsx
  app/packages/mcap/src/archetypes/image2d/Image2dView.tsx
  app/packages/mcap/src/archetypes/points3d/Points3dView.test.tsx
  app/packages/mcap/src/archetypes/points3d/Points3dView.tsx
  app/packages/mcap/src/archetypes/points3d/types.ts
  app/packages/mcap/src/compressed-image-decoder.test.ts
  app/packages/mcap/src/compressed-image-decoder.ts
  app/packages/mcap/src/compressed-image-worker-client.ts
  app/packages/mcap/src/compressed-image-worker.ts
  app/packages/mcap/src/image-buffer-cache.test.ts
  app/packages/mcap/src/laserscan-decoder.test.ts
  app/packages/mcap/src/laserscan-decoder.ts
  app/packages/mcap/src/markerarray-decoder.test.ts
  app/packages/mcap/src/markerarray-decoder.ts
  app/packages/mcap/src/panel-binding-registry.ts
  app/packages/mcap/src/pointcloud-buffer-cache.test.ts
  app/packages/mcap/src/pointcloud-buffer-cache.ts
  app/packages/mcap/src/pointcloud2-decoder.test.ts
  app/packages/mcap/src/pointcloud2-decoder.ts
  app/packages/mcap/src/pointcloud2-worker-client.ts
  app/packages/mcap/src/pointcloud2-worker.ts
  app/packages/mcap/src/raw-message-window-cache.ts
  app/packages/mcap/src/renderable3d-buffer-cache.ts
  app/packages/mcap/src/renderer-utils.test.ts
  app/packages/mcap/src/renderer-utils.ts
  app/packages/mcap/src/ros-decoder.ts
  app/packages/mcap/src/scene-view-model.ts
  app/packages/mcap/src/schema-codec-registry.ts
  app/packages/mcap/src/transform-runtime.ts
Due: none

wire multimodal renderers and playback controller
  app/packages/mcap/src/McapGridRenderer.tsx
  app/packages/mcap/src/McapModalRenderer.tsx
  app/packages/mcap/src/McapRenderers.test.tsx
  app/packages/mcap/src/MultimodalGridRenderer.tsx
  app/packages/mcap/src/MultimodalModalRenderer.tsx
  app/packages/mcap/src/index.test.tsx
  app/packages/mcap/src/index.ts
  app/packages/mcap/src/useMcapPlaybackController.test.tsx
  app/packages/mcap/src/useMcapPlaybackController.ts
  app/packages/mcap/src/useMultimodalPlaybackController.ts
Due: none

rename mcap package to multimodal everywhere
  app/packages/app/package.json
  app/packages/app/src/pages/datasets/DatasetPage.test.tsx
  app/packages/app/src/pages/datasets/DatasetPage.tsx
  app/packages/mcap/package.json
  app/yarn.lock
Due: frontend-check

only show brain keys with results
  plugins/panels/similarity_search/__init__.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
