Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

debugging
  .github/workflows/test-app.yml
  app/packages/state/vite.config.ts
Due: none

typo
  .github/workflows/test-app.yml
Due: none

test
  .github/workflows/test-app.yml
Due: none

debug
  .github/workflows/test-app.yml
Due: none

fix hash
  .github/workflows/test-app.yml
Due: none

added cover image for pandas tutorial
  docs/source/_static/images/tutorials/pandas_tutorial.png
  docs/source/tutorials/images/pandas_tutorial.png
  docs/source/tutorials/index.rst
  docs/source/tutorials/pandas_comparison.ipynb
Due: ipynb-strip

debug
  app/packages/core/src/Root/Home/Home.tsx
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/schema.graphql
  fiftyone/server/mutation.py
Due: pylint

adding support for declaring and deleting group fields on existing datasets
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/odm/mixins.py
Due: pylint

proper implementation of schema selection/exclusion
  fiftyone/core/view.py
Due: pylint

cleanup
  fiftyone/core/collections.py
Due: pylint

adding a group_collections() utility
  fiftyone/utils/groups.py
Due: pylint

adding new group tests
  tests/unittests/group_tests.py
Due: pylint

working complex-yolo model
  fiftyone/utils/complex_yolo/__init__.py
  fiftyone/utils/complex_yolo/model.py
  fiftyone/utils/complex_yolo/zoo.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

adding media_cache to public interface
  fiftyone/__public__.py
Due: pylint

downloading weights for complex_yolo_v3
  fiftyone/utils/complex_yolo/model.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

simplifying explanation per oguz-hanoglu's recommendation
  docs/source/user_guide/app.rst
Due: none

editorial pass
  docs/source/tutorials/index.rst
  docs/source/tutorials/pandas_comparison.ipynb
Due: ipynb-strip

retain comments
  fiftyone/utils/kitti.py
Due: pylint

Loading spatial label field 'rotation'
  fiftyone/utils/annotations.py
Due: pylint

fix theme background
  app/packages/core/src/components/ViewBar/ViewStage/ViewStage.tsx
Due: none

3d IoU routine ++ 3d detection evaluation
  fiftyone/utils/eval/utils_3d.py
  fiftyone/utils/iou.py
Due: pylint

don't allow same name view edition/creation - case insensitive
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/styledComponents.tsx
  app/packages/state/src/hooks/useSetView.ts
Due: none

if no saved view found matching view query param, set view to null and load all samples
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
Due: none

remove console logs
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/state/src/hooks/useSetDataset.ts
  app/packages/state/src/utils.ts
Due: none

change material-ui to mui to support react 18
  app/packages/app/package.json
  app/packages/components/src/components/Icons/Icons.tsx
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/map/package.json
  app/yarn.lock
  fiftyone/core/view.py
  fiftyone/server/aggregate.py
  fiftyone/server/dataloader.py
  fiftyone/server/query.py
Due: pylint

migrating pandas cheat sheet to a recipe
  docs/source/cheat_sheets/index.rst
  docs/source/recipes/index.rst
  docs/source/recipes/pandas_vs_fiftyone.rst
Due: none

initial editing pass
  docs/source/recipes/pandas_vs_fiftyone.rst
Due: none

moving recipe image into place
  docs/source/_static/images/recipes/pandas_vs_fiftyone.png
Due: none

tweaking card text
  docs/source/recipes/index.rst
Due: none

editing pass over table
  docs/source/recipes/pandas_vs_fiftyone.rst
Due: none

removing cheat sheets ToC entry
  docs/source/index.rst
Due: none

bugfix
  docs/source/recipes/pandas_vs_fiftyone.rst
Due: none

fixing link
  docs/source/recipes/index.rst
Due: none

refactor fragment
  app/packages/app/package.json
  app/packages/core/src/Root/Root.tsx
  app/packages/core/src/Root/__generated__/RootDatasetSavedViewsFragment.graphql.ts
  app/packages/core/src/Root/__generated__/RootDatasetSavedViewsQuery.graphql.ts
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/state/src/hooks/useQueryState.ts
  app/schema.graphql
  app/yarn.lock
  fiftyone/__public__.py
  fiftyone/server/aggregate.py
Due: pylint

removing numpy import
  docs/source/recipes/pandas_vs_fiftyone.rst
Due: none

add ability to select embedding ctx
  app/packages/embeddings/src/Embeddings.tsx
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
