Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

refactor
  fiftyone/core/map/batcher/batcher.py
  fiftyone/core/map/factory.py
  fiftyone/core/map/mapper.py
  fiftyone/core/map/process.py
  fiftyone/core/map/threading.py
  fiftyone/utils/map.py
Due: pylint

delete model evaluation from model eval panel (#5559)
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/ActionMenu.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/ConfirmationDialog.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/Evaluation.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/Overview.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/index.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/utils.ts
  plugins/panels/model_evaluation/__init__.py
Due: pylint

delete model evaluation from model eval panel (#5559) (#5574)
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/ActionMenu.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/ConfirmationDialog.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/Evaluation.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/Overview.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/index.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/utils.ts
  plugins/panels/model_evaluation/__init__.py
Due: pylint

bugfix
  fiftyone/utils/torch.py
Due: pylint

cummulative -> cumulative
  docs/source/recipes/torch-dataset-examples/ddp_train.py
Due: pylint

implement hover behavior
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/hooks/use-similar-labels-3d.ts
  app/packages/looker-3d/src/labels/cuboid.tsx
  app/packages/looker-3d/src/labels/line.tsx
  app/packages/looker-3d/src/labels/loader.ts
  app/packages/looker-3d/src/labels/polyline.tsx
  app/packages/looker/src/elements/common/util.ts
  app/packages/looker/src/events.ts
  app/packages/looker/src/index.ts
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/lookers/video.ts
  app/packages/looker/src/overlays/base.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/state.ts
  app/packages/operators/src/operators.ts
  app/packages/state/src/hooks/useTooltip.ts
  app/packages/state/src/jotai/index.ts
  app/packages/state/src/recoil/types.ts
Due: none

chore: bump minor version
  fiftyone/constants.py
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

[skip ci] automated bump `fiftyone` to v2.7.0rc1, `fiftyone-app` to v2.7.0rc1, and `teams-app` to v2.7.0-rc.0
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

renamed some vars
  docs/source/recipes/torch-dataset-examples/ddp_train.py
Due: pylint

made save path a variable
  docs/source/recipes/torch-dataset-examples/simple_training_example.ipynb
Due: none

[skip ci] automated bump `fiftyone` to v2.8.0.dev2, `fiftyone-app` to v2.8.0.dev2, and `teams-app` to v2.8.0-dev.1
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

implement metadata looker in modal
  app/packages/core/src/components/Modal/MetadataLooker.tsx
  app/packages/core/src/components/Modal/ModalLooker.tsx
  app/packages/looker/src/util.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/utilities/src/index.ts
Due: none

remove media type restrictions
  fiftyone/core/dataset.py
  fiftyone/core/odm/sample.py
Due: pylint

refactor FileLooker to MetadataLooker
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/elements/metadata/index.ts
  app/packages/looker/src/elements/metadata/metadata-thumbnail.ts
  app/packages/looker/src/elements/metadata/util.ts
  app/packages/looker/src/lookers/index.ts
  app/packages/looker/src/lookers/metadata.ts
  app/packages/state/src/hooks/useCreateLooker.ts
Due: none

update unit test with explicit media type
  tests/unittests/sample_tests.py
Due: pylint

update native media types for consistency
  app/packages/looker/src/util.ts
Due: none

handle undefined media_type
  app/packages/state/src/hooks/useCreateLooker.ts
Due: none

update graphql to allow arbitrary media types
  app/packages/relay/src/fragments/__generated__/datasetFragment.graphql.ts
  app/packages/relay/src/fragments/__generated__/mediaTypeFragment.graphql.ts
  app/schema.graphql
  fiftyone/server/query.py
Due: pylint

add fallback "unknown" media type
  app/packages/relay/src/queries/__generated__/mainSampleQuery.graphql.ts
  app/packages/relay/src/queries/__generated__/paginateSamplesQuery.graphql.ts
  app/packages/relay/src/queries/mainSample.ts
  app/packages/relay/src/queries/paginateSamples.ts
  app/packages/state/src/recoil/types.ts
  app/schema.graphql
  fiftyone/core/media.py
  fiftyone/server/metadata.py
  fiftyone/server/samples.py
Due: pylint

implement looker for arbitrary files
  app/packages/looker/src/elements/file.ts
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/icons/code.svg
  app/packages/looker/src/icons/document.svg
  app/packages/looker/src/icons/findInPage.svg
  app/packages/looker/src/icons/tableView.svg
  app/packages/looker/src/icons/terminal.svg
  app/packages/looker/src/lookers/file.ts
  app/packages/looker/src/lookers/index.ts
  app/packages/looker/src/state.ts
  app/packages/state/src/hooks/useCreateLooker.ts
Due: none

centralize logic to determine if samples are 3d
  app/packages/core/src/components/Modal/Group/DynamicGroup/NonNestedGroup/index.tsx
  app/packages/core/src/components/Modal/Group/EnsureGroupSample.tsx
  app/packages/core/src/components/Modal/Group/GroupCarousel.tsx
  app/packages/looker-3d/src/Looker3d.tsx
  app/packages/looker-3d/src/action-bar/index.tsx
  app/packages/state/src/hooks/useSetExpandedSample.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/recoil/groups.ts
  app/packages/state/src/recoil/selectors.ts
  app/packages/state/src/recoil/types.ts
  app/packages/utilities/src/index.ts
  app/packages/utilities/src/media.test.ts
  app/packages/utilities/src/media.ts
  fiftyone/server/query.py
Due: pylint

remove type coercion from unit test
  tests/unittests/server_dataset_tests.py
Due: pylint

Enable MP for Windows
  fiftyone/core/utils.py
Due: pylint

remove local symnlink
  .fiftyone-config
Due: none

update screenshots, sizing tweaks
  app/packages/spotlight/src/index.ts
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/hide-bottle-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/hide-bottle-hide-horse-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/hide-bottle-show-horse-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-hide-person-cat-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-show-cat-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/show-bottle-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/show-bottle-hide-cup-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/show-bottle-show-cup-chromium-linux.png
Due: frontend-check

improve os/browser compatibility
  app/packages/looker/src/elements/metadata/metadata-thumbnail.ts
  app/packages/looker/src/elements/metadata/util.test.ts
  app/packages/looker/src/elements/metadata/util.ts
Due: none

docs
  fiftyone/core/odm/dataset.py
Due: pylint

cleanup
  app/packages/core/src/plugins/SchemaIO/components/CodeView.tsx
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/utils.ts
Due: none

return promise to adhere to new spotlight interface
  app/packages/components/src/components/BuiltinPanels/DataLens/hooks.ts
Due: none

Grid caching feedback (#5548)
  app/packages/core/src/components/Actions/Options.tsx
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/index.ts
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/core/src/components/Grid/useEvents.ts
  app/packages/core/src/components/Grid/useFontSize.ts
  app/packages/core/src/components/Grid/useLabelVisibility.ts
  app/packages/core/src/components/Grid/useLookerCache.ts
  app/packages/core/src/components/Grid/useRenderer.ts
  app/packages/core/src/components/Grid/useScrollLocation.ts
  app/packages/core/src/components/Grid/useZoomSetting.ts
  app/packages/core/src/components/ImageContainerHeader.tsx
  app/packages/core/src/components/QueryPerformanceToast.tsx
  app/packages/core/src/components/Sidebar/Entries/QueryPerformanceIcon.tsx
  app/packages/core/src/components/Snackbar.tsx
  app/packages/core/src/utils/links.ts
  app/packages/looker/src/cache.test.ts
  app/packages/looker/src/cache.ts
  app/packages/spotlight/src/constants.ts
  app/packages/spotlight/src/index.ts
  app/packages/spotlight/src/row.ts
  app/packages/spotlight/src/section.ts
  app/packages/spotlight/src/types.ts
  app/packages/spotlight/src/utilities.ts
  app/packages/state/src/recoil/atoms.ts
  docs/source/images/app/app-managing-grid-memory.gif
  docs/source/user_guide/app.rst
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/hide-bottle-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/hide-bottle-hide-horse-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/hide-bottle-show-horse-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-chromium-darwin.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-hide-person-cat-chromium-darwin.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-hide-person-cat-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-show-cat-chromium-darwin.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/select-bottle-show-cat-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/show-bottle-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/show-bottle-hide-cup-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar.spec.ts-snapshots/show-bottle-show-cup-chromium-linux.png
  fiftyone/core/config.py
Due: pylint, frontend-check

fix: add image tag for unlabeled sample in cvat
  fiftyone/utils/cvat.py
Due: pylint

Refactor `map_samples`/`update_samples`
  fiftyone/core/map/batcher.py
  fiftyone/core/map/batcher/__init__.py
  fiftyone/core/map/batcher/batch.py
  fiftyone/core/map/batcher/batcher.py
  fiftyone/core/map/batcher/id_batch.py
  fiftyone/core/map/batcher/slice_batch.py
  fiftyone/core/map/factory.py
  fiftyone/core/map/map.py
  fiftyone/core/map/mapper.py
  fiftyone/core/map/process.py
  fiftyone/core/map/sequential.py
  fiftyone/core/map/threading.py
  fiftyone/core/map/typing.py
  fiftyone/utils/map.py
  tests/unittests/map/batcher/conftest.py
  tests/unittests/map/batcher/test_batcher.py
  tests/unittests/map/batcher/test_id_batch.py
  tests/unittests/map/batcher/test_slice_batch.py
  tests/unittests/map/factory.py
  tests/unittests/map/test_factory.py
  tests/unittests/map/test_implementations.py
  tests/unittests/map/test_mapper.py
  tests/unittests/map/test_process.py
  tests/unittests/map/test_sequential.py
  tests/unittests/map/test_threading.py
Due: pylint

remove old count
  fiftyone/core/map/process.py
Due: pylint

[skip ci] automated bump `fiftyone` to v2.8.0.dev3, `fiftyone-app` to v2.8.0.dev3, and `teams-app` to v2.8.0-dev.2
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

active fields
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/relay/src/fragments/__generated__/datasetAppConfigFragment.graphql.ts
  app/packages/relay/src/fragments/datasetAppConfigFragment.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/state/src/activeFields.test.ts
  app/packages/state/src/activeFields.ts
  app/packages/state/src/labelsVisibility.ts
  app/packages/state/src/recoil/schema.ts
  app/packages/state/src/recoil/selectors.ts
  app/packages/state/src/recoil/sidebar.ts
  app/packages/state/src/recoil/types.ts
  app/schema.graphql
  fiftyone/__public__.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/dataset.py
  fiftyone/server/query.py
Due: pylint, frontend-check

active fields doc
  docs/source/user_guide/app.rst
Due: none

override loaded getter in metadata looker
  app/packages/looker/src/lookers/metadata.ts
Due: none

query performance is only for grid aggregations
  app/packages/state/src/recoil/aggregations.ts
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
