Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

handling orthographic projections
  fiftyone/utils/data/importers.py
Due: pylint

cleanup
  app/packages/app/src/index.tsx
  app/packages/app/src/pages/IndexPage.tsx
  app/packages/app/src/pages/datasets/DatasetPage.tsx
  app/packages/app/src/routing/Renderer.tsx
  app/packages/app/src/routing/RouterContext.ts
  app/packages/app/src/sync/Sync.tsx
  app/packages/app/src/withQueryNode.tsx
  app/packages/core/src/components/ImageContainerHeader.tsx
  app/packages/relay/src/PageQuery.tsx
  app/packages/relay/src/graphqlFragmentEffect.ts
  app/packages/relay/src/index.ts
  app/packages/state/src/hooks/useSetView.ts
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/recoil/groups.ts
Due: none

dynamically loading media field classes
  fiftyone/utils/data/importers.py
Due: pylint

add maxK and supportsLeastSimilarity
  app/packages/core/src/Dataset.ts
  app/packages/core/src/__generated__/DatasetQuery.graphql.ts
  app/packages/state/src/recoil/types.ts
  app/schema.graphql
  fiftyone/server/query.py
Due: pylint

use instance instead of class
  fiftyone/server/query.py
Due: pylint

media field updates
  fiftyone/core/collections.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/utils3d.py
Due: pylint

avoiding unnecessary diffs
  fiftyone/utils/data/importers.py
Due: pylint

add warning when validating K with maxK and disable least similarity search when not supported
  app/packages/core/src/components/Actions/similar/MaxKWarning.tsx
  app/packages/core/src/components/Actions/similar/Similar.tsx
  app/packages/core/src/components/Actions/similar/utils.ts
  app/packages/state/src/recoil/selectors.ts
Due: none

convert atom to localstorage
  app/packages/core/src/components/Actions/similar/Similar.tsx
  app/packages/core/src/components/Actions/similar/utils.ts
Due: none

save last used brain key for similarity search and use it as default method
  app/packages/core/src/components/Actions/similar/Similar.tsx
  app/packages/core/src/components/Actions/similar/utils.ts
Due: none

updating thumbnail image
  docs/source/_static/images/tutorials/yolov8.png
  docs/source/tutorials/index.rst
Due: none

fix a sort related bug
  app/packages/core/src/components/Actions/similar/utils.ts
Due: none

disable submit when query is blank
  app/packages/core/src/components/Actions/similar/Similar.tsx
Due: none

fix group selection
  app/packages/core/src/components/Actions/Selected.tsx
  app/packages/core/src/components/Group/Group.tsx
  app/packages/state/src/recoil/schema.ts
  app/packages/state/src/routing/RouterContext.ts
Due: none

fix bugs
  app/packages/core/src/components/Actions/similar/Similar.tsx
Due: none

show warning dynamically based on key and disable submit when k > maxK
  app/packages/core/src/components/Actions/similar/Similar.tsx
Due: none

update validateK
  app/packages/core/src/components/Actions/similar/Similar.tsx
Due: none

raise on unexpected keypoint filter (#2779)
  fiftyone/server/view.py
Due: pylint

fix empty state loading
  app/packages/core/src/components/EmptySamples.tsx
  app/packages/core/src/plugins/samples.tsx
Due: none

Still filling out the template
  docs/source/integrations/qdrant.rst
Due: none

when brainkey changes, reset reverse to false
  app/packages/core/src/components/Actions/similar/Similar.tsx
Due: none

make media_url computation for orthographic projections cloud friendly
  fiftyone/server/metadata.py
Due: pylint

add _id to ortho projections and fix mixed param
  app/packages/looker/src/state.ts
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/groups.ts
  docs/source/recipes/custom_exporter.ipynb
  docs/source/recipes/custom_parser.ipynb
  docs/source/recipes/draw_labels.ipynb
Due: ipynb-strip

rvt notebook
  docs/source/recipes/custom_exporter.ipynb
  docs/source/recipes/custom_parser.ipynb
  docs/source/recipes/draw_labels.ipynb
Due: ipynb-strip

linting
  fiftyone/server/metadata.py
Due: pylint

add CVAT organization docs
  docs/source/integrations/cvat.rst
  fiftyone/utils/cvat.py
Due: pylint

revert gitignore
  .gitignore
Due: none

return on input
  app/packages/core/src/components/Modal/Modal.tsx
Due: none

text only
  app/packages/core/src/components/Modal/Modal.tsx
Due: none

set media type
  fiftyone/server/metadata.py
Due: pylint

use media type computed in backend
  app/packages/state/src/hooks/useCreateLooker.ts
Due: none

matching teams
  fiftyone/server/metadata.py
Due: pylint

compute metadata from opm filepath
  fiftyone/server/metadata.py
Due: pylint

refactor empty state
  app/packages/core/src/components/EmptySamples.tsx
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/plugins/samples.tsx
Due: none

initial docs pass
  docs/source/_includes/substitutions.rst
  docs/source/release-notes.rst
  docs/source/user_guide/brain.rst
Due: none

finishing first draft of Qdrant integration page
  docs/source/integrations/qdrant.rst
Due: none

replace useEffect
  app/packages/core/src/components/Actions/similar/Similar.tsx
Due: none

temp remove empty samples
  app/packages/core/src/components/Grid/Grid.tsx
Due: none

remove slice, show all available keys
  app/packages/core/src/components/Actions/similar/utils.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
