Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

stage parameters carry their docstring descriptions; toggles show them
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/relay/src/fragments/__generated__/stageDefinitionsFragment.graphql.ts
  app/packages/relay/src/fragments/stageDefinitionsFragment.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/view-bar/src/controls.tsx
  app/packages/view-bar/src/params.ts
  app/schema.graphql
  fiftyone/server/stage_definitions.py
  tests/unittests/server_view_tests.py
Due: pylint, frontend-check

Play Explore's audio from the <video> instead of fetching the file twice
  app/packages/core/src/components/Modal/VideoTimelineSurface.tsx
  app/packages/multimodal/src/views/episode/audio/RegisterMcapAudioStreams.tsx
  app/packages/playback/index.ts
  app/packages/playback/src/lib/playback/store-access.ts
  app/packages/playback/src/lib/playback/use-audio-stream.ts
  app/packages/playback/src/lib/playback/use-video-audio.test.tsx
  app/packages/playback/src/lib/playback/use-video-audio.ts
  app/packages/playback/src/lib/playback/use-video-sync.test.tsx
  app/packages/playback/src/lib/playback/use-video-sync.ts
  app/packages/video-annotation/src/components/LighterVideo.tsx
  app/packages/video-annotation/src/components/VideoAnnotationSurface.tsx
Due: none

port lerobot cloud-storage work to OSS behind a media-asset storage seam
  app/packages/multimodal/src/adapters/lerobot/format-adapter.test.ts
  app/packages/multimodal/src/adapters/lerobot/format-adapter.ts
  app/packages/multimodal/src/ir/bytes.ts
  app/packages/multimodal/src/ports/adapter.ts
  app/packages/multimodal/src/ports/session.ts
  app/packages/multimodal/src/query/bytes/cache-api-byte-cache.test.ts
  app/packages/multimodal/src/query/bytes/cache-api-byte-cache.ts
  app/packages/multimodal/src/query/bytes/cache.ts
  app/packages/multimodal/src/query/bytes/cached-byte-client.ts
  app/packages/multimodal/src/query/bytes/fill-lock.ts
  app/packages/multimodal/src/query/bytes/http-byte-client.ts
  app/packages/multimodal/src/query/bytes/index.ts
  app/packages/multimodal/src/query/bytes/resolved-location-registry.ts
  app/packages/multimodal/src/query/bytes/source-size-discovery.test.ts
  app/packages/multimodal/src/query/bytes/source-size-registry.ts
  app/packages/multimodal/src/query/query.test.ts
  app/packages/multimodal/src/runtime/episode-manifest-transport.ts
  app/packages/multimodal/src/runtime/episode-manifests.test.ts
  app/packages/multimodal/src/runtime/episode-manifests.ts
  app/packages/multimodal/src/runtime/episode-resources.test.ts
  app/packages/multimodal/src/runtime/episode-resources.ts
  app/packages/multimodal/src/views/episode/grid/GridRenderer.test.tsx
  app/packages/multimodal/src/views/episode/grid/GridRenderer.tsx
  app/packages/multimodal/src/views/episode/grid/use-grid-preview.test.tsx
  app/packages/multimodal/src/views/episode/grid/use-grid-preview.ts
  app/packages/multimodal/src/views/session/episode-source.test.ts
  app/packages/multimodal/src/views/session/episode-source.ts
  app/packages/utilities/src/fetch.ts
  fiftyone/core/media_assets.py
  fiftyone/core/storage.py
  fiftyone/multimodal/media.py
  fiftyone/server/routes/media_reference.py
  fiftyone/utils/lerobot.py
  fiftyone/utils/lerobot_export.py
  tests/unittests/multimodal/lerobot_tests.py
Due: pylint

Pin the read-only lock and the single-track mixer gate
  app/packages/lighter/src/interaction/readOnly.test.ts
  app/packages/playback/src/views/TimelineControls/MixedAudioDropdown.test.tsx
Due: none

Pin the Escape ladder — priority, enablement, and production bind order
  app/packages/commands/src/keys/manager.test.ts
  app/packages/core/src/components/Modal/useVideoExploreKeybindings.test.tsx
Due: none

Pin Explore's registration order and its read-only subtraction
  app/packages/video-annotation/src/components/RegisterVideoExploreLabels.test.tsx
  app/packages/video-annotation/src/hooks/useVideoExploreSyncBundle.test.tsx
Due: none

read a source's shared files once, not once per tile
  app/packages/multimodal/src/adapters/lerobot/format-adapter.ts
  app/packages/multimodal/src/ports/adapter.ts
  app/packages/multimodal/src/ports/session.ts
  app/packages/multimodal/src/query/bytes/cached-byte-client.test.ts
  app/packages/multimodal/src/query/bytes/cached-byte-client.ts
  app/packages/multimodal/src/query/bytes/types.ts
  app/packages/multimodal/src/runtime/episode-manifest-transport.ts
  app/packages/multimodal/src/utils/cancellation.ts
  app/packages/multimodal/src/views/session/episode-source.ts
  fiftyone/multimodal/media.py
  fiftyone/server/routes/media_reference.py
  fiftyone/utils/lerobot.py
Due: pylint

reach a file's bytes a range at a time through the storage layer
  fiftyone/core/ranged_reader.py
  fiftyone/core/storage.py
  fiftyone/multimodal/media.py
  fiftyone/server/routes/media_reference.py
  fiftyone/utils/lerobot.py
Due: pylint

put the ranged reader and its fetcher under the storage package
  app/packages/multimodal/src/views/session/episode-source.ts
  fiftyone/core/storage/__init__.py
  fiftyone/core/storage/fetcher.py
  fiftyone/core/storage/reader.py
Due: pylint

rm duplicate function
  app/packages/multimodal/src/views/session/episode-source.ts
Due: none

Add the BoilingBench multimodal dataset to the dataset zoo
  docs/source/dataset_zoo/datasets/boilingbench_multimodal.rst
  docs/source/dataset_zoo/datasets/dataset_cards.rst
  docs/source/images/dataset_zoo/boilingbench-multimodal.png
  fiftyone/zoo/datasets/base.py
Due: pylint

Don't fetch the whole clip's labels on the read-only Explore surface
  app/packages/video-annotation/src/components/RegisterVideoExploreLabels.test.tsx
  app/packages/video-annotation/src/components/RegisterVideoExploreLabels.tsx
  app/packages/video-annotation/src/hooks/useSyncAnnotationVideoStore.ts
Due: none

Provision the label window for real-time playback
  app/packages/video-annotation/src/streams/VideoFrameLabelsStream.ts
Due: none

Give Annotate the same time / frame readout toggle as Explore
  app/packages/video-annotation/src/components/VideoAnnotationSurface.tsx
Due: none

Unmute when play beat the metadata event
  app/packages/playback/src/lib/playback/use-video-audio.test.tsx
  app/packages/playback/src/lib/playback/use-video-audio.ts
Due: none

Aggregate audio availability per source
  app/packages/playback/src/lib/playback/store-access.ts
  app/packages/playback/src/lib/playback/use-audio-stream.ts
  app/packages/playback/src/lib/playback/use-video-audio.ts
Due: none

Remount the annotate surface per sample
  app/packages/video-annotation/src/components/VideoAnnotationSurface.tsx
Due: none

review: use the shared objectId util, and trim the comments to the contract
  app/packages/annotation/src/agents/PolylinePropagationBrowserAgent.ts
  app/packages/annotation/src/agents/polylineInterp.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/usePolylineMode.ts
  app/packages/video-annotation/src/hooks/useVideoPropagate.ts
Due: none

review: drop an unused helper from the dispatch test
  app/packages/video-annotation/src/hooks/useVideoPropagate.test.ts
Due: none

Update app-dependencies
  .github/scripts/package.json
  .github/scripts/yarn.lock
  app/.yarnrc.yml
  app/package.json
  app/packages/app/package.json
  app/packages/core/package.json
  app/packages/embeddings-v2/package.json
  app/packages/looker-3d/package.json
  app/packages/map/package.json
  app/packages/multimodal/package.json
  app/packages/spotlight/package.json
  app/packages/state/package.json
  app/yarn.lock
  e2e-pw/package.json
  e2e-pw/yarn.lock
Due: frontend-check

Added docs for the new fo skill editor
  docs/source/enterprise/agent.rst
Due: none

Apply suggestion reviwer
  docs/source/enterprise/agent.rst
Due: none

Added how to use ground knowledge using Kapa AI
  docs/source/enterprise/agent.rst
Due: none

feat(cloud): fiftyone-free cloud push engine and CLI
  local-plugins/cloud/cli.py
  local-plugins/cloud/engine/__init__.py
  local-plugins/cloud/engine/config.py
  local-plugins/cloud/engine/errors.py
  local-plugins/cloud/engine/flows.py
  local-plugins/cloud/engine/manifest.py
  local-plugins/cloud/engine/pairing.py
  local-plugins/cloud/engine/push.py
  local-plugins/cloud/engine/session.py
  local-plugins/cloud/engine/store.py
  local-plugins/cloud/engine/transport.py
  local-plugins/cloud/tests/conftest.py
  local-plugins/cloud/tests/test_config.py
  local-plugins/cloud/tests/test_manifest.py
  local-plugins/cloud/tests/test_pairing.py
  local-plugins/cloud/tests/test_push.py
  local-plugins/cloud/tests/test_session.py
  local-plugins/cloud/tests/test_store.py
Due: pylint

feat(cloud): panel, push operator and progress sinks for the cloud plugin
  local-plugins/cloud/__init__.py
  local-plugins/cloud/constants.py
  local-plugins/cloud/fiftyone.yml
  local-plugins/cloud/models.py
  local-plugins/cloud/operators.py
  local-plugins/cloud/panel.py
  local-plugins/cloud/plan_cache.py
  local-plugins/cloud/progress.py
  local-plugins/cloud/tests/test_operators.py
  local-plugins/cloud/tests/test_panel.py
  local-plugins/cloud/tests/test_plan_cache.py
  local-plugins/cloud/tests/test_progress.py
Due: pylint

feat(cloud): React panel view for the cloud push plugin
  local-plugins/cloud/README.md
  local-plugins/cloud/js/.gitignore
  local-plugins/cloud/js/.yarnrc.yml
  local-plugins/cloud/js/package.json
  local-plugins/cloud/js/src/CloudPanelView.tsx
  local-plugins/cloud/js/src/components/ConnectCard.tsx
  local-plugins/cloud/js/src/components/ConnectedBar.tsx
  local-plugins/cloud/js/src/components/PairingCard.tsx
  local-plugins/cloud/js/src/components/PlanningCard.tsx
  local-plugins/cloud/js/src/components/PreviewStep.tsx
  local-plugins/cloud/js/src/components/ProgressCard.tsx
  local-plugins/cloud/js/src/components/ResultCard.tsx
  local-plugins/cloud/js/src/components/UploadForm.tsx
  local-plugins/cloud/js/src/constants.ts
  local-plugins/cloud/js/src/copy.ts
  local-plugins/cloud/js/src/hooks/__tests__/fakes.ts
  local-plugins/cloud/js/src/hooks/__tests__/usePairing.test.ts
  local-plugins/cloud/js/src/hooks/__tests__/usePush.test.ts
  local-plugins/cloud/js/src/hooks/__tests__/useStoreSubscription.test.ts
  local-plugins/cloud/js/src/hooks/appBindings.ts
  local-plugins/cloud/js/src/hooks/useCloudPanel.ts
  local-plugins/cloud/js/src/hooks/useConnection.ts
  local-plugins/cloud/js/src/hooks/usePairing.ts
  local-plugins/cloud/js/src/hooks/usePanelMethods.ts
  local-plugins/cloud/js/src/hooks/usePush.ts
  local-plugins/cloud/js/src/hooks/useStoreSubscription.ts
  local-plugins/cloud/js/src/index.tsx
  local-plugins/cloud/js/src/shims/fiftyone.d.ts
  local-plugins/cloud/js/src/types.ts
  local-plugins/cloud/js/tsconfig.json
  local-plugins/cloud/js/vite.config.ts
  local-plugins/cloud/js/vitest.config.ts
  local-plugins/cloud/js/yarn.lock
Due: none

Make fiftyone.core.storage a package with a local ranged reader
  fiftyone/core/storage/__init__.py
  fiftyone/core/storage/fetcher.py
  fiftyone/core/storage/ranged_reader.py
Due: pylint

Hold the episode in the sample's media_reference
  fiftyone/__public__.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/document.py
  fiftyone/core/fields.py
  fiftyone/core/media_assets.py
  fiftyone/core/media_reference.py
  fiftyone/core/odm/dataset.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/odm/sample.py
  fiftyone/core/odm/utils.py
  fiftyone/core/sample.py
  fiftyone/core/view.py
  fiftyone/multimodal/__init__.py
  fiftyone/multimodal/media.py
  fiftyone/multimodal/media_reference/__init__.py
  fiftyone/multimodal/media_reference/asset_planning.py
  fiftyone/multimodal/media_reference/field_model.py
  fiftyone/types/dataset_types.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/lerobot.py
  fiftyone/utils/lerobot_export.py
  tests/unittests/filepath_media_reference_regression_tests.py
  tests/unittests/multimodal/lerobot_tests.py
  tests/unittests/multimodal/media_reference_tests.py
Due: pylint

Deliver a sample's media with the page that carries it
  app/schema.graphql
  fiftyone/server/media_references.py
  fiftyone/server/metadata.py
  fiftyone/server/query.py
  fiftyone/server/routes/__init__.py
  fiftyone/server/routes/groups.py
  fiftyone/server/routes/media_reference.py
  fiftyone/server/samples.py
  fiftyone/server/utils/json/serialization.py
  fiftyone/server/view.py
Due: pylint

Build the episode source from what the page delivered
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/core/src/components/Grid/useSpotlightPager.ts
  app/packages/core/src/components/Grid/utils.ts
  app/packages/core/src/useFlashlightPager.ts
  app/packages/multimodal/src/adapters/lerobot/descriptor.ts
  app/packages/multimodal/src/adapters/lerobot/format-adapter.test.ts
  app/packages/multimodal/src/adapters/lerobot/format-adapter.ts
  app/packages/multimodal/src/adapters/lerobot/state-action.test.ts
  app/packages/multimodal/src/adapters/mcap/descriptor.test.ts
  app/packages/multimodal/src/ports/adapter.ts
  app/packages/multimodal/src/runtime/episode-byte-source.ts
  app/packages/multimodal/src/runtime/episode-resources.test.ts
  app/packages/multimodal/src/runtime/episode-resources.ts
  app/packages/multimodal/src/views/entry.tsx
  app/packages/multimodal/src/views/episode/grid/GridRenderer.test.tsx
  app/packages/multimodal/src/views/episode/grid/GridRenderer.tsx
  app/packages/multimodal/src/views/episode/grid/LeRobotGridHoverVideo.tsx
  app/packages/multimodal/src/views/session/episode-source.test.ts
  app/packages/multimodal/src/views/session/episode-source.ts
  app/packages/multimodal/src/views/session/use-owned-episode-resource.ts
  app/packages/multimodal/src/views/session/use-stable-episode-source.ts
  app/packages/plugins/src/sample-renderer.test.tsx
  app/packages/plugins/src/sample-renderer.ts
  app/packages/relay/src/fragments/__generated__/datasetFragment.graphql.ts
  app/packages/relay/src/fragments/datasetFragment.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/state/src/hooks/media-field-lookers.test.ts
  app/packages/state/src/recoil/dataset.ts
  app/packages/state/src/recoil/types.ts
  app/packages/utilities/src/media.test.ts
  app/packages/utilities/src/media.ts
Due: frontend-check

Widen byte-cache fills once a read learns the object's size
  app/packages/multimodal/src/ports/session.ts
  app/packages/multimodal/src/query/bytes/cached-byte-client.ts
  app/packages/multimodal/src/query/bytes/http-byte-client.ts
Due: none

fix modal and other bugs
  app/packages/core/src/components/Grid/useSpotlightPager.ts
  app/packages/core/src/components/Grid/utils.ts
  app/packages/core/src/useFlashlightPager.ts
  app/packages/multimodal/src/runtime/episode-byte-source.ts
  app/packages/multimodal/src/views/session/episode-source.test.ts
  app/packages/multimodal/src/views/session/episode-source.ts
  app/packages/multimodal/src/views/session/use-stable-episode-source.ts
  fiftyone/core/dataset.py
  fiftyone/core/odm/dataset.py
  fiftyone/core/odm/mixins.py
  fiftyone/multimodal/media_reference/field_model.py
  fiftyone/utils/lerobot.py
  tests/unittests/multimodal/lerobot_tests.py
  tests/unittests/multimodal/media_reference_tests.py
Due: pylint

address comments
  app/packages/multimodal/src/adapters/lerobot/format-adapter.ts
  app/packages/multimodal/src/query/bytes/cached-byte-client.ts
  app/packages/multimodal/src/views/session/use-stable-episode-source.ts
  fiftyone/core/dataset.py
  fiftyone/core/sample.py
  fiftyone/multimodal/media_reference/asset_planning.py
  fiftyone/multimodal/media_reference/field_model.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/lerobot.py
  tests/unittests/multimodal/lerobot_tests.py
Due: pylint

Give the offset-interval fixture consistent row coordinates
  app/packages/multimodal/src/adapters/lerobot/state-action.test.ts
Due: none

more comments
  app/packages/multimodal/src/views/episode/grid/GridRenderer.tsx
  fiftyone/core/sample.py
Due: pylint

rm unnecessary storage changes
  fiftyone/core/dataset.py
  fiftyone/core/storage.py
  fiftyone/core/storage/fetcher.py
  fiftyone/core/storage/ranged_reader.py
Due: pylint

Fingerprint media sources per table rather than per tile render, and read source ids alone instead of resolving every source's location on each add.
  app/packages/multimodal/src/views/session/use-stable-episode-source.ts
  fiftyone/core/dataset.py
  fiftyone/multimodal/media_reference/field_model.py
Due: pylint

add weakmap and tests
  app/packages/multimodal/src/views/session/use-stable-episode-source.test.ts
  app/packages/multimodal/src/views/session/use-stable-episode-source.ts
Due: none

add test and cleanup comments
  app/packages/multimodal/src/query/bytes/cached-byte-client.test.ts
  app/packages/multimodal/src/query/bytes/cached-byte-client.ts
  app/packages/multimodal/src/runtime/episode-byte-source.ts
  app/packages/multimodal/src/views/session/episode-source.test.ts
  app/packages/multimodal/src/views/session/use-stable-episode-source.ts
  app/packages/utilities/src/media.test.ts
  app/packages/utilities/src/media.ts
  fiftyone/multimodal/media_reference/field_model.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
