Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

Fix PyMP CommandCursor websocket disconnect
  fiftyone/api/motor/__init__.py
  fiftyone/api/motor/definitions.py
  fiftyone/api/pymongo/__init__.py
  fiftyone/api/pymongo/change_stream.py
  fiftyone/api/pymongo/command_cursor.py
  fiftyone/api/pymongo/cursor.py
  fiftyone/api/pymongo/database.py
  fiftyone/api/pymongo/proxy.py
  tests/unittests/api/pymongo/test_command_cursor.py
  tests/unittests/api/pymongo/test_cursors_socket_disconnect.py
Due: pylint

wip1
  app/packages/embeddings/src/tracesToData.tsx
  app/packages/embeddings/src/useCurrentPlotWindow.tsx
  app/packages/embeddings/src/useExtendedStageEffect.tsx
  app/packages/embeddings/src/usePlot.tsx
  fiftyone/server/routes/embeddings.py
  plugins/operators/__init__.py
  plugins/operators/fiftyone.yml
Due: pylint

use resolve_input()
  docs/source/model_zoo/remote.rst
  docs/source/user_guide/evaluation.rst
  fiftyone/operators/evaluation_metric.py
  fiftyone/zoo/models/__init__.py
Due: pylint

add support for remote zoo model parameters
  docs/scripts/make_model_zoo_docs.py
  docs/source/dataset_zoo/remote.rst
  docs/source/model_zoo/remote.rst
  fiftyone/utils/ultralytics.py
  fiftyone/zoo/models/__init__.py
Due: pylint

use resolve_input()
  plugins/panels/model_evaluation/evaluation.py
Due: pylint

Update BDD100k license URL
  docs/source/dataset_zoo/datasets.rst
Due: none

Fix link
  docs/source/dataset_zoo/datasets.rst
Due: none

fix links
  docs/source/dataset_zoo/datasets.rst
  fiftyone/zoo/datasets/base.py
Due: pylint

BDD uses http
  docs/source/release-notes.rst
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/export_datasets.rst
  fiftyone/types/dataset_types.py
  fiftyone/utils/bdd.py
Due: pylint

chore: add new dependency for protexai image (#1209)
  deployment/docker/Dockerfile-protexai
Due: none

chore: add new dependency for protexai image (#1210)
  deployment/docker/Dockerfile-protexai
Due: none

settings work, fix tests
  app/packages/core/src/components/Actions/Options.tsx
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/core/src/components/Snackbar.tsx
  app/packages/core/src/utils/links.ts
  app/packages/looker/src/lookers/abstract.ts
  app/packages/spotlight/src/utilities.ts
  app/packages/utilities/src/size-bytes-estimate.test.ts
  app/packages/utilities/src/size-bytes-estimate.ts
Due: frontend-check

details
  app/packages/core/src/components/Grid/useRenderer.ts
  app/packages/core/src/components/Snackbar.tsx
  app/packages/spotlight/src/createScrollReader.ts
  app/packages/spotlight/src/index.ts
  app/packages/spotlight/src/row.ts
Due: frontend-check

add set_log_status for DOs
  fiftyone/factory/repos/delegated_operation.py
  fiftyone/factory/repos/delegated_operation_doc.py
Due: pylint

add log status to do service
  fiftyone/operators/delegated.py
Due: pylint

change docker cmd path
  teams-app/Dockerfile
Due: none

remove cross spawn in final build
  teams-app/Dockerfile
  teams-app/package.json
Due: none

remove vite from final build img
  teams-app/Dockerfile
Due: none

update lockfile
  teams-app/yarn.lock
Due: none

remove explicit arm64 in yarn supported arch
  teams-app/.yarnrc.yml
Due: none

add beam_map() POC
  fiftyone/utils/beam.py
Due: pylint

don't show qp toast and analytics in testing
  app/packages/app/src/components/Analytics.tsx
  app/packages/core/src/components/QueryPerformanceToast.tsx
  e2e-pw/src/oss/fixtures/loader.ts
Due: none

upgrade e2e deps
  e2e-pw/package.json
  e2e-pw/yarn.lock
Due: none

change author
  teams-app/package.json
Due: none

copy from inside standalone
  teams-app/Dockerfile
Due: none

use cached media when symlinking
  fiftyone/utils/data/exporters.py
Due: pylint

fix typos / dead code
  e2e-pw/src/oss/constants/index.ts
  e2e-pw/src/oss/specs/regression-tests/sidebar/sidebar-datetime.spec.ts
Due: none

change slack to discord
  teams-app/packages/app/package.json
  teams-app/packages/components/src/Footer/index.tsx
  teams-app/packages/components/src/Icons/Discord.icon.tsx
  teams-app/packages/components/src/Icons/Slack.icon.tsx
  teams-app/packages/components/src/ProfileMenu/index.tsx
  teams-app/packages/state/src/constants.ts
Due: none

rvt package.json
  teams-app/packages/app/package.json
Due: none

bug fixes
  app/packages/core/src/components/Actions/Options.tsx
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/core/src/components/Grid/useEvents.ts
  app/packages/core/src/components/Grid/useLookerCache.ts
  app/packages/core/src/components/Grid/useRenderer.ts
  app/packages/core/src/components/Grid/useUpdates.ts
  app/packages/looker/src/lookers/abstract.ts
  app/packages/spotlight/src/createScrollReader.ts
  app/packages/spotlight/src/index.ts
  app/packages/spotlight/src/row.ts
  app/packages/spotlight/src/section.ts
  app/packages/spotlight/src/types.ts
Due: frontend-check

upgrade teams-app dockerfile base image to node 22 (#1214)
  teams-app/Dockerfile
Due: none

[skip ci] automated bump `fiftyone` to v2.6.0.dev21, `fiftyone-app` to v2.6.0.dev21, and `teams-app` to v2.6.0-dev.21
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

update naming to be log error instead of status
  fiftyone/factory/repos/delegated_operation.py
  fiftyone/factory/repos/delegated_operation_doc.py
  fiftyone/operators/delegated.py
Due: pylint

[skip ci] automated bump `fiftyone` to v2.6.0.dev22, `fiftyone-app` to v2.6.0.dev22, and `teams-app` to v2.6.0-dev.22
  package/teams/setup.py
  setup.py
  teams-app/package.json
Due: pylint

heuristics tweaks
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/spotlight/src/index.ts
Due: frontend-check

limit frames for grid
  fiftyone/core/dataset.py
  fiftyone/core/view.py
  fiftyone/server/samples.py
Due: pylint

update log status to log upload error
  teams-app/packages/state/src/Dataset/__generated__/runsItemQuery.graphql.ts
  teams-app/packages/state/src/Dataset/__generated__/runsPageQuery.graphql.ts
  teams-app/packages/state/src/Dataset/runs.ts
Due: none

Add set_log_upload_error for DOs (#5448)
  fiftyone/factory/repos/delegated_operation.py
  fiftyone/factory/repos/delegated_operation_doc.py
  fiftyone/operators/delegated.py
Due: pylint

Improves footer's TOS, Privacy, and adds Imprint links (#1208)
  teams-app/packages/components/src/Footer/index.tsx
  teams-app/packages/state/src/constants.ts
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
