Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

fiftyone vs pandas comparison notebook
  docs/source/tutorials/index.rst
  docs/source/tutorials/pandas_comparison.ipynb
Due: ipynb-strip

rm view_stages from update
  fiftyone/server/mutation.py
Due: pylint

cleanup
  fiftyone/server/mutation.py
Due: pylint

cleanup
  fiftyone/core/state.py
  fiftyone/server/view.py
Due: pylint

cleaning up type validation logic
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/fields.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/plots/matplotlib.py
  fiftyone/core/plots/plotly.py
  fiftyone/core/view.py
  tests/unittests/dataset_tests.py
Due: pylint

fixing #2292
  fiftyone/core/collections.py
Due: pylint

cleanup
  app/packages/core/src/components/Modal/Group.tsx
  app/packages/dataset/src/Dataset.tsx
  app/packages/dataset/tsconfig.json
  app/packages/relay/src/queries/__generated__/paginateGroupPinnedSample_query.graphql.ts
  app/packages/relay/src/queries/__generated__/paginateGroupQuery.graphql.ts
  app/packages/relay/src/queries/__generated__/pinnedSampleQuery.graphql.ts
  app/packages/relay/src/queries/index.ts
  app/packages/relay/src/queries/paginateGroup.ts
  app/packages/relay/src/queries/pinnedSample.ts
  app/packages/state/src/recoil/groups.ts
Due: none

fixing ftype tuple bug
  fiftyone/core/fields.py
Due: pylint

cleanup
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
Due: pylint

rm selector
  app/packages/state/src/recoil/selector.ts
Due: none

cleanup and add comments to server functions
  app/packages/app/src/index.tsx
  app/packages/components/relay.config.json
  app/packages/core/src/Root/Root.tsx
  app/packages/relay/src/mutations/__generated__/setDatasetMutation.graphql.ts
  app/packages/relay/src/mutations/__generated__/updateSavedViewMutation.graphql.ts
  app/packages/relay/src/mutations/setDataset.ts
  app/packages/state/src/hooks/useSetDataset.ts
  app/packages/state/src/hooks/useSetView.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/utils.ts
  app/schema.graphql
  fiftyone/core/state.py
  fiftyone/server/aggregate.py
  fiftyone/server/aggregations.py
  fiftyone/server/mutation.py
  fiftyone/server/query.py
  fiftyone/server/view.py
Due: pylint

cleanup
  app/packages/state/src/utils.ts
  fiftyone/core/state.py
  fiftyone/server/aggregate.py
  fiftyone/server/routes/__init__.py
Due: pylint

fix schema path
  app/packages/components/relay.config.json
Due: none

cloud-friendly updates
  fiftyone/core/collections.py
  fiftyone/core/labels.py
  fiftyone/core/models.py
  fiftyone/core/sample.py
  fiftyone/core/storage.py
  fiftyone/core/utils.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/eval/segmentation.py
  fiftyone/utils/labels.py
Due: pylint

adding _HasMedia mixin
  fiftyone/core/collections.py
  fiftyone/core/labels.py
Due: pylint

handling None media
  fiftyone/core/labels.py
Due: pylint

adding alt_dir param
  fiftyone/core/utils.py
Due: pylint

tweaking
  fiftyone/core/utils.py
Due: pylint

add css prop no wrap to ItemAction
  app/packages/core/src/components/Actions/ItemAction.tsx
Due: none

styling
  app/packages/state/src/recoil/selectors.ts
Due: none

lidar->camera conversion and 3d corners
  fiftyone/utils/kitti.py
Due: pylint

Dataset package cleaning (#2314)
  app/packages/core/src/Dataset.ts
  app/packages/core/src/Root/Datasets/Dataset.tsx
  app/packages/core/src/Root/Root.tsx
  app/packages/core/src/Root/__generated__/RootQuery.graphql.ts
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/core/src/components/Modal/Group.tsx
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/core/src/index.ts
  app/packages/dataset/src/Dataset.tsx
  app/packages/dataset/src/index.ts
  app/packages/dataset/src/index.tsx
  app/packages/dataset/tsconfig.json
  app/packages/looker/src/state.ts
  app/packages/relay/src/queries/__generated__/configQuery.graphql.ts
  app/packages/relay/src/queries/__generated__/paginateGroupPinnedSample_query.graphql.ts
  app/packages/relay/src/queries/__generated__/paginateGroupQuery.graphql.ts
  app/packages/relay/src/queries/__generated__/pinnedSampleQuery.graphql.ts
  app/packages/relay/src/queries/config.ts
  app/packages/relay/src/queries/index.ts
  app/packages/relay/src/queries/paginateGroup.ts
  app/packages/relay/src/queries/pinnedSample.ts
  app/packages/state/src/hooks/useStateUpdate.ts
  app/packages/state/src/recoil/atoms.ts
  app/packages/state/src/recoil/color.ts
  app/packages/state/src/recoil/config.ts
  app/packages/state/src/recoil/groups.ts
  app/packages/state/src/recoil/index.ts
  app/packages/state/src/recoil/selectors.ts
  app/packages/utilities/src/color.ts
Due: none

add id to ViewDocument and return saved views in mutations
  fiftyone/core/dataset.py
  fiftyone/core/odm/views.py
  fiftyone/server/mutation.py
  fiftyone/server/query.py
Due: pylint

add saved_view resolver method to Dataset query as a field
  fiftyone/server/query.py
Due: pylint

fix relay mutation queries
  app/packages/core/src/__generated__/DatasetQuery.graphql.ts
  app/packages/relay/src/mutations/__generated__/saveViewMutation.graphql.ts
  app/packages/relay/src/mutations/__generated__/updateSavedViewMutation.graphql.ts
  app/packages/relay/src/mutations/saveView.ts
  app/packages/relay/src/mutations/updateSavedView.ts
  app/schema.graphql
  fiftyone/server/mutation.py
  fiftyone/server/query.py
Due: pylint

make id optional for now
  app/packages/core/src/__generated__/DatasetQuery.graphql.ts
  app/packages/relay/src/mutations/__generated__/saveViewMutation.graphql.ts
  app/packages/relay/src/mutations/__generated__/updateSavedViewMutation.graphql.ts
  app/schema.graphql
  fiftyone/server/query.py
Due: pylint

downloading segmentation media where necessary
  fiftyone/core/models.py
  fiftyone/utils/annotations.py
  fiftyone/utils/cvat.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/eval/segmentation.py
  fiftyone/utils/labelbox.py
  fiftyone/utils/labels.py
  fiftyone/utils/labelstudio.py
  fiftyone/utils/scale.py
Due: pylint

optimizing
  fiftyone/utils/labelbox.py
Due: pylint

trying per-region clients instead
  fiftyone/core/config.py
  fiftyone/core/storage.py
Due: pylint

removing unused prefix defs
  fiftyone/core/storage.py
Due: pylint

compute birds eye view from pcd file
  fiftyone/utils/utils_3d.py
Due: pylint

Add a filter that removes the mediaField item that does not exists in the selected fields (#2303)
  app/packages/core/src/components/Actions/Options.tsx
  app/packages/state/src/recoil/selectors.ts
Due: none

add css prop no wrap to ItemAction (#2309)
  app/packages/core/src/components/Actions/ItemAction.tsx
Due: none

create view loosly done - next is edit/delete
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/relay/src/mutations/index.ts
  fiftyone/core/dataset.py
  fiftyone/server/view.py
Due: pylint

edit click opens edit view modal with the correct edit info.
  app/packages/components/src/components/Selection/Option.tsx
  app/packages/components/src/components/Selection/Selection.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
Due: none

load view if in query param
  app/packages/components/src/components/Selection/Selection.tsx
  app/packages/core/src/components/Sidebar/Sidebar.tsx
Due: none

not best state
  app/packages/components/src/components/Selection/Option.tsx
  app/packages/components/src/components/Selection/Selection.tsx
  app/packages/relay/src/mutations/setViewByName.ts
  app/packages/state/src/hooks/useSetViewByName.ts
  fiftyone/server/mutation.py
Due: pylint

change view on view selection click
  app/packages/components/src/components/Selection/Selection.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/relay/src/mutations/__generated__/setViewMutation.graphql.ts
  app/packages/relay/src/mutations/setView.ts
  app/packages/relay/src/mutations/setViewByName.ts
  app/packages/state/src/hooks/useSetView.ts
  app/packages/state/src/hooks/useStateUpdate.ts
  app/packages/state/src/recoil/types.ts
  fiftyone/server/events.py
Due: pylint

cleanup
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
Due: none

saved views connected to api for querying
  app/packages/app/package.json
  app/packages/components/src/components/Selection/Option.tsx
  app/packages/components/src/components/Selection/SearchBox.tsx
  app/packages/components/src/components/Selection/Selection.tsx
  app/packages/components/src/components/Selection/index.ts
  app/packages/components/src/components/index.ts
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/ViewDialog.tsx
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  app/packages/core/src/components/Sidebar/index.tsx
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useHover.ts
  app/packages/state/src/hooks/useSavedViews.ts
  app/packages/state/src/recoil/selectors.ts
  app/yarn.lock
  docs/theme/scss/shared/_base_styles.scss
  fiftyone/server/query.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
