Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

pin numpy<2
  setup.py
Due: pylint

chore(actions): Constrain numpy
  .github/workflows/test.yml
  .github/workflows/windows-test.yml
  requirements/github.txt
Due: none

chore(actions): Constrain numpy (#6782)
  .github/workflows/test.yml
  .github/workflows/windows-test.yml
  requirements/github.txt
Due: none

extract rotation + axes utils to transforms module
  fiftyone/core/camera.py
  fiftyone/utils/__init__.py
  fiftyone/utils/transforms.py
  tests/unittests/transforms_tests.py
Due: pylint

Add unit tests for Qwen3-VL output processor
  tests/unittests/utils/test_qwen3_vl.py
Due: pylint

prettier
  app/packages/commands/src/context/CommandContextManager.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useExit.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useFocus.ts
  app/packages/lighter/src/core/Scene2D.ts
Due: none

update more docs
  docs/source/user_guide/using_datasets.rst
  fiftyone/core/camera.py
  fiftyone/utils/transforms.py
Due: pylint

override read-only with permissions
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Edit.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Header.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useExit.ts
  app/packages/state/src/recoil/permission.ts
  app/packages/state/src/session.ts
Due: none

enable manipulation via scene when read-only overridden
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Edit.tsx
  app/packages/looker-3d/src/labels/index.tsx
Due: none

disable SaveFooter when read-only
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Footer.tsx
Due: none

support all types
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddAttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ComponentTypeButton.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/RangeInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ValuesList.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
  app/packages/spotlight/src/events.ts
Due: frontend-check

Revert file that had a debug statement in it.
  app/packages/core/src/components/Modal/Sidebar/Annotate/useFocus.ts
Due: none

all-caps display
  app/packages/core/src/components/Modal/Sidebar/Annotate/GroupEntry.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/useEntries.ts
Due: none

did not mean to commit that
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLoadSchemas.ts
Due: none

better names, better Header
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Edit.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Header.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useExit.ts
  app/packages/looker-3d/src/labels/index.tsx
Due: none

missed one
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/state.ts
Due: none

lazy load log
  fiftyone/operators/executor.py
Due: pylint

add rerunnable as part of delegation
  fiftyone/operators/executor.py
  tests/unittests/operators/executor_tests.py
Due: pylint

fix image scaling on zoom
  app/packages/lighter/src/overlay/ImageOverlay.ts
Due: none

Fix/overlay creation (#6767)
  app/packages/core/src/components/Modal/Sidebar/Annotate/GroupEntry.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useEntries.ts
Due: none

update SampleField endpoint to handle patches
  fiftyone/server/routes/sample.py
  fiftyone/server/utils/datasets.py
  fiftyone/server/utils/json/jsonpatch/__init__.py
  tests/unittests/server/routes/test_sample.py
  tests/unittests/server/utils/jsonpatch/test_jsonpatch.py
Due: pylint

fix types
  fiftyone/server/routes/sample.py
Due: pylint

refactor tests to make them clearer
  tests/unittests/server/routes/test_sample.py
Due: pylint

useAttributeForm hook and improve other components icons and style
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddAttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ComponentTypeButton.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
Due: none

seperate delete and cancel in the card action
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddClassCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/CardActions.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ClassesSection.tsx
Due: none

seperate delete and cancel in the card action
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddClassCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ClassesSection.tsx
Due: none

disable auto-save unless in annotation mode
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/state/src/accessors/modal.ts
  app/packages/state/src/jotai/modal.ts
Due: none

improve interface for calculating label deltas
  app/packages/annotation/src/deltas.ts
  app/packages/annotation/src/hooks/useLabelPersistence.ts
  app/packages/annotation/src/persistence/useGetLabelDelta.ts
  app/packages/annotation/src/persistence/useLighterDeltaSupplier.ts
  app/packages/annotation/src/util/labelPersistence.ts
Due: none

integrate auto-save with 3d labels
  app/packages/annotation/src/hooks/useRegisterAnnotationEventHandlers.ts
  app/packages/annotation/src/persistence/use3dDeltaSupplier.ts
  app/packages/looker-3d/src/state.ts
Due: none

fix multi operation with remove and add missing test file
  fiftyone/server/utils/json/jsonpatch/methods.py
  tests/unittests/server/utils/jsonpatch/test_jsonpatch.py
  tests/unittests/server/utils/test_datasets.py
Due: pylint

fix test and syntax
  fiftyone/server/utils/json/jsonpatch/methods.py
  tests/unittests/server/utils/jsonpatch/test_jsonpatch.py
  tests/unittests/server/utils/jsonpatch/test_jsonpatch_methods.py
Due: pylint

split asserts
  tests/unittests/server/utils/jsonpatch/test_jsonpatch.py
Due: pylint

update backend operator to first add field attribute if attribute doesn't exist
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/useLabelSchema.ts
  plugins/operators/annotation.py
Due: pylint

implement add/edit attribute card and refactor with class card, support all types of input and component configs and and useAttributeForm hook
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddAttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddClassCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/CardActions.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ClassesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ComponentTypeButton.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/RangeInput.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/ValuesList.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
  app/packages/spotlight/src/events.ts
Due: frontend-check

cleanup asyncs after making execute synchronous
  app/packages/commands/src/context/CommandContext.ts
  app/packages/commands/src/context/context.manager.test.ts
  app/packages/commands/src/context/context.test.ts
  app/packages/commands/src/registry/CommandRegistry.ts
  app/packages/commands/src/registry/registry.test.ts
Due: none

schema manager poms
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/EditFieldLabelSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/Errors.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Footer.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/HiddenFieldsSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Modal.tsx
  e2e-pw/playwright.config.ts
  e2e-pw/src/oss/poms/schema-manager/field-row.ts
  e2e-pw/src/oss/poms/schema-manager/index.ts
  e2e-pw/src/oss/poms/schema-manager/json-editor.ts
  e2e-pw/src/oss/poms/toast.ts
Due: none

add support for read only attributes through schema manager
  app/packages/components/src/components/SmartForm/RJSF/translators/ui.ts
  app/packages/components/src/components/SmartForm/RJSF/widgets/LabelValueWidget.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/index.tsx
  app/packages/components/src/components/SmartForm/types.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/schemaHelpers.ts
Due: none

Add rerunnable as part of delegation (#6777)
  fiftyone/operators/executor.py
  tests/unittests/operators/executor_tests.py
Due: pylint

fix image scaling on zoom (#6786)
  app/packages/lighter/src/overlay/ImageOverlay.ts
Due: none

bugfix: inlcude the dict and list of str/int/float type in primitives
  app/packages/annotation/src/deltas.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/usePrimitiveEntries.ts
Due: none
