Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

keypoint annotation: remove blessed occlusion (product decision 2026-09-16)
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/KeypointDetails.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/annotationStatusContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useKeypointMode.ts
  app/packages/lighter/src/constants.ts
  app/packages/lighter/src/interaction/GuidedKeypointHandler.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
Due: none

keypoint annotation: caption point-level vs label-level attribute scopes
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Edit.tsx
Due: none

add portable multimodal layout capture and restore
  app/packages/multimodal/src/extensions/episode-actions/index.ts
  app/packages/multimodal/src/extensions/episode-actions/types.ts
  app/packages/multimodal/src/views/episode/layout/PortableLayoutHost.tsx
  app/packages/multimodal/src/views/episode/layout/layout-persistence.ts
  app/packages/multimodal/src/views/episode/layout/portable-layout.test.ts
  app/packages/multimodal/src/views/episode/layout/portable-layout.ts
  app/packages/multimodal/src/views/episode/layout/use-modal-layout.test.tsx
  app/packages/multimodal/src/views/episode/layout/use-modal-layout.tsx
  app/packages/multimodal/src/views/episode/settings/sidebar-preferences.ts
  app/packages/multimodal/src/views/episode/shell/SourcePlayback.tsx
Due: none

size the scope sentence at 14px and give the tab caret room
  app/packages/core/src/components/Grid/Selection/SelectionSummary.tsx
  app/packages/core/src/components/Grid/Selection/SelectionTray.module.css
Due: none

show saved layouts as an enterprise upsell in oss
  app/packages/multimodal/src/extensions/episode-actions/types.ts
  app/packages/multimodal/src/views/episode/shell/EpisodeLayoutMenuActions.test.tsx
  app/packages/multimodal/src/views/episode/shell/EpisodeLayoutMenuActions.tsx
  app/packages/multimodal/src/views/episode/shell/SourcePlayback.tsx
Due: none

keypoint annotation: per-point commits, retiring atomic creation drafts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/keypointDraftState.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useExit.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useKeypointMode.ts
  app/packages/lighter/src/interaction/GuidedKeypointHandler.ts
Due: none

browse subsets with search and paging, show descriptions, and drop the segment-source control
  app/packages/core/src/components/Grid/Selection/ActionSurface.tsx
  app/packages/core/src/components/Grid/Selection/ScopeControls.tsx
  app/packages/core/src/components/Grid/Selection/ScopeTab.test.tsx
  app/packages/core/src/components/Grid/Selection/ScopeTab.tsx
  app/packages/core/src/components/Grid/Selection/SelectionTray.module.css
  app/packages/core/src/components/Grid/Selection/SelectionTray.test.tsx
  app/packages/core/src/components/Grid/Selection/SelectionTray.tsx
  app/packages/core/src/components/Grid/Selection/SubsetAction.test.tsx
  app/packages/core/src/components/Grid/Selection/SubsetAction.tsx
  app/packages/core/src/components/Grid/Selection/SubsetBrowser.tsx
  app/packages/core/src/components/Grid/Selection/TagAction.test.tsx
  app/packages/core/src/components/Grid/Selection/useSubsetScope.ts
  app/packages/state/src/selection/client.ts
  fiftyone/core/subsets.py
  fiftyone/server/routes/selection.py
  tests/unittests/subsets_tests.py
Due: pylint

keypoint annotation: field swap erases geometry, undoably
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Field.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useKeypointMode.ts
Due: none

keep reaching for the server while the App shows "not connected"
  app/packages/app/src/useEventSource.ts
Due: frontend-check

keypoint annotation: cursor tag names the target node while placing
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useKeypointMode.ts
  app/packages/lighter/src/interaction/GuidedKeypointHandler.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
Due: none

Embed a Qwen3-VL clip that is already a device tensor
  fiftyone/utils/qwen3_vl.py
  tests/unittests/utils/test_qwen3_vl.py
Due: pylint

give the App shell a product seam, so a product's nav survives a rewrite
  app/.yarnrc.yml
  app/packages/app/package.json
  app/packages/app/src/components/DatasetSelector.test.tsx
  app/packages/app/src/components/DatasetSelector.tsx
  app/packages/app/src/components/Header/Header.module.css
  app/packages/app/src/components/Header/Header.tsx
  app/packages/app/src/components/Header/index.ts
  app/packages/app/src/components/Nav.tsx
  app/packages/app/src/components/Setup.module.css
  app/packages/app/src/components/Setup.tsx
  app/packages/app/src/images/logo.png
  app/packages/app/src/pages/datasets/DatasetPage.tsx
  app/packages/app/src/product.test.tsx
  app/packages/app/src/product.tsx
  app/packages/components/src/components/index.ts
  app/packages/tiling/package.json
  app/packages/video-annotation/package.json
  app/yarn.lock
Due: frontend-check

move the App shell's remaining chrome onto the design system
  app/packages/app/src/Pixelating.tsx
  app/packages/app/src/Renderer.tsx
  app/packages/app/src/Sync.tsx
  app/packages/app/src/components/ErrorBoundary/ErrorBoundary.module.css
  app/packages/app/src/components/ErrorBoundary/ErrorDisplay.tsx
  app/packages/app/src/components/ErrorBoundary/index.tsx
  app/packages/app/src/components/Setup.module.css
  app/packages/app/src/components/Setup.tsx
  app/packages/app/src/index.tsx
  app/packages/components/src/components/index.ts
  app/packages/core/src/components/CodeBlock/CodeBlock.module.css
  app/packages/core/src/components/CodeBlock/index.tsx
  app/packages/core/src/components/LoadingScreen/LoadingScreen.module.css
  app/packages/core/src/components/LoadingScreen/index.tsx
  app/packages/core/src/components/Pending/index.module.css
  app/packages/core/src/components/Pending/index.tsx
  app/packages/core/src/components/Snackbar.module.css
  app/packages/core/src/components/Snackbar.tsx
  app/packages/core/src/components/Starter/Starter.module.css
  app/packages/core/src/components/Starter/index.tsx
  app/packages/core/src/components/index.ts
  app/packages/state/src/accessors/index.ts
  app/packages/state/src/accessors/theme.ts
  app/packages/utilities/src/describeAppError.test.ts
  app/packages/utilities/src/describeAppError.ts
  app/packages/utilities/src/index.ts
Due: frontend-check

give the view bar's stages the window's width in the SDK App
  app/packages/app/src/components/Header/Header.module.css
  app/packages/app/src/components/Header/Header.tsx
  app/packages/app/src/components/Nav.module.css
  app/packages/app/src/components/Nav.tsx
  app/packages/view-bar/package.json
  app/packages/view-bar/src/ViewBar.module.css
  app/packages/view-bar/src/ViewBar.tsx
  app/yarn.lock
Due: frontend-check

annotation: keep a server-applied patch successful when only the local refresh fails
  app/packages/annotation/src/persistence/usePersistAnnotationDeltas.test.tsx
  app/packages/annotation/src/util/labelPersistence.ts
Due: none

trim tests
  fiftyone/utils/qwen3_vl.py
  tests/unittests/utils/test_qwen3_vl.py
Due: pylint

keypoint annotation: keep the edit session through a field swap; unblock label delete
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Field.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Header.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/useDelete.ts
Due: none

keypoint annotation: color points by per-point attribute values
  app/packages/lighter/src/core/Scene2D.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
  app/packages/lighter/src/utils/colorMapping.ts
  app/packages/looker/src/overlays/keypoint.ts
  app/packages/looker/src/overlays/util.test.ts
  app/packages/looker/src/overlays/util.ts
Due: none

open the saved layouts tooltip to the left
  app/packages/multimodal/src/views/episode/shell/EpisodeLayoutMenuActions.tsx
Due: none

keypoint annotation: point-scoped attributes in label schemas
  fiftyone/core/annotation/constants.py
  fiftyone/core/annotation/generate_label_schemas.py
  fiftyone/core/annotation/validate_label_schemas.py
  tests/unittests/annotation/generate_label_schemas_tests.py
  tests/unittests/annotation/validate_label_schemas_tests.py
Due: pylint

keypoint annotation: stop json-patch deltas from nulling NaN holes
  app/packages/core/src/client/annotationClient.ts
  app/packages/core/src/client/transformer.test.ts
  app/packages/core/src/client/transformer.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/KeypointDetails.tsx
Due: none

keypoint annotation: per-point attribute scope in the schema manager
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AddAttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeCard.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributeFormContent.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/AttributesSection.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditFieldLabelSchema/GUIContent/useAttributeForm.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/constants.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/utils.ts
Due: none

keypoint annotation: schema-driven per-point attributes in the edit form
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/KeypointDetails.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/keypointPointAttributes.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/keypointPointAttributes.ts
Due: none

validate inert fields without a resolve
  app/packages/operators/src/state.ts
Due: none

keypoint annotation: null-safe value-color matching for per-point lists
  app/packages/looker/src/overlays/util.test.ts
  app/packages/looker/src/overlays/util.ts
Due: none

preserve camera conventions for standalone layout restores
  app/packages/multimodal/src/views/episode/layout/PortableLayoutHost.tsx
  app/packages/multimodal/src/views/episode/layout/layout-persistence.test.ts
  app/packages/multimodal/src/views/episode/layout/layout-persistence.ts
  app/packages/multimodal/src/views/episode/layout/portable-layout.test.ts
  app/packages/multimodal/src/views/episode/layout/portable-layout.ts
  app/packages/multimodal/src/views/episode/layout/use-modal-layout.test.tsx
  app/packages/multimodal/src/views/episode/layout/use-modal-layout.tsx
Due: none

keypoint annotation: thinner point outlines; selection grows the outline outward
  app/packages/lighter/src/constants.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
  app/packages/lighter/src/overlay/MaskKeypoints.ts
Due: none

address comments
  fiftyone/utils/qwen3_vl.py
  tests/unittests/utils/test_qwen3_vl.py
Due: pylint

keypoint annotation: hover emphasis grows the outline, not the point
  app/packages/lighter/src/overlay/KeypointOverlay.ts
Due: none

keep layout extension wording product neutral
  app/packages/multimodal/src/extensions/episode-actions/types.ts
  app/packages/multimodal/src/views/episode/layout/PortableLayoutHost.tsx
  app/packages/multimodal/src/views/episode/layout/portable-layout.ts
  app/packages/multimodal/src/views/episode/shell/EpisodeLayoutMenuActions.test.tsx
  app/packages/multimodal/src/views/episode/shell/EpisodeLayoutMenuActions.tsx
Due: none

keypoint annotation: soft contrast halo outside point outlines
  app/packages/lighter/src/constants.ts
  app/packages/lighter/src/overlay/KeypointOverlay.ts
  app/packages/lighter/src/overlay/MaskKeypoints.ts
Due: none

make color/non-color rank before expensive depth or IR streams
  app/packages/multimodal/src/adapters/lerobot/format-adapter.test.ts
  app/packages/multimodal/src/adapters/lerobot/format-adapter.ts
Due: none

Own the texture minted for image-data draws
  app/packages/lighter/src/renderer/PixiRenderer2D.ts
Due: none

Project per-frame singleton label fields
  app/packages/utilities/src/sample/index.ts
  app/packages/utilities/src/sample/labels.test.ts
  app/packages/utilities/src/sample/labels.ts
  app/packages/video-annotation/src/state/exploreFrameLabelFields.test.ts
  app/packages/video-annotation/src/streams/framesData.test.ts
  app/packages/video-annotation/src/streams/framesData.ts
Due: none

Fix wrong parameter name 'thresh' to 'threshold'
  docs/source/brain/index.rst
Due: none

Update dependency @xmldom/xmldom to v0.8.15 [SECURITY]
  app/yarn.lock
Due: none

Consolidate RawSingleton on _id
  app/packages/video-annotation/src/streams/framesData.ts
Due: none

annotate sidebar: the field a dynamic group is grouped by is read-only
  app/packages/core/src/components/Modal/Sidebar/Annotate/useFramePrimitive.test.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useFramePrimitive.ts
  app/packages/state/src/accessors/dataset.ts
Due: none

per-frame primitive edits land on the member under the playhead
  app/packages/annotation/src/engine/core/engine.ts
  app/packages/annotation/src/engine/store/frameStore.test.ts
  app/packages/annotation/src/engine/store/frameStore.ts
  app/packages/annotation/src/engine/store/types.ts
  app/packages/annotation/src/engine/store/videoLabelStore.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/PrimitiveEdit.tsx
Due: none

dynamic group patch: a rejection never leaves members partly written
  app/packages/core/src/client/annotationClient.ts
  app/packages/video-annotation/src/hooks/useDynamicGroupPersistence.ts
  app/packages/video-annotation/src/utils/memberPatches.test.ts
  app/packages/video-annotation/src/utils/memberPatches.ts
  fiftyone/server/routes/dynamic_group.py
  tests/unittests/server/routes/test_dynamic_group_token.py
Due: pylint
