Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

update pre-commit
  requirements/dev.txt
Due: none

removing tracking
  fiftyone/core/dataset.py
  fiftyone/core/fields.py
  fiftyone/core/odm/dataset.py
  fiftyone/core/odm/embedded_document.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/odm/utils.py
  tests/unittests/embedded_document_tests.py
Due: pylint

typo fix
  docs/source/recipes/creating_views.ipynb
Due: ipynb-strip

adding support for emitting views from DynamicBatcher
  fiftyone/core/dataset.py
  fiftyone/core/utils.py
Due: pylint

refactoring IoU computation to iou utils module
  fiftyone/utils/eval/__init__.py
  fiftyone/utils/eval/activitynet.py
  fiftyone/utils/eval/coco.py
  fiftyone/utils/eval/detection.py
  fiftyone/utils/eval/openimages.py
  fiftyone/utils/iou.py
Due: pylint

upgrading compute_max_ious() utility
  fiftyone/utils/eval/detection.py
  fiftyone/utils/iou.py
Due: pylint

adding find_duplicates() utility
  fiftyone/utils/iou.py
Due: pylint

bug fixes
  fiftyone/utils/iou.py
Due: pylint

handling edge cases
  fiftyone/utils/iou.py
Due: pylint

update style and enable par only for multiple batch sizes
  fiftyone/utils/cvat.py
Due: pylint

fix typo
  fiftyone/utils/cvat.py
Due: pylint

adding v0.15.1 release notes
  docs/source/release-notes.rst
Due: none

adding brain notes
  docs/source/release-notes.rst
Due: none

bump eta
  setup.py
Due: pylint

nump desktop
  package/desktop/setup.py
  setup.py
Due: pylint

bump desktop
  package/desktop/setup.py
  setup.py
Due: pylint

keypoint coloring changes
  app/packages/app/src/components/Actions/Options.tsx
  app/packages/app/src/components/FieldsSidebar.tsx
  app/packages/app/src/components/Filters/LabelFieldFilters.state.tsx
  app/packages/app/src/recoil/selectors.ts
  app/packages/looker/src/overlays/base.ts
  app/packages/looker/src/overlays/keypoint.ts
  app/packages/looker/src/state.ts
  docs/source/user_guide/config.rst
  fiftyone/core/config.py
Due: pylint

color keypoint points
  app/packages/app/src/components/Actions/Options.tsx
  app/packages/app/src/recoil/selectors.ts
  docs/source/user_guide/config.rst
  fiftyone/core/config.py
Due: pylint

delete non-persistent datasets separately in __init__
  fiftyone/__init__.py
  fiftyone/__public__.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/database.py
Due: pylint

linting
  fiftyone/core/config.py
Due: pylint

multicolor keypoints
  app/packages/app/src/components/Actions/Options.tsx
  app/packages/app/src/components/Filters/LabelFieldFilters.state.tsx
  app/packages/app/src/recoil/selectors.ts
  docs/source/user_guide/config.rst
  fiftyone/core/config.py
Due: pylint

including categorical choices in docs
  docs/source/user_guide/config.rst
Due: none

tweak
  docs/source/user_guide/config.rst
Due: none

updates
  fiftyone/constants.py
  fiftyone/core/config.py
Due: pylint

reverting version change
  setup.py
Due: pylint

incrementing version
  setup.py
Due: pylint

fix style
  fiftyone/utils/cvat.py
Due: pylint

FIW cloud-friendly
  fiftyone/utils/fiw.py
Due: pylint

making DatabaseConfigDocument dynamic
  fiftyone/core/odm/database.py
Due: pylint

tweaks
  fiftyone/core/odm/database.py
Due: pylint

fixing tests
  fiftyone/core/aggregations.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/fields.py
  fiftyone/core/odm/mixins.py
Due: pylint

database admin for tests
  .github/workflows/build.yml
Due: none

symmetric optimizations
  fiftyone/utils/iou.py
Due: pylint

adding Python 3.6 support to pre-commit hooks
  .pre-commit-config.yaml
  requirements/dev.txt
Due: none

adding initial migration
  fiftyone/migrations/revisions/v0_16_0.py
  setup.py
Due: pylint

updating metadata field type
  fiftyone/core/dataset.py
Due: pylint

more migration work
  fiftyone/migrations/revisions/v0_16_0.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
