Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

Update docs to reflect terminate will actually terminate a job (#6674)
  docs/source/enterprise/plugins.rst
  docs/source/images/plugins/operators/runs/runs_mark_as_failed.png
  docs/source/images/plugins/operators/runs/runs_terminate.png
Due: none

trash some files
  ANNOTATION_MODE_IMPLEMENTATION.md
  mongodb_exploration_guide.md
Due: none

catch and report any errors
  app/packages/core/src/components/Modal/Sidebar/Annotate/Confirmation/useConfirmExit.tsx
Due: none

enum for switch
  app/packages/components/src/components/SmartForm/RJSF/translators/schema.ts
  app/packages/components/src/components/SmartForm/types.ts
Due: none

another enum for another switch
  app/packages/components/src/components/SmartForm/RJSF/translators/ui.ts
  app/packages/components/src/components/SmartForm/types.ts
Due: none

make useconfirmexit referentially stable
  app/packages/core/src/components/Modal/Sidebar/Annotate/Confirmation/useConfirmExit.tsx
Due: none

cache pip requirements installation in e2e workflow to speed up CI runs
  .github/workflows/e2e.yml
Due: none

fix contains and update tests
  fiftyone/core/expressions.py
  tests/unittests/view_tests.py
Due: pylint

use assertEqual
  tests/unittests/view_tests.py
Due: pylint

Fix OperationFailure with .contains() expressions (#6679)
  fiftyone/core/expressions.py
  tests/unittests/view_tests.py
Due: pylint

Update enterprise why llink
  docs/source/enterprise/overview.rst
Due: none

typo
  app/packages/lighter/src/core/Scene2D.ts
Due: none

comments
  app/packages/lighter/src/constants.ts
Due: none

cleanup
  app/packages/lighter/src/overlay/ClassificationOverlay.ts
  app/packages/lighter/src/renderer/PixiRenderer2D.ts
Due: none

support Concat stages in make_optimized_select_view
  fiftyone/core/stages.py
  tests/unittests/view_tests.py
Due: pylint

CodeRabbit recommendations
  app/packages/components/src/components/SmartForm/RJSF/translators/schema.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/ui.ts
Due: none

merging
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/ErrorBox.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/LabelSchemaEditor.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/state.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/useLoadSchemas.ts
  fiftyone/core/annotation/__init__.py
  fiftyone/core/annotation/constants.py
  fiftyone/core/annotation/generate_label_schemas.py
  fiftyone/core/annotation/utils.py
  fiftyone/core/annotation/validate_label_schemas.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  plugins/operators/__init__.py
  plugins/operators/annotation.py
  plugins/operators/fiftyone.yml
Due: pylint

SmartForm'd Annotation Sidebar (#6608)
  app/package.json
  app/packages/components/src/components/SmartForm/README.md
  app/packages/components/src/components/SmartForm/RJSF/index.tsx
  app/packages/components/src/components/SmartForm/RJSF/templates/FieldTemplate.tsx
  app/packages/components/src/components/SmartForm/RJSF/templates/ObjectFieldTemplate.tsx
  app/packages/components/src/components/SmartForm/RJSF/templates/index.tsx
  app/packages/components/src/components/SmartForm/RJSF/translators/index.test.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/index.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/schema.test.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/schema.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/ui.test.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/ui.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/utils.test.ts
  app/packages/components/src/components/SmartForm/RJSF/translators/utils.ts
  app/packages/components/src/components/SmartForm/RJSF/widgets/AutoComplete.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/Dropdown.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/TextWidget.tsx
  app/packages/components/src/components/SmartForm/RJSF/widgets/index.tsx
  app/packages/components/src/components/SmartForm/USAGE_EXAMPLES.md
  app/packages/components/src/components/SmartForm/index.tsx
  app/packages/components/src/components/SmartForm/types.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/AnnotationSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Edit/Position.tsx
  app/packages/core/src/plugins/SchemaIO/SchemaIOComponent.tsx
  app/packages/core/src/plugins/SchemaIO/USAGE_EXAMPLES.md
  app/packages/core/src/plugins/SchemaIO/__tests__/SchemaIOComponent.integration.test.tsx
  app/packages/core/src/plugins/SchemaIO/components/AutocompleteView.tsx
  app/packages/core/src/plugins/SchemaIO/index.tsx
  app/yarn.lock
  fiftyone/core/annotation.py
  tests/unittests/annotation_schema_tests.py
Due: pylint

Include new functions in the tutorial like pointing and ocr
  docs/source/tutorials/gemini_vision.ipynb
Due: none

Introduce an action concept to commands for undo
  app/packages/commands/src/actions/Action.ts
  app/packages/commands/src/actions/ActionManager.ts
  app/packages/commands/src/actions/Undoable.ts
  app/packages/commands/src/actions/index.ts
  app/packages/commands/src/hooks/index.ts
  app/packages/commands/src/hooks/useCommand.ts
  app/packages/commands/src/hooks/useNewCommand.ts
  app/packages/commands/src/index.ts
  app/packages/commands/src/registry/registry.ts
  app/packages/commands/src/types/command.test.ts
  app/packages/commands/src/types/command.ts
  app/packages/commands/src/types/index.ts
  app/packages/lighter/package.json
  app/packages/lighter/src/commands/AddOverlayCommand.ts
  app/packages/lighter/src/commands/Command.ts
  app/packages/lighter/src/commands/MoveOverlayCommand.ts
  app/packages/lighter/src/commands/RemoveOverlayCommand.ts
  app/packages/lighter/src/commands/TransformOverlayCommand.ts
  app/packages/lighter/src/commands/UndoRedoManager.ts
  app/packages/lighter/src/commands/UpdateLabelCommand.ts
  app/packages/lighter/src/core/Scene2D.ts
  app/packages/lighter/src/index.ts
  app/packages/lighter/src/interaction/InteractionManager.ts
  app/packages/spotlight/src/events.ts
Due: frontend-check

Rabbit suggestion plus improvement in user experience
  docs/source/tutorials/gemini_vision.ipynb
Due: none

Improve titles in the tutorial
  docs/source/tutorials/gemini_vision.ipynb
Due: none

Fix FIW dataset to require manual download from official source
  fiftyone/utils/fiw.py
  fiftyone/zoo/datasets/base.py
Due: pylint

Address CodeRabbit review feedback
  fiftyone/utils/fiw.py
  fiftyone/zoo/datasets/base.py
Due: pylint

Added pipeline for create multiples images
  docs/source/tutorials/gemini_vision.ipynb
Due: none

Add ilustration of pipeline
  docs/source/tutorials/gemini_vision.ipynb
Due: none

chore(versions): Bump to 1.11.1 (#6670)
  setup.py
Due: pylint

Applied try catch and limit in the loop
  docs/source/tutorials/gemini_vision.ipynb
Due: none

Removed the full note for enterprise
  docs/source/enterprise/api_connection.rst
Due: none

Add focus state for keyboard accessibility
  docs/source/_static/css/custom.css
  docs/source/assets/styles/components/_ai-chat-buttons.sass
Due: none

Build the markdown from sphinix directly to include api
  docs/extensions/llms_txt.py
  docs/generate_docs.bash
  docs/source/conf.py
  requirements/docs.txt
Due: pylint

Simplify the markdown creationg using the same path
  docs/extensions/llms_txt.py
  docs/source/_static/js/custom.js
Due: pylint

First stable version of markdown to make more accesible for agents
  docs/extensions/llms_txt.py
  docs/source/_static/css/custom.css
  docs/source/_static/js/custom.js
  docs/source/_templates/layout.html
  docs/source/assets/styles/components/_ai-chat-buttons.sass
  docs/source/assets/styles/components/_index.sass
  requirements/docs.txt
Due: pylint

chore(codeowners): add Sashank as owner on the e2e.yml workflow.
  .github/CODEOWNERS
Due: none

added undo-redo support. Removed undo redo from lighter in to a global hook. Removed usage of the lighter undo-reo in favor of the new one.
  app/packages/commands/src/actions/Action.ts
  app/packages/commands/src/actions/ActionManager.ts
  app/packages/commands/src/actions/Undoable.ts
  app/packages/commands/src/hooks/index.ts
  app/packages/commands/src/hooks/useUndoRedo.ts
  app/packages/commands/src/index.ts
  app/packages/commands/src/types/command.ts
  app/packages/core/src/components/Modal/Sidebar/Annotate/Actions.tsx
  app/packages/lighter/README.md
  app/packages/lighter/package.json
  app/packages/lighter/src/core/Scene2D.ts
  app/packages/lighter/src/react/useLighter.ts
  app/yarn.lock
Due: none

chore(e2e): tempoarily reduce mongodb matrix versions to latest for testing a standard runner (with less disk space) to see if we encounter out of disk error.
  .github/workflows/e2e.yml
Due: none

chore: add free space commands and action to cleanup space
  .github/workflows/e2e.yml
Due: none

optimize label tagging for non-list fields
  fiftyone/core/collections.py
Due: pylint
