Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

persist python panel on app reload
  app/packages/plugins/src/index.ts
  app/packages/spaces/src/components/Panel.tsx
  app/packages/spaces/src/components/PanelTab.tsx
  app/packages/spaces/src/constants.ts
  app/packages/spaces/src/hooks.ts
Due: none

add GridView with layout customization
  app/packages/core/src/plugins/OperatorIO/index.tsx
  app/packages/core/src/plugins/SchemaIO/components/GridView.tsx
  app/packages/core/src/plugins/SchemaIO/components/index.ts
  app/packages/core/src/plugins/SchemaIO/utils/index.ts
  app/packages/core/src/plugins/SchemaIO/utils/layout.ts
  app/packages/operators/src/CustomPanel.tsx
  app/packages/operators/src/OperatorIO.tsx
  fiftyone/operators/types.py
Due: pylint

fix python panel layout and add loading state
  app/packages/components/src/components/CenteredStack/index.tsx
  app/packages/components/src/components/index.ts
  app/packages/operators/src/CustomPanel.tsx
  app/packages/operators/src/constants.ts
  app/packages/spaces/src/components/PanelSkeleton.tsx
  app/packages/spaces/src/index.ts
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useTimeout.ts
Due: none

operator callback and handle panel onload error
  app/packages/operators/src/CustomPanel.tsx
  app/packages/operators/src/OperatorInvocationRequestExecutor.tsx
  app/packages/operators/src/operators.ts
  app/packages/operators/src/state.ts
  app/packages/operators/src/types-internal.ts
Due: none

rm print
  fiftyone/core/storage.py
Due: pylint

minor tweaks
  docs/source/tutorials/anomaly_detection.ipynb
Due: ipynb-strip

Add workspace field to GraphQL Dataset (#4318)
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/relay/src/queries/dataset.ts
  app/schema.graphql
  fiftyone/server/query.py
  fiftyone/server/workspace.py
  tests/unittests/lightning_tests.py
  tests/unittests/server_aggregations_tests.py
  tests/unittests/server_workspace_tests.py
  tests/unittests/utils/graphql.py
Due: pylint

add test
  app/__mocks__/recoil.ts
  app/packages/state/src/recoil/filters.test.ts
Due: none

remove addition of use_cached_path for asset paths, lets make that decision in a PR
  fiftyone/utils/utils3d.py
Due: pylint

fix mock setter
  app/__mocks__/recoil.ts
  app/packages/state/src/recoil/filters.test.ts
  app/packages/state/src/recoil/filters.ts
Due: none

rm lightningUnlocked usage when setting filter
  app/__mocks__/recoil.ts
  app/packages/state/src/recoil/filters.test.ts
  app/packages/state/src/recoil/filters.ts
  app/packages/state/src/recoil/sidebarExpanded.ts
Due: none

reload dataset when importing cvat annotations
  fiftyone/utils/cvat.py
Due: pylint

rename VirtualPanel PanelRef
  fiftyone/operators/executor.py
  fiftyone/operators/panel.py
Due: pylint

fix merge
  app/packages/operators/src/CustomPanel.tsx
Due: none

docs tweaks
  docs/source/integrations/huggingface.rst
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/export_datasets.rst
Due: none

use del rather than pop when modifying dict fields
  fiftyone/core/runs.py
Due: pylint

add concurrency test
  tests/unittests/run_tests.py
Due: pylint

Merge v1.6.0 to main (#635)
  fiftyone/internal/requests.py
  fiftyone/internal/util.py
  fiftyone/plugins/permissions.py
  fiftyone/server/decorators.py
  fiftyone/server/routes/__init__.py
  fiftyone/server/routes/export.py
  fiftyone/server/routes/select.py
  fiftyone/server/routes/stages.py
  package/teams/Dockerfile
  package/teams/README.md
  package/teams/fiftyone/teams/.gitignore
  package/teams/fiftyone/teams/__init__.py
  package/teams/fiftyone/teams/app.py
  package/teams/fiftyone/teams/authenticate.py
  package/teams/fiftyone/teams/authentication.py
  package/teams/fiftyone/teams/authorize.py
  package/teams/fiftyone/teams/config.py
  package/teams/fiftyone/teams/mutation.py
  package/teams/fiftyone/teams/query.py
  package/teams/fiftyone/teams/routes.py
  package/teams/fiftyone/teams/token.py
  package/teams/setup.py
  setup.py
Due: pylint

add np casting to json encoder
  fiftyone/server/decorators.py
Due: pylint

isinstance
  fiftyone/server/decorators.py
Due: pylint

v
  package/teams/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.17.0.dev16 and `fiftyone-app` to 1.7.0.dev16
  package/teams/setup.py
  setup.py
Due: pylint

add ctx.prompt
  app/packages/operators/src/built-in-operators.ts
  app/packages/operators/src/state.ts
  app/packages/operators/src/types-internal.ts
  app/packages/operators/src/usePanelEvent.ts
  fiftyone/operators/executor.py
Due: pylint

fix ctx.prompt panel_state
  app/packages/core/src/plugins/SchemaIO/components/ButtonView.tsx
  app/packages/operators/src/built-in-operators.ts
  app/packages/operators/src/useCustomPanelHooks.ts
  app/packages/operators/src/usePanelEvent.ts
  app/packages/spaces/src/hooks.ts
  fiftyone/operators/executor.py
  fiftyone/operators/panel.py
Due: pylint

add explicit plot events
  app/packages/core/src/plugins/SchemaIO/components/PlotlyView.tsx
  app/packages/operators/src/CustomPanel.tsx
Due: none

remove logs
  app/packages/core/src/components/MainSpace/MainSpace.tsx
  app/packages/core/src/plugins/SchemaIO/components/PlotlyView.tsx
  app/packages/operators/src/usePanelEvent.ts
Due: none

upgrade three deps
  app/packages/looker-3d/package.json
  app/yarn.lock
Due: none

increase camera far clipping plane to 5000
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
Due: none

all materials have THREE.DoubleSide true
  app/packages/looker-3d/src/fo3d/utils.ts
Due: none

only show animation selector if more than one animation clip
  app/packages/looker-3d/src/hooks/use-animation-select.ts
Due: none

override texture resource path for all relevant assets
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/fo3d/mesh/Fbx.tsx
  app/packages/looker-3d/src/fo3d/mesh/Obj.tsx
  app/packages/looker-3d/src/fo3d/mesh/Ply.tsx
  app/packages/looker-3d/src/hooks/use-fo3d.ts
  app/packages/looker-3d/src/overrides/MtlLoader.js
Due: none

override base path for textures in gltf
  app/packages/looker-3d/src/fo3d/mesh/Gltf.tsx
  app/packages/looker-3d/src/fo3d/utils.ts
Due: none

fix gltf url parsing error
  app/packages/looker-3d/src/hooks/use-fo3d.ts
Due: none

store fo3d root in context
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/fo3d/context.tsx
  app/packages/looker-3d/src/hooks/use-fo3d.ts
Due: none

increase default far plane even more
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
Due: none

make grid more subtle
  app/packages/looker-3d/src/fo3d/Gizmos.tsx
Due: none

fo3d respect default up in plugin settings
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/fo3d/utils.ts
Due: none

add keyboard shortcut hints
  app/packages/looker-3d/src/action-bar/FullScreenToggler.tsx
  app/packages/looker-3d/src/action-bar/ToggleBackground.tsx
  app/packages/looker-3d/src/action-bar/ToggleGridHelper.tsx
  app/packages/looker-3d/src/action-bar/index.tsx
Due: none

use cameracontrols instead of orbit controls
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
Due: none

decrease far plane again; more spacious grid
  app/packages/looker-3d/src/fo3d/Gizmos.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
Due: none
