Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

text for dimension reduction tutorial
  docs/source/tutorials/dimension_reduction.ipynb
Due: ipynb-strip

adding to index
  docs/source/tutorials/index.rst
Due: none

adding images into tutorial
  docs/source/tutorials/dimension_reduction.ipynb
Due: ipynb-strip

adding thumbnail
  docs/source/_static/images/tutorials/dimension_reduction.png
Due: none

typo
  docs/source/tutorials/dimension_reduction.ipynb
Due: ipynb-strip

bump fiftyone and desktop versions
  package/desktop/setup.py
  setup.py
Due: pylint

filter empty lines (#4025)
  package/db/setup.py
Due: pylint

excluding 10 from zero-padding
  app/packages/looker/src/elements/util.ts
Due: none

reorg for integrations
  docs/source/integrations/annotation/cvat.rst
  docs/source/integrations/annotation/index.rst
  docs/source/integrations/annotation/labelbox.rst
  docs/source/integrations/annotation/labelstudio.rst
  docs/source/integrations/annotation/v7.rst
  docs/source/integrations/datasets/activitynet.rst
  docs/source/integrations/datasets/coco.rst
  docs/source/integrations/datasets/index.rst
  docs/source/integrations/datasets/open_images.rst
  docs/source/integrations/index.rst
  docs/source/integrations/models/huggingface.rst
  docs/source/integrations/models/index.rst
  docs/source/integrations/models/lightning_flash.rst
  docs/source/integrations/models/pytorch_hub.rst
  docs/source/integrations/models/super_gradients.rst
  docs/source/integrations/models/ultralytics.rst
  docs/source/integrations/vector_search/index.rst
  docs/source/integrations/vector_search/lancedb.rst
  docs/source/integrations/vector_search/milvus.rst
  docs/source/integrations/vector_search/mongodb.rst
  docs/source/integrations/vector_search/pinecone.rst
  docs/source/integrations/vector_search/qdrant.rst
  docs/source/integrations/vector_search/redis.rst
Due: none

cleanup
  docs/source/integrations/datasets/index.rst
  docs/source/integrations/models/index.rst
Due: none

organizing by popularity
  docs/source/integrations/annotation/index.rst
  docs/source/integrations/datasets/index.rst
  docs/source/integrations/models/index.rst
  docs/source/integrations/vector_search/index.rst
Due: none

adding redirects
  docs/source/redirects
Due: none

updating links
  docs/source/index.rst
Due: none

updating redirects
  docs/source/redirects
Due: none

Custom runs typo
  docs/source/plugins/developing_plugins.rst
Due: none

downgrading Jinja2 requirement
  requirements/common.txt
Due: none

never execute notebooks during build
  docs/source/conf.py
Due: pylint

fixing heading errors
  docs/source/tutorials/dimension_reduction.ipynb
  docs/source/tutorials/monocular_depth_estimation.ipynb
Due: ipynb-strip

[skip ci] automated bump `fiftyone` to 0.17.0.dev1 and `fiftyone-app` to 1.7.0.dev1
  package/teams/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.17.0.dev2 and `fiftyone-app` to 1.7.0.dev2
  package/teams/setup.py
  setup.py
Due: pylint

bump fiftyone dependency to reflect 1.7.0 versioning
  package/teams/setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.17.0.dev3 and `fiftyone-app` to 1.7.0.dev3
  package/teams/setup.py
  setup.py
Due: pylint

documenting visualization method customization
  docs/source/_includes/substitutions.rst
  docs/source/user_guide/brain.rst
Due: none

add support for passing kwargs directly when creating custom runs
  fiftyone/core/collections.py
  fiftyone/core/runs.py
  tests/unittests/run_tests.py
Due: pylint

fix fetch prefix for loading plugins
  app/packages/plugins/src/index.ts
Due: none

update internal image dependencies for v7 compatibility (#538)
  deployment/docker/Dockerfile-internal
Due: none

[skip ci] automated bump `fiftyone` to 0.15.5rc2 and `fiftyone-app` to 1.5.5rc2
  package/teams/setup.py
  setup.py
Due: pylint

adding release notes
  docs/source/release-notes.rst
  setup.py
Due: pylint

docs
  fiftyone/core/collections.py
Due: pylint

Merging fiftyone:release/v0.23.4 (#542)
  docs/source/_includes/substitutions.rst
  docs/source/release-notes.rst
  docs/source/user_guide/brain.rst
  fiftyone/core/collections.py
  fiftyone/core/runs.py
  setup.py
  tests/unittests/run_tests.py
Due: pylint

bumping compatibility version
  fiftyone/constants.py
Due: pylint

downgrade desktop
  package/desktop/setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.15.5rc3 and `fiftyone-app` to 1.5.5rc3
  package/teams/setup.py
  setup.py
Due: pylint

downgrade desktop (#544)
  package/desktop/setup.py
Due: pylint

stray comment
  e2e-pw/src/oss/specs/groups/modal-multi-pcd.spec.ts
Due: none

release v1.5.5
  package/teams/setup.py
  setup.py
Due: pylint
