Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^docs/theme/|\.rst$
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^docs/theme/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^(docs/theme/|app/)
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        exclude: ^docs/ # *do* commit ipynb outputs in `docs/`
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^docs/theme/
        language_version: system
  - repo: local
    hooks:
      - id: frontend-check
        name: biome check
        entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "^app\\/packages\\/(app|spotlight)\\/.*\\.(css|html|json|md|ts)$"

add id range batching
  fiftyone/core/collections.py
  fiftyone/core/map/batcher/__init__.py
  fiftyone/core/map/batcher/id_range_batch.py
  fiftyone/core/map/factory.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/database.py
Due: pylint

add tests
  tests/unittests/aggregation_tests.py
  tests/unittests/map/test_factory.py
  tests/unittests/map/test_id_range_batch.py
  tests/unittests/odm_tests.py
Due: pylint

add tests
  fiftyone/core/collections.py
  fiftyone/core/map/batcher/id_range_batch.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/database.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/view.py
  tests/unittests/map/test_id_range_batch.py
  tests/unittests/odm_tests.py
Due: pylint

add list_values to mongoDB query to optimize performance for python panel getting panel runs
  fiftyone/factory/repos/execution_store.py
  fiftyone/operators/store/service.py
  fiftyone/operators/store/store.py
  plugins/panels/similarity_search/run_manager.py
Due: pylint

Remove redundant Labs tag from Labs page
  docs/scripts/generate_plugin_docs.py
  docs/source/plugins/index.rst
Due: pylint

no hint if contains other match and support parallelizing delete
  fiftyone/constants.py
  fiftyone/core/collections.py
  fiftyone/core/map/batcher/id_range_batch.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/view.py
Due: pylint

fix tests and attributeerror
  fiftyone/core/view.py
  tests/unittests/map/test_id_range_batch.py
Due: pylint

copy _hint and _prefix
  fiftyone/core/view.py
Due: pylint

address comments
  fiftyone/core/aggregations.py
  fiftyone/core/collections.py
  tests/unittests/aggregation_tests.py
Due: pylint

feature flag and bump max to 16
  fiftyone/core/collections.py
  fiftyone/internal/features/flags.py
Due: pylint

address code rabbit comments
  fiftyone/factory/repos/execution_store.py
Due: pylint

fix and add tests
  tests/unittests/aggregation_tests.py
Due: pylint

fix tests
  tests/unittests/aggregation_tests.py
Due: pylint

use fsum
  fiftyone/core/aggregations.py
Due: pylint

address code rabbit comments
  app/packages/core/src/components/Actions/Similarity/utils.ts
  app/packages/similarity-search/src/components/Home/RunList.tsx
  app/packages/similarity-search/src/hooks/useFilteredRuns.ts
  app/packages/similarity-search/src/hooks/useRuns.ts
  app/packages/similarity-search/src/hooks/useSimilarityPanel.ts
  app/packages/similarity-search/src/utils.ts
Due: none

fix regression: click card should show results
  app/packages/similarity-search/src/components/Home/RunActions.tsx
  app/packages/similarity-search/src/components/Home/RunList.tsx
Due: none

address comments
  fiftyone/core/aggregations.py
  fiftyone/core/collections.py
  fiftyone/core/map/batcher/id_range_batch.py
  fiftyone/core/odm/mixins.py
  fiftyone/server/routes/tagging.py
  tests/unittests/aggregation_tests.py
  tests/unittests/map/test_factory.py
Due: pylint

fix test
  fiftyone/core/collections.py
Due: pylint

code rabbit
  app/packages/similarity-search/src/components/Home/RunActions.tsx
  app/packages/similarity-search/src/hooks/useFilteredRuns.ts
Due: none

cleanup
  app/packages/similarity-search/src/constants.ts
  app/packages/similarity-search/src/hooks/useRuns.ts
Due: none

fix consolidating facets
  fiftyone/core/collections.py
  tests/unittests/aggregation_tests.py
Due: pylint

move shared util function between core and similarity panel to construct run name to fiftyone/utilities format.ts and other misc fixes
  app/packages/core/src/components/Actions/Similarity/utils.ts
  app/packages/similarity-search/src/components/Home/RunList.tsx
  app/packages/similarity-search/src/constants.ts
  app/packages/similarity-search/src/hooks/useFilteredRuns.ts
  app/packages/similarity-search/src/hooks/useRuns.ts
  app/packages/similarity-search/src/hooks/useSimilarityPanel.ts
  app/packages/similarity-search/src/mui.ts
  app/packages/similarity-search/src/utils.ts
  app/packages/utilities/src/format.ts
Due: none

Add multiline support to TextFieldView (#7301)
  app/packages/core/src/plugins/SchemaIO/components/TextFieldView.tsx
  fiftyone/operators/_types/types.py
  tests/unittests/operators/types_tests.py
Due: pylint

fix replacement
  fiftyone/core/collections.py
Due: pylint

highlight tied to applied results run
  app/packages/similarity-search/src/components/Home/RunList.tsx
  app/packages/similarity-search/src/components/SimilaritySearchView.tsx
  app/packages/similarity-search/src/hooks/useSimilarityPanel.ts
Due: none

only auto load results from run list page if an execute now run finishes
  app/packages/similarity-search/src/hooks/useSimilarityPanel.ts
Due: none

apply results to DO runs too; default to dataset scope
  app/packages/similarity-search/src/hooks/useNewSearchForm.ts
  app/packages/similarity-search/src/hooks/useSimilarityPanel.ts
Due: none

sorting and view changes should not reset selection style back to defualt
  fiftyone/server/mutation.py
  fiftyone/server/routes/sort.py
Due: pylint

remove the reset from onSetView
  app/packages/app/src/useSetters/onSetView.ts
Due: frontend-check

sam_refactor_2: Segment-Anything model refactor (#7180)
  fiftyone/core/models.py
  fiftyone/utils/sam.py
  fiftyone/utils/torch.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

SAM2 model refactor
  fiftyone/utils/sam2.py
Due: pylint

Remove forward_pass_auto, use super's
  fiftyone/utils/sam2.py
Due: pylint

reduce samples
  tests/intensive/sam_model_tests.py
Due: pylint

Add combo parity test
  tests/intensive/sam_model_tests.py
Due: pylint

Add sam image model tests
  tests/intensive/model_zoo_tests.py
Due: pylint

undo unintended changes to model_zoo_tests
  tests/intensive/model_zoo_tests.py
Due: pylint

Add parity tests
  tests/intensive/sam_model_tests.py
Due: pylint

Sam2 video cleanup
  fiftyone/utils/sam2.py
Due: pylint

clean up unused code
  fiftyone/utils/sam2.py
Due: pylint

Update manifeset and delete sam2 tests
  fiftyone/zoo/models/manifest-torch.json
Due: none
