Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

doc updates
  docs/source/_static/images/recipes/detection_mistakenness.png
  docs/source/recipes/detection_mistakenness.ipynb
  docs/source/recipes/images/det_mistakenness_1.png
  docs/source/recipes/images/det_mistakenness_2.png
  docs/source/recipes/images/det_mistakenness_3.png
  docs/source/recipes/images/det_mistakenness_4.png
  docs/source/recipes/images/det_mistakenness_5.png
  docs/source/recipes/index.rst
  docs/source/user_guide/brain.rst
Due: ipynb-strip

spurious/missing and max mistakenness
  docs/source/recipes/detection_mistakenness.ipynb
  docs/source/user_guide/brain.rst
Due: ipynb-strip

add release notes
  docs/source/release-notes.rst
Due: none

expand docs explanations
  docs/source/recipes/detection_mistakenness.ipynb
  docs/source/user_guide/brain.rst
Due: ipynb-strip

app exclusions
  fiftyone/core/dataset.py
  fiftyone/core/odm/dataset.py
  fiftyone/server/main.py
Due: pylint

skip empty fields
  electron/app/utils/labels.ts
Due: none

add coco bug fix
  docs/source/release-notes.rst
Due: none

bump versions
  package/gui/setup.py
  setup.py
Due: pylint

clear state on disconnect
  electron/app/containers/App.tsx
Due: none

rm app exclusions
  fiftyone/core/dataset.py
  fiftyone/core/odm/dataset.py
  fiftyone/server/main.py
Due: pylint

using dataset_zoo_dir where necessary
  fiftyone/zoo/__init__.py
Due: pylint

adding models module
  fiftyone/core/models.py
Due: pylint

adding intial model zoo implementation
  fiftyone/zoo/models/__init__.py
Due: pylint

adding model zoo manifest
  fiftyone/zoo/models/manifest.json
Due: none

add back FiftyOne
  electron/app/components/Header.tsx
Due: none

fix stats
  fiftyone/server/main.py
Due: pylint

recipe uses confidence
  docs/source/recipes/detection_mistakenness.ipynb
  docs/source/recipes/images/det_mistakenness_1.png
  docs/source/recipes/images/det_mistakenness_2.png
  docs/source/recipes/images/det_mistakenness_3.png
  docs/source/recipes/images/det_mistakenness_4.png
  docs/source/recipes/images/det_mistakenness_5.png
  docs/source/recipes/images/det_mistakenness_6.png
  docs/source/user_guide/brain.rst
Due: ipynb-strip

fix extended stats updates
  fiftyone/server/main.py
Due: pylint

fixes
  electron/app/containers/App.tsx
  electron/app/recoil/selectors.ts
  fiftyone/server/main.py
Due: pylint

update distributions
  fiftyone/server/main.py
Due: pylint

max_mistakenness to mistakenness
  docs/source/recipes/detection_mistakenness.ipynb
  docs/source/user_guide/brain.rst
Due: ipynb-strip

linting
  fiftyone/utils/eval/coco.py
Due: pylint

updating Brain docs a bit
  docs/source/recipes/index.rst
  docs/source/user_guide/brain.rst
Due: none

linting
  docs/source/user_guide/brain.rst
Due: none

editing pass over recipe
  docs/source/recipes/detection_mistakenness.ipynb
Due: ipynb-strip

fixing typos
  docs/source/user_guide/brain.rst
Due: none

shortening tab title
  docs/source/recipes/index.rst
Due: none

fix useGA
  electron/app/containers/App.tsx
Due: none

udpating release notes
  docs/source/release-notes.rst
Due: none

update app package versions
  electron/app/package.json
  electron/package.json
Due: none

tweaking release note
  docs/source/release-notes.rst
Due: none

tweaks
  docs/source/recipes/detection_mistakenness.ipynb
Due: ipynb-strip

fix single value scalars
  fiftyone/server/main.py
Due: pylint

patch recharts-scale, remove snowpack typescript plugin errors to allow builds
  app/package.json
  app/patches/recharts-scale+0.4.3.patch
  app/snowpack.config.js
  app/yarn.lock
Due: none

app work
  app/.gitignore
  app/configs/.eslintrc
  app/configs/webpack.config.base.js
  app/configs/webpack.config.eslint.js
  app/configs/webpack.config.main.prod.babel.js
  app/configs/webpack.config.renderer.dev.babel.js
  app/configs/webpack.config.renderer.dev.dll.babel.js
  app/configs/webpack.config.renderer.prod.babel.js
  app/main.ts
  app/menu.ts
  app/package.json
  app/snowpack.config.js
  app/src/main.prod.js
  app/tsconfig.json
Due: none

upgrading yarn
  app/.gitignore
  app/.yarn/releases/yarn-berry.cjs
  app/.yarnrc.yml
Due: none

update yarn.lock
  app/yarn.lock
Due: none

patch recharts-scale
  app/package.json
  app/snowpack.config.js
  app/yarn.lock
Due: none

fix patch
  app/package.json
  app/recharts-scale-patch.diff
  app/yarn.lock
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
