Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

move stage to reading for base case on delete
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
Due: none

param validation template
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Due: none

parse and validate work
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Due: none

Make eval package, rename eval_ids
  fiftyone/utils/eval/__init__.py
  fiftyone/utils/eval/cocoeval.py
Due: pylint

Increase max left sidebar depth
  docs/source/_static/css/custom.css
  docs/source/_templates/layout.html
Due: none

more validation
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Due: none

removing python 2 package versions
  requirements/common.txt
  requirements/dev.txt
Due: none

remove m2r from requirements
  requirements/docs.txt
Due: none

add iscrowd description to docstring
  fiftyone/utils/eval/cocoeval.py
Due: pylint

eval was moved to new module
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

mvp validation and parsing
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Due: none

any -> dict
  fiftyone/core/stages.py
Due: pylint

Remove py2 requirements from setup.py
  setup.py
Due: pylint

working on loading data
  open_images_error_analysis/README.md
  open_images_error_analysis/scripts/load_data.py
Due: pylint

deletion and edge cases
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

editing pass over evaluate detections tutorial
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

fixing link
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

deleting duplicate file and reorganizing
  fiftyone/utils/cocoeval.py
  fiftyone/utils/eval/__init__.py
  fiftyone/utils/eval/coco.py
Due: pylint

spelling
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

tweaks
  docs/source/user_guide/dataset_creation/index.rst
  docs/source/user_guide/dataset_creation/zoo.rst
Due: none

tweak again
  docs/source/user_guide/dataset_creation/zoo.rst
Due: none

delete button work
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

Increase spacing around level 3 and 4 links in left sidebar
  docs/source/_static/css/custom.css
Due: none

load optimizations
  open_images_error_analysis/error_analysis/load_data.py
Due: pylint

removing token
  docs/source/getting_started/install.rst
Due: none

tweaking wording
  docs/source/getting_started/install.rst
Due: none

adding protocol
  docs/source/getting_started/install.rst
Due: none

linting docstrings
  docs/source/user_guide/using_views.rst
Due: none

deletion button logic
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

Update build-docs workflow to fix link
  .github/workflows/build-docs.yml
Due: none

Bump to 0.4.1
  package/gui/setup.py
  setup.py
Due: pylint

lazy import pycocotools
  fiftyone/utils/eval/coco.py
Due: pylint

document need for pycocotools
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

edge cases, debugging
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

horizontal scrolling
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/SearchResults.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/viewBarMachine.ts
Due: none

evaluation script
  open_images_error_analysis/README.md
  open_images_error_analysis/error_analysis/evaluation.py
  open_images_error_analysis/error_analysis/load_data.py
  open_images_error_analysis/scripts/evaluate_model.py
Due: pylint

instantiating samples with absolute paths
  fiftyone/core/sample.py
Due: pylint

moving check to ODM sample
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
Due: pylint

Use new tags, fix sizing
  electron/app/components/Sample.tsx
  electron/app/components/Tags/Tag.tsx
Due: none
