Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
        args: ["-l 79"]
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.6
        args: ["-l 79"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier

[skip ci] automated bump `fiftyone` to 0.16.0.dev1+3d8724b and `fiftyone-app` to 1.6.0.dev1+3d8724b
  package/teams/setup.py
  setup.py
Due: pylint

added support for shuffle and max_samples
  fiftyone/types/dataset_types.py
  fiftyone/utils/places.py
Due: pylint

allow local files in LS
  fiftyone/utils/labelstudio.py
Due: pylint

add labelstudio local storage doc
  docs/source/integrations/labelstudio.rst
Due: none

cleanup
  docs/source/integrations/labelstudio.rst
  fiftyone/utils/labelstudio.py
Due: pylint

adds OpenCLIP to index
  docs/source/integrations/index.rst
Due: none

capitalize CLIP
  docs/source/integrations/openclip.rst
Due: none

formatting consistency
  docs/source/integrations/openclip.rst
Due: none

fixing typos
  docs/source/integrations/openclip.rst
Due: none

code block formatting
  docs/source/integrations/openclip.rst
Due: none

spacing
  docs/source/integrations/openclip.rst
Due: none

adds natural language search
  docs/source/integrations/openclip.rst
Due: none

moving image
  docs/source/images/integrations/zsc-openclip.png
Due: none

link format
  docs/source/integrations/openclip.rst
Due: none

editing pass
  docs/source/integrations/index.rst
  docs/source/integrations/openclip.rst
Due: none

adding OpenAI logo
  docs/source/_static/images/integrations/openai.png
Due: none

allow infinitely iterable batchers instead of over a fixed iterable
  fiftyone/core/utils.py
  tests/unittests/utils_tests.py
Due: pylint

allow infinitely iterable batchers instead of over a fixed iterable (#4105)
  fiftyone/core/utils.py
  tests/unittests/utils_tests.py
Due: pylint

creates albumentations tutorial nb
  docs/source/tutorials/data_augmentation.ipynb
Due: ipynb-strip

fixes typo
  docs/source/tutorials/index.rst
Due: none

adds albumentations tutorial to index
  docs/source/tutorials/index.rst
Due: none

changes index listing
  docs/source/tutorials/index.rst
Due: none

adds tutorial content
  docs/source/tutorials/data_augmentation.ipynb
Due: ipynb-strip

[skip ci] automated bump `fiftyone` to 0.16.0rc1 and `fiftyone-app` to 1.6.0rc1
  package/teams/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.16.0rc1+537c5e8 and `fiftyone-app` to 1.6.0rc1+537c5e8
  package/teams/setup.py
  setup.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.16.0rc1+9d97347 and `fiftyone-app` to 1.6.0rc1+9d97347
  package/teams/setup.py
  setup.py
Due: pylint

restore from merge
  fiftyone/core/utils.py
Due: pylint

[skip ci] automated bump `fiftyone` to 0.15.7rc2 and `fiftyone-app` to 1.5.7rc2
  package/teams/setup.py
  setup.py
Due: pylint

Patch fix for zero-shot detection batching
  fiftyone/utils/transformers.py
Due: pylint

adds thumbnail image to index
  docs/source/_static/images/tutorials/data_augmentation.png
Due: none

removes method backtick hyperlinks
  docs/source/tutorials/dimension_reduction.ipynb
Due: ipynb-strip

looker _cls cleanup
  app/packages/looker/src/elements/common/util.test.ts
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/lookers/video.ts
  app/packages/looker/src/overlays/base.ts
  app/packages/looker/src/overlays/classifications.ts
  app/packages/looker/src/overlays/detection.ts
  app/packages/looker/src/overlays/index.ts
  app/packages/looker/src/overlays/util.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker/index.ts
  app/packages/looker/src/zoom.ts
Due: none
