Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

Add to TOC
  docs/source/getting_started/install.rst
Due: none

updating docstrings
  fiftyone/core/collections.py
  fiftyone/core/stages.py
Due: pylint

lint
  fiftyone/core/odm/document.py
Due: pylint

Mention app.wait() in a few more places in docs
  docs/source/_snippets/app-wait.rst
  docs/source/conf.py
  docs/source/tutorials/index.rst
  docs/source/user_guide/app.rst
  fiftyone/core/session.py
Due: pylint

hiding virtualenv from index
  docs/source/getting_started/install.rst
  docs/source/getting_started/virtualenv.rst
Due: none

using better beta link
  docs/source/getting_started/install.rst
Due: none

making link more obvious
  docs/source/getting_started/virtualenv.rst
Due: none

more improvements
  docs/source/getting_started/install.rst
Due: none

lint
  docs/source/getting_started/install.rst
Due: none

adding virtualenv back to ToC
  docs/source/getting_started/install.rst
  docs/source/getting_started/virtualenv.rst
Due: none

Add detection evaluation tutorial draft
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

Adding the Dataset Zoo to the user guide homepage
  docs/source/user_guide/index.rst
Due: none

refine
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

clear output
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

Remove AP
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

Clean up tag styles some, make more generic
  electron/app/components/Tags/Tag.stories.tsx
  electron/app/components/Tags/Tag.tsx
Due: none

successfully loading
  open_images_error_analysis/README.md
  open_images_error_analysis/scripts/inference.py
  open_images_error_analysis/scripts/load_data.py
Due: pylint

Add support for outlined and filled tags
  electron/app/components/Tags/Tag.stories.tsx
  electron/app/components/Tags/Tag.tsx
Due: none

Use absolute units to ensure an even-numbered pixel height
  electron/app/components/Tags/Tag.tsx
Due: none

Use a larger font size to fill out tags
  electron/app/components/Tags/Tag.tsx
Due: none

testing
  docs/source/tutorials/evaluate_detections.ipynb
Due: ipynb-strip

save tps in loop
  fiftyone/utils/cocoeval.py
Due: pylint

det tutorial images
  docs/source/images/eval_dets/coco_gt.png
  docs/source/images/eval_dets/crowded_sorted.png
  docs/source/images/eval_dets/crowded_view.png
  docs/source/images/eval_dets/fp_rev.png
  docs/source/images/eval_dets/launch_app.png
  docs/source/images/eval_dets/small_view.png
  docs/source/images/eval_dets/tp_rev.png
Due: none

move imgs
  docs/source/tutorials/images/eval_dets/coco_gt.png
  docs/source/tutorials/images/eval_dets/crowded_sorted.png
  docs/source/tutorials/images/eval_dets/crowded_view.png
  docs/source/tutorials/images/eval_dets/fp_rev.png
  docs/source/tutorials/images/eval_dets/launch_app.png
  docs/source/tutorials/images/eval_dets/small_view.png
  docs/source/tutorials/images/eval_dets/tp_rev.png
Due: none

Update tutorial
  docs/source/images/eval_dets/coco_gt.png
  docs/source/images/eval_dets/crowded_sorted.png
  docs/source/images/eval_dets/crowded_view.png
  docs/source/images/eval_dets/fp_rev.png
  docs/source/images/eval_dets/launch_app.png
  docs/source/images/eval_dets/small_view.png
  docs/source/images/eval_dets/tp_rev.png
  docs/source/tutorials/evaluate_detections.ipynb
  docs/source/tutorials/images/eval_dets/selected.png
Due: ipynb-strip

Switch away from pseudo-elements
  electron/app/components/Tags/Tag.tsx
Due: none

Add grid story
  electron/app/components/Tags/Tag.stories.tsx
Due: none

Support tags without triangles
  electron/app/components/Tags/Tag.stories.tsx
  electron/app/components/Tags/Tag.tsx
Due: none

cleaning up implementation of Document repr() generation
  fiftyone/core/labels.py
  fiftyone/core/odm/document.py
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
Due: pylint

linting docstrings
  fiftyone/core/odm/document.py
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
Due: pylint

Add counts for tags to sidebar
  electron/app/containers/SamplesContainer.tsx
  electron/app/recoil/selectors.ts
Due: none

linting
  fiftyone/core/dataset.py
  fiftyone/core/odm/document.py
  fiftyone/core/sample.py
Due: pylint

improving error message
  fiftyone/core/odm/sample.py
Due: pylint

fixing leaky _Sample interface
  fiftyone/core/sample.py
Due: pylint

linting docstrings
  fiftyone/core/odm/document.py
Due: pylint

unset _id when embedded documents are copied
  fiftyone/core/odm/document.py
Due: pylint

dark theme work
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/shared/colors.ts
Due: none

default to dark theme in stories
  electron/.storybook/preview.js
Due: none

update view bar story to use theme
  electron/app/components/ViewBar/ViewBar.stories.tsx
Due: none

pixels
  electron/app/components/ViewBar/ViewBar.stories.tsx
Due: none

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
