Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

remove deprecated warning
  fiftyone/core/models.py
  fiftyone/core/stages.py
  fiftyone/utils/iou.py
Due: pylint

resolve media field
  fiftyone/core/collections.py
Due: pylint

coderabbit knows all
  fiftyone/utils/utils3d.py
Due: pylint

documenting save context batching
  docs/source/user_guide/config.rst
Due: none

adding batching strategies to SaveContext
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/frame.py
  fiftyone/core/models.py
  fiftyone/core/utils.py
  fiftyone/core/view.py
  fiftyone/utils/annotations.py
  fiftyone/utils/eval/detection.py
  fiftyone/utils/eval/segmentation.py
  fiftyone/utils/geojson.py
  fiftyone/utils/image.py
  fiftyone/utils/labelbox.py
  fiftyone/utils/scale.py
  fiftyone/utils/video.py
  tests/unittests/model_tests.py
Due: pylint

add tutorial to index
  docs/source/tutorials/index.rst
Due: none

fix sidebar group rename not persisting
  app/packages/core/src/components/Sidebar/Entries/GroupEntries.tsx
  app/packages/state/src/hooks/useGroupEntries.ts
Due: none

linting old hooks
  app/packages/core/src/components/Sidebar/Entries/GroupEntries.tsx
  app/packages/state/src/hooks/useGroupEntries.ts
Due: none

updating docstrings
  docs/source/user_guide/using_datasets.rst
  docs/source/user_guide/using_views.rst
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/utils.py
  fiftyone/core/view.py
Due: pylint

centralize select_fields() usage
  fiftyone/core/models.py
Due: pylint

rename parameter to write_clips for clarity
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/parsers.py
Due: pylint

warn earlier
  fiftyone/utils/patches.py
  fiftyone/utils/scale.py
Due: pylint

use iter_samples() for robustness
  fiftyone/utils/utils3d.py
Due: pylint

adding ability to read multiple files in a threadpool
  fiftyone/core/storage.py
Due: pylint

support sample collections
  fiftyone/core/utils.py
Due: pylint

add large task warning
  fiftyone/utils/cvat.py
  fiftyone/utils/labelstudio.py
Due: pylint

adding skip_failures option
  fiftyone/utils/utils3d.py
Due: pylint

documenting new download parameters
  docs/source/teams/cloud_media.rst
Due: none

adding release notes
  docs/source/release-notes.rst
Due: none

Text and code for tutorial
  docs/source/tutorials/clustering.ipynb
Due: ipynb-strip

adds visuals
  docs/source/_static/images/tutorials/clustering.jpg
  docs/source/tutorials/clustering.ipynb
  docs/source/tutorials/images/clustering_color_by_cluster.gif
  docs/source/tutorials/images/clustering_compute_clusters_operator.gif
  docs/source/tutorials/images/clustering_dataset_in_app.jpg
  docs/source/tutorials/images/clustering_filter_by_cluster_number.gif
  docs/source/tutorials/images/clustering_get_clustering_info.jpg
  docs/source/tutorials/images/clustering_gpt4v_labeling.gif
  docs/source/tutorials/images/clustering_hdbscan.gif
  docs/source/tutorials/images/clustering_open_embeddings_panel.gif
  docs/source/tutorials/images/clustering_preview.jpg
  docs/source/tutorials/images/clustering_umap_limitation.gif
  docs/source/tutorials/index.rst
Due: ipynb-strip

fix saved view selector covering expanded view stage popover
  app/packages/components/src/components/Selection/Selection.tsx
  e2e-pw/src/oss/poms/saved-views.ts
  e2e-pw/src/oss/specs/smoke-tests/saved-views.spec.ts
Due: none

fix proxy port in e2e devserver
  app/packages/app/vite.config.ts
  app/packages/core/vite.config.ts
  e2e-pw/package.json
Due: none

updating download context docs
  docs/source/release-notes.rst
  docs/source/teams/cloud_media.rst
Due: none

fix saved view selector covering expanded view stage popover (#4242)
  app/packages/components/src/components/Selection/Selection.tsx
  e2e-pw/src/oss/poms/saved-views.ts
  e2e-pw/src/oss/specs/smoke-tests/saved-views.spec.ts
Due: none

adding release note for #4241
  docs/source/release-notes.rst
Due: none

adding target_size_bytes option
  fiftyone/core/collections.py
Due: pylint

avoiding double call
  fiftyone/core/dataset.py
  fiftyone/core/view.py
Due: pylint

handle missing values
  fiftyone/core/collections.py
Due: pylint

exact sizes for alternate media fields
  fiftyone/core/collections.py
  fiftyone/core/metadata.py
Due: pylint

better handling of grouped datasets
  fiftyone/core/collections.py
Due: pylint

updating docstring
  fiftyone/core/collections.py
Due: pylint

add release note for #4242
  docs/source/release-notes.rst
Due: none

add config option
  fiftyone/core/collections.py
  fiftyone/core/config.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
