Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

fix close with json and help panels
  app/packages/looker/src/elements/common/actions.ts
Due: none

fixes #2472
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/looker/src/elements/common/actions.ts
  app/packages/looker/src/elements/common/looker.ts
Due: none

undo custom_exporter autoformat
  docs/source/recipes/custom_exporter.ipynb
Due: ipynb-strip

check active
  app/packages/core/src/components/Actions/Checker.tsx
Due: none

rvt
  docs/source/recipes/custom_exporter.ipynb
Due: ipynb-strip

plugin error handling
  app/packages/components/src/components/ErrorBoundary/ErrorBoundary.tsx
  app/packages/plugins/src/components.tsx
  app/packages/plugins/src/index.ts
Due: none

fix bug when out_group_slice specified
  fiftyone/utils/utils3d.py
Due: pylint

change default color seed so that orange is first color
  app/packages/state/src/recoil/atoms.ts
Due: none

handle empty vis runs
  app/packages/embeddings/src/EmbeddingsPlot.tsx
  app/packages/embeddings/src/fetch.tsx
  app/packages/embeddings/src/useViewChangeEffect.tsx
  fiftyone/server/routes/embeddings.py
Due: pylint

default to default slice when non-looker2d sample is pinned in modal
  app/packages/core/src/components/Group/Group.tsx
  app/packages/core/src/components/Modal/Group.tsx
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/state/src/recoil/groups.ts
  app/packages/state/src/recoil/modal.ts
Due: none

fix session sync bug
  app/packages/core/src/components/GroupSliceSelector.tsx
Due: none

remove unused code
  app/packages/core/src/components/Sidebar/Sidebar.tsx
Due: none

fix crashing map on embeddings patch lasso
  app/packages/map/src/Map.tsx
Due: none

skip fetched extended stage if dataset is changed
  app/packages/embeddings/src/useExtendedStageEffect.tsx
Due: none

catch failed parsing
  app/packages/core/src/components/ViewBar/viewBarMachine.ts
Due: none

undo
  fiftyone/core/stages.py
Due: pylint

use view as truth
  app/packages/core/src/components/Sidebar/ViewSelection/index.tsx
  fiftyone/core/state.py
  fiftyone/server/events.py
Due: pylint

tweaks
  fiftyone/core/state.py
Due: pylint

[Bugfix] Error when pressing enter twice (#2757)
  app/packages/core/src/components/Actions/Checker.tsx
Due: none

patching tests for now
  tests/unittests/similarity_tests.py
Due: pylint

removing fiftyone-brain patch
  tests/unittests/similarity_tests.py
Due: pylint

handle label tags
  app/packages/core/src/components/FieldLabelAndInfo/index.tsx
  app/packages/core/src/components/Filters/LabelFieldFilter.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter.tsx
  app/packages/core/src/components/Filters/categoricalFilter/CategoricalFilter.tsx
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/core/src/components/Sidebar/Entries/EntryCounts.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterableTagEntry.tsx
  app/packages/core/src/components/Sidebar/Entries/PathValueEntry.tsx
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none

display counts
  app/packages/core/src/components/Filters/LabelFieldFilter.tsx
  app/packages/core/src/components/Filters/categoricalFilter/Wrapper.tsx
  app/packages/core/src/components/Sidebar/Entries/EntryCounts.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none

update filter label tags backend
  app/packages/core/src/components/Filters/categoricalFilter/Wrapper.tsx
  app/packages/core/src/components/Filters/categoricalFilter/filterOption/FilterOption.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
  fiftyone/server/view.py
Due: pylint

hard code to combine sample tags and tags in resovle groups to all tag group
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/state/src/recoil/sidebar.ts
Due: none

display sample tags as a listfield(stringfield) in the group
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
  app/packages/core/src/components/Sidebar/Entries/PathValueEntry.tsx
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/sidebar.ts
Due: none

fix selector search hook bug
  app/packages/components/src/components/Selector/Selector.tsx
  app/packages/core/src/components/Filters/categoricalFilter/CategoricalFilter.tsx
  app/packages/state/src/recoil/sidebar.ts
Due: none

update UI tests
  app/packages/state/tests/recoil/sidebar.test.ts
Due: none

fix make filter label stages
  fiftyone/server/view.py
Due: pylint

one can select empty label tags or sample tags field
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
Due: none

cleanup and address review feedback
  app/packages/components/src/components/Selector/Selector.tsx
  app/packages/core/src/components/Filters/StringFieldFilter.tsx
  app/packages/core/src/components/Filters/categoricalFilter/CategoricalFilter.tsx
  app/packages/core/src/components/SamplesContainer.tsx
  app/packages/state/src/recoil/sidebar.ts
  fiftyone/server/view.py
Due: pylint

improve sidebar render
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
  fiftyone/server/view.py
Due: pylint

only subscribe to labelTagsCount when necessary and make variable names more descriptive
  app/packages/core/src/components/Filters/categoricalFilter/CategoricalFilter.tsx
  app/packages/core/src/components/Sidebar/Entries/EntryCounts.tsx
Due: none

fix hook error
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry.tsx
Due: none

is matching
  fiftyone/server/view.py
Due: pylint

fix boolean
  app/packages/state/src/recoil/pathFilters/index.ts
Due: none

all tags => tags as title
  app/packages/core/src/components/Sidebar/Entries/GroupEntries.tsx
  app/packages/state/src/recoil/sidebar.ts
Due: none

remove logs
  app/packages/state/src/recoil/sidebar.ts
Due: none

Update server test
  tests/unittests/server_tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  ipynb-strip: any of: \.ipynb$
