Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

test(app): cover the sidebar aggregation-waterfall changes
  app/__mocks__/recoil.ts
  app/packages/core/src/components/Filters/NumericFieldFilter/state.test.ts
Due: none

perf(app): parallelize sidebar aggregation reads
  app/packages/state/src/recoil/pathData/counts.ts
  app/packages/state/src/recoil/pathData/numeric.ts
Due: none

perf(app): prefetch numeric filter aggregations above the bounds read
  app/packages/core/src/components/Filters/NumericFieldFilter/NumericFieldFilter.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/state.ts
Due: none

Address CodeRabbit review: use useSetAtom, drop stable setter from deps
  app/packages/lighter/src/react/useLighterSetup.ts
Due: none

make anim lazy loaded and other small fixes
  app/packages/core/src/components/Modal/Lighter/GpuErrorAnimation.tsx
  app/packages/core/src/components/Modal/Lighter/LighterSampleRenderer.module.css
  app/packages/core/src/components/Modal/Lighter/LighterSampleRenderer.tsx
Due: none

Add WebGL initialization error panel with Lottie animation
  app/package.json
  app/packages/core/src/components/Modal/Lighter/LighterSampleRenderer.tsx
  app/packages/core/src/components/Modal/Lighter/assets/gpu-error.json
  app/packages/lighter/src/react/useLighterSetup.ts
  app/packages/lighter/src/renderer/SharedPixiApplication.ts
  app/packages/lighter/src/state.ts
  app/yarn.lock
Due: none

update NEW callouts, update AL docs
  docs/source/enterprise/agentic_labeling.rst
  docs/source/enterprise/verified_auto_labeling.rst
  docs/source/index.rst
  docs/source/user_guide/evaluation.rst
  docs/source/workflows/annotation.rst
  docs/source/workflows/evaluation.rst
Due: none

Don't force label text color for temporal tag checkboxes
  app/packages/core/src/components/Filters/StringFilter/Checkboxes.tsx
Due: none

Fix CI lint failure and address CodeRabbit review on PR #8110
  app/packages/multimodal/src/adapters/mcap/react/McapSourcePlayback.test.tsx
  app/packages/multimodal/src/adapters/mcap/react/McapSourcePlayback.tsx
  app/packages/multimodal/src/adapters/mcap/resources/read-topics.test.ts
  app/packages/multimodal/src/adapters/mcap/timeline-mode.test.ts
  app/packages/multimodal/src/adapters/mcap/timeline-mode.ts
  app/packages/playback/index.ts
  app/packages/playback/src/lib/playback/PlaybackProvider.tsx
  app/packages/playback/src/lib/playback/atoms.ts
  app/packages/playback/src/lib/playback/timeline-display.ts
  app/packages/playback/src/lib/playback/use-playback-engine.ts
  app/packages/playback/src/lib/playback/use-playback-state.ts
  app/packages/playback/src/views/TimelineControls/timeline-controls-utils.test.ts
  app/packages/playback/src/views/TimelineControls/timeline-controls-utils.ts
  app/packages/playback/src/views/TimelineRuler/TimelineRuler.test.tsx
  app/packages/playback/src/views/TimelineRuler/TimelineRuler.tsx
Due: none

fix(core): builtins keep their arguments through both printers
  app/packages/view-bar/src/expression/parse.test.ts
  app/packages/view-bar/src/expression/print.ts
  fiftyone/core/expression_ast.py
Due: pylint

feat(view-bar): an expression keeps both of its representations
  app/packages/app/src/components/Nav.tsx
  app/packages/state/src/accessors/dataset.ts
  app/packages/view-bar/src/StageCard.tsx
  app/packages/view-bar/src/ViewBar.tsx
  app/packages/view-bar/src/builder/ExpressionEditor.tsx
  app/packages/view-bar/src/builder/suggest.test.ts
  app/packages/view-bar/src/builder/suggest.ts
  app/packages/view-bar/src/controls.tsx
  app/packages/view-bar/src/fields.ts
  app/packages/view-bar/src/layout.test.ts
  app/packages/view-bar/src/params.ts
  app/packages/view-bar/src/state.ts
  e2e-pw/src/oss/specs/view-bar.spec.ts
Due: none

docs(app): record why the prefetch is a render-phase read
  app/packages/core/src/components/Filters/NumericFieldFilter/NumericFieldFilter.tsx
Due: none

feat(view-bar): the expression editor earns its keep
  app/packages/view-bar/src/StageCard.tsx
  app/packages/view-bar/src/ViewBar.tsx
  app/packages/view-bar/src/builder/ExpressionEditor.tsx
  app/packages/view-bar/src/builder/suggest.test.ts
  app/packages/view-bar/src/builder/suggest.ts
  app/packages/view-bar/src/controls.tsx
  app/packages/view-bar/src/layout.test.ts
  app/packages/view-bar/src/params.ts
  app/packages/view-bar/src/state.ts
Due: none

style(app): balance the header
  app/packages/app/src/components/Nav.tsx
  app/packages/components/src/components/Header/Header.module.css
  app/packages/components/src/components/Icons/Icons.module.css
Due: none

move lottie to binary, change player, lint and fix tests
  app/package.json
  app/packages/core/src/components/Modal/Lighter/GpuErrorAnimation.tsx
  app/packages/core/src/components/Modal/Lighter/assets/gpu-error.json
  app/packages/core/src/components/Modal/Lighter/assets/gpu-error.lottie
  app/packages/lighter/src/renderer/SharedPixiApplication.ts
  app/yarn.lock
Due: none

feat(view-bar): suggest from the served operator catalog
  app/packages/app/src/pages/datasets/DatasetPage.tsx
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/relay/src/fragments/__generated__/expressionCatalogFragment.graphql.ts
  app/packages/relay/src/fragments/expressionCatalogFragment.ts
  app/packages/relay/src/fragments/index.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/relay/src/queries/dataset.ts
  app/packages/state/src/accessors/dataset.ts
  app/packages/state/src/recoil/view.ts
  app/packages/view-bar/src/StageCard.tsx
  app/packages/view-bar/src/ViewBar.tsx
  app/packages/view-bar/src/builder/ExpressionEditor.tsx
  app/packages/view-bar/src/builder/catalog.test.ts
  app/packages/view-bar/src/builder/catalog.ts
  app/packages/view-bar/src/builder/suggest.test.ts
  app/packages/view-bar/src/controls.tsx
  app/packages/view-bar/src/fields.test.ts
  app/packages/view-bar/src/fields.ts
Due: frontend-check

fix(view-bar): keep an incomplete stage when focus leaves the bar
  app/packages/view-bar/src/StageCard.tsx
  app/packages/view-bar/src/ViewBar.tsx
Due: none

fix(app): suppress browser autofill on typeahead inputs
  app/packages/app/src/components/DatasetSelector.tsx
  app/packages/view-bar/src/ViewBar.tsx
  app/packages/view-bar/src/controls.tsx
  app/packages/view-bar/src/params.ts
Due: none

fix(view-bar): put the keyboard on Apply when a stage is removed
  app/packages/view-bar/src/ViewBar.tsx
Due: none

fix(view-bar): only expressions wait on earlier parameters
  app/packages/view-bar/src/params.ts
Due: none

fix(view-bar): a blocked expression editor says why it is locked
  app/packages/view-bar/src/StageCard.tsx
  app/packages/view-bar/src/builder/ExpressionEditor.tsx
  app/packages/view-bar/src/controls.tsx
Due: none

build(app): drop manual vendor chunking under rolldown
  app/packages/app/vite.config.ts
Due: frontend-check

fix(components): dark syntax theme when the color mode is unknown
  app/packages/components/src/components/CodeBlock/index.tsx
Due: none

add the intensive python test lane
  .github/workflows/intensive-tests.yml
  tests/intensive/README.md
  tests/intensive/scheduled.txt
Due: none

add ruff and ty correctness gates
  .github/workflows/lint-python.yml
  .pre-commit-config.yaml
  fiftyone/constants.py
  fiftyone/operators/decorators.py
  fiftyone/utils/labelstudio.py
Due: pylint

update python developer workflows
  CONTRIBUTING.md
  Makefile
  STYLE_GUIDE.md
  app/README.md
  docs/README.md
  docs/source/conf.py
  docs/source/contribute/index.rst
  install.bat
  install.sh
  package/README.md
Due: pylint

validate python release artifacts
  .github/workflows/build.yml
  .github/workflows/version-guard.yml
  tests/utils/validate_distribution.py
Due: pylint

modernize python package metadata
  MANIFEST.in
  VERSION
  pyproject.toml
  setup.py
Due: pylint

lock python dependency environments
  .github/renovate.json
  requirements/codecov.yml
  requirements/dev.txt
  requirements/docs.txt
  requirements/e2e.txt
  requirements/extras.txt
  requirements/github.txt
  requirements/test.txt
  uv.lock
Due: none

split and audit core and ml-cloud tests
  .github/workflows/pr.yml
  .github/workflows/test.yml
  .github/workflows/windows-test.yml
  pytest.ini
  tests/isolated/protobuf_test.py
  tests/misc/torch_tests.py
  tests/unittests/constants_tests.py
  tests/unittests/dataset_tests.py
  tests/unittests/documents_tests.py
  tests/unittests/get_item_tests.py
  tests/unittests/import_export_tests.py
  tests/unittests/model_tests.py
  tests/unittests/pytest_config_tests.py
  tests/unittests/server/routes/test_sample.py
  tests/unittests/torch_dataset_tests.py
  tests/unittests/utils/test_depth_anything.py
  tests/unittests/utils/test_keypoint_output.py
  tests/unittests/utils/test_paddleocr.py
  tests/unittests/utils/test_qwen3_vl.py
  tests/unittests/utils/test_rfdetr.py
  tests/unittests/utils/test_sam2.py
  tests/unittests/utils/test_sharp.py
  tests/unittests/utils/test_transformer_pooler.py
  tests/unittests/utils/test_ultralytics.py
  tests/utils/pytest_wrapper.py
  tests/utils/validate_test_environment.py
  tests/utils/validate_test_partitions.py
Due: pylint

harden database packaging and test services
  .github/workflows/build-db.yml
  .github/workflows/build-docker-internal.yml
  package/db/setup.py
  tests/isolated/service_tests.py
Due: pylint

drop obsolete coverage and graphql workflows
  .github/workflows/build-graphql.yml
  codecov.yml
Due: none

update python ci and e2e images
  .github/workflows/build-ci-images.yml
  .github/workflows/build-docs.yml
  .github/workflows/e2e.yml
  e2e-pw/ci/Dockerfile
  e2e-pw/scripts/generate-screenshots-docker-image/Dockerfile
  tests/ci/Dockerfile
  tests/ci/Dockerfile.dockerignore
Due: none

address python tooling review feedback
  .github/workflows/build-ci-images.yml
  .github/workflows/build-docker-internal.yml
  .github/workflows/build-docs.yml
  .github/workflows/intensive-tests.yml
  .github/workflows/pr.yml
  .github/workflows/version-guard.yml
  CONTRIBUTING.md
  Makefile
  docs/source/conf.py
  e2e-pw/ci/Dockerfile
  e2e-pw/scripts/generate-screenshots-docker-image/Dockerfile
  install.bat
  install.sh
  package/README.md
  package/db/setup.py
  pyproject.toml
  tests/ci/Dockerfile
  tests/intensive/README.md
  tests/utils/validate_distribution.py
Due: pylint

finish python tooling review fixes
  install.bat
  tests/intensive/README.md
Due: none

fix(spaces): unwrap interop-wrapped panel icons before rendering
  app/packages/spaces/src/components/PanelIcon.tsx
Due: none

fix(view-bar): reopen an applied expression in canonical form
  app/packages/view-bar/src/ViewBar.tsx
Due: none

docs(view-bar): close out addressed review notes
  app/packages/view-bar/README.md
  app/packages/view-bar/src/builder/suggest.test.ts
  app/packages/view-bar/src/expression/parse.test.ts
Due: none

test(e2e): regenerate the bool-histogram golden for the taller layout
  e2e-pw/src/oss/specs/histograms.spec.ts-snapshots/bool-histogram-chromium-linux.png
Due: none

chore(app): bump @voxel51/voodo to 0.0.41
  app/package.json
  app/packages/components/package.json
  app/packages/core/package.json
  app/packages/multimodal/package.json
  app/packages/playback/package.json
  app/packages/similarity-search/package.json
  app/packages/state/package.json
  app/packages/tiling/package.json
  app/packages/video-annotation/package.json
  app/yarn.lock
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
