Repository voxel51/fiftyone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip, frontend-check

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

frontend-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

open all links in a new tab to prevent users from leaving the docs
  docs/source/_templates/footer-links.html
  docs/source/_templates/navbar-links.html
  docs/source/_templates/sections/footer.html
Due: none

chore: add dev-docs publish action (#6215)
  .github/workflows/build-docs.yml
Due: none

Merge pull request #6218 from voxel51/ado/integrate-kapa-agent
  docs/source/_static/css/custom.css
  docs/source/_static/js/custom.js
Due: none

chore: don`t delete the robots.txt (#6232)
  .github/workflows/build-docs.yml
Due: none

Merge pull request #6237 from voxel51/ado/getting-started-base
  docs/source/getting_started_guides/index.rst
  docs/source/index.rst
Due: none

Merge pull request #6234 from voxel51/ado/update-header-docs
  docs/source/_templates/navbar-links.html
  docs/source/_templates/sections/footer.html
  docs/source/conf.py
Due: pylint

Merge pull request #6239 from voxel51/ado/add-getting-started-guide-card
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/custom_directives.py
  docs/source/index.rst
Due: pylint

docs: optimize inline code font size (#6244)
  docs/source/_static/css/custom.css
  docs/source/assets/styles/components/_code.sass
Due: none

Optimize layout for dense content on large screens (#6243)
  docs/source/_static/css/custom.css
  docs/source/assets/styles/layout/_main.sass
Due: none

fix: increase font size on CTAs and tab headings (#6242)
  docs/source/_static/css/custom.css
  docs/source/assets/styles/components/_buttons.sass
  docs/source/assets/styles/components/_tabs.sass
Due: none

fix: set aspect ratio limit (#6240)
  docs/source/_static/css/custom.css
  docs/source/assets/styles/components/_cards.sass
Due: none

docs: table width and row-styling (#6241)
  docs/source/_static/css/custom.css
  docs/source/assets/styles/base/_variables.scss
  docs/source/assets/styles/components/_tables.sass
Due: none

Merge pull request #6245 from voxel51/ado/getting-started-layout-large-screens
  .prettierignore
  docs/source/_static/css/custom.css
  docs/source/assets/styles/components/_cards.sass
  docs/source/assets/styles/layout/_main.sass
Due: none

Merge pull request #5967 from danielgural/develop
  docs/source/conf.py
  docs/source/getting_started_guides/medical_imaging/01_getting_started.ipynb
  docs/source/getting_started_guides/medical_imaging/index.rst
  docs/source/getting_started_guides/medical_imaging/summary.rst
  docs/source/getting_started_guides/model_evaluation/01_basic_evaluation.ipynb
  docs/source/getting_started_guides/model_evaluation/02_advanced_analysis.ipynb
  docs/source/getting_started_guides/model_evaluation/index.rst
  docs/source/getting_started_guides/model_evaluation/summary.rst
  docs/source/getting_started_guides/object_detection/01_loading_datasets.ipynb
  docs/source/getting_started_guides/object_detection/02_adding_detections.ipynb
  docs/source/getting_started_guides/object_detection/03_finding_mistakes.ipynb
  docs/source/getting_started_guides/object_detection/04_evaluating_detections.ipynb
  docs/source/getting_started_guides/object_detection/index.rst
  docs/source/getting_started_guides/object_detection/summary.rst
  docs/source/getting_started_guides/self_driving/01_loading_datasets.ipynb
  docs/source/getting_started_guides/self_driving/02_advanced_techniques.ipynb
  docs/source/getting_started_guides/self_driving/index.rst
  docs/source/getting_started_guides/self_driving/summary.rst
  docs/source/getting_started_guides/threed_visual_ai/01_getting_started_3d.ipynb
  docs/source/getting_started_guides/threed_visual_ai/02_loading_annotations.ipynb
  docs/source/getting_started_guides/threed_visual_ai/index.rst
  docs/source/getting_started_guides/threed_visual_ai/summary.rst
  docs/source/user_guide/using_datasets.rst
Due: pylint

add-llmdet-family
  fiftyone/zoo/models/manifest-torch.json
Due: none

Update parsing mask targets
  fiftyone/utils/torch.py
Due: pylint

Update torch.py
  fiftyone/utils/torch.py
Due: pylint

Add conf thresh and mask targets
  fiftyone/utils/torch.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

schema manager pages
  app/packages/app/index.html
  app/packages/core/src/components/Modal/Sidebar/Annotate/Actions.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Annotate.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/Components.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/ImportSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/ActiveSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Components.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/EditAnnotationFieldSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/FieldRow.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/FieldsTabs.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Footer.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/Modal.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/NoActiveSchema.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/OtherFields.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/SchemaManager/index.tsx
  app/packages/core/src/components/Modal/Sidebar/Annotate/state.ts
Due: frontend-check

PR feedback
  fiftyone/utils/torch.py
  fiftyone/zoo/models/manifest-torch.json
Due: pylint

Removing all typos from FiftyOne repo
  app/packages/embeddings/src/usePlotSelection.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  docs/source/dataset_zoo/datasets.rst
  docs/source/integrations/activitynet.rst
  docs/source/integrations/coco.rst
  docs/source/integrations/open_images.rst
  docs/source/user_guide/evaluation.rst
  e2e-pw/src/oss/poms/field-visibility/field-visibility.ts
  e2e-pw/src/oss/poms/sidebar.ts
  e2e-pw/src/oss/specs/smoke-tests/field-visibility.spec.ts
  e2e-pw/src/oss/specs/smoke-tests/quickstart.spec.ts
Due: none

rabbit
  fiftyone/operators/input_utils.py
Due: pylint

PR comment fixes
  fiftyone/operators/input_utils.py
Due: pylint

add target-view utility for operators
  fiftyone/operators/__init__.py
  fiftyone/operators/constants.py
  fiftyone/operators/executor.py
  fiftyone/operators/input_utils.py
Due: pylint

not fstring
  fiftyone/operators/input_utils.py
Due: pylint

minor rename; reformat docstring
  docs/source/images/plugins/operators/examples/operator-target-view.png
  fiftyone/operators/__init__.py
  fiftyone/operators/executor.py
  fiftyone/operators/input_utils.py
  tests/unittests/operators/executor_tests.py
  tests/unittests/operators/input_utils_tests.py
Due: pylint

add automated tests; fix 1 bug
  fiftyone/operators/__init__.py
  fiftyone/operators/input_utils.py
  tests/unittests/operators/executor_tests.py
  tests/unittests/operators/input_utils_tests.py
Due: pylint

random doc fix i found in exec cache
  fiftyone/operators/cache/decorator.py
Due: pylint

add operator target view utility to developing plugins doc
  docs/source/plugins/developing_plugins.rst
Due: none

rabbit
  fiftyone/operators/input_utils.py
  tests/unittests/operators/input_utils_tests.py
Due: pylint

document ViewTarget constants
  fiftyone/operators/constants.py
Due: pylint

use base view for clips/frames also; clarify base view
  fiftyone/operators/input_utils.py
Due: pylint

[docs] Allow custom tag for independent deployments
  docs/source/conf.py
Due: pylint

rotate up vectory by quaternion in height shader
  app/packages/looker-3d/src/fo3d/point-cloud/Pcd.tsx
  app/packages/looker-3d/src/fo3d/point-cloud/use-pcd-material.tsx
  app/packages/looker-3d/src/renderables/pcd/shaders/components.tsx
  app/packages/looker-3d/src/renderables/pcd/shaders/glsl.ts
  app/packages/looker-3d/src/renderables/pcd/shaders/types.ts
Due: none

use new material in ply too
  app/packages/looker-3d/src/fo3d/mesh/Ply.tsx
Due: none

make sure to transform hovered point if transformation present in asset
  app/packages/looker-3d/src/fo3d/mesh/Ply.tsx
  app/packages/looker-3d/src/fo3d/point-cloud/Pcd.tsx
Due: none

extract common hover logic to another file
  app/packages/looker-3d/src/fo3d/mesh/Ply.tsx
  app/packages/looker-3d/src/fo3d/point-cloud/Pcd.tsx
  app/packages/looker-3d/src/hooks/use-point-cloud-hover.tsx
Due: none

fix ply vertex colors bug
  app/packages/looker-3d/src/fo3d/mesh/Ply.tsx
  app/packages/looker-3d/src/fo3d/point-cloud/use-pcd-material.tsx
Due: none

undo softmax on gpu
  fiftyone/utils/torch.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/theme/|app/)
  ipynb-strip: any of: \.ipynb$, but not: ^docs/
  frontend-check: any of: ^app\/packages\/(app|spotlight)\/.*\.(css|html|json|md|ts)$
